<% if @product_info.errors.any? %>
    <div id="error_explanation">
        <% @product_info.errors.full_messages.each do |message| %>
            <span class="label label-warning"><%= message %></span>
        <% end %>
        <hr/>
    </div>
<% end %>

<%= form_for [:admin, @product_info], html: {class: "form-horizontal"} do |f| %>
<!-- /2 columns form-->
    <div class="panel panel-flat">
        
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <legend class="text-semibold"><i class="icon-info22 position-left"></i> Cập nhật thông tin sản phẩm</legend>
                        
                        <div class="form-group">
                            <%= f.label "Hình ảnh: ", class: "col-lg-3 control-label" %>
                            <div class="col-lg-9">
                              <%= image_tag(@product_info.product.product_image.image, size: "240x200", alt: "Hình ảnh", class: "img-rouded") %>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <%= f.label "Mô tả sản phẩm: ", class: "col-lg-3 control-label" %>
                            <div class="col-lg-10">
                                <b><%= (@product_info.product.html_description).html_safe if !@product_info.product.html_description.nil? %></b>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-group">
                            <%= f.label "Phân loại sản phẩm: ", class: "col-lg-3 control-label" %>
                            <div class="col-lg-9">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-15">
                                            <div class="checkbox">
                                                <label>
                                                    <div class="checker">
                                                            <input type="checkbox" class="styled" name="product_info[product_hot]" <%= 'checked' if @product_info.product_hot == "on" %>>
                                                    </div>
                                                    Sản phẩm 'HOT'
                                                </label>
                                            </div>
                                        </div>
                                        <div class="mb-15">
                                            <div class="mb-15">
                                                <div class="checkbox">
                                                    <label>
                                                        <div class="checker">
                                                            <input type="checkbox" class="styled" name="product_info[product_new]" <%= 'checked' if @product_info.product_new == "on" %>>
                                                        </div>
                                                        Sản phẩm 'Mới'
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-15">
                                            <div class="checkbox">
                                                <label>
                                                    <div class="checker">
                                                        <input type="checkbox" class="styled" name="product_info[product_bestselled]" <%= 'checked' if @product_info.product_bestselled == "on" %>>
                                                    </div>
                                                    Sản phẩm 'Bán chạy'
                                                </label>
                                            </div>
                                        </div>
                                        <div class="mb-15">
                                            <div class="checkbox">
                                                <label>
                                                    <div class="checker">
                                                            <input type="checkbox" class="styled" name="product_info[product_prominent]" <%= 'checked' if @product_info.product_prominent == "on" %>>
                                                    </div>
                                                    Sản phẩm 'Nổi bật'
                                                </label>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        
                    </fieldset>
                </div>

                <div class="col-md-6">
                    <fieldset style="margin-left: 5%">
                        <legend class="text-semibold"><i class="icon-list position-left"></i> Thông tin sản phẩm có sẵn</legend>
                        
                        <div class="form-group">
                            <%= f.label "Tên sản phẩm: ", class: "col-lg-3 control-label" %>
                            <div class="col-lg-10">
                                <b><%=  @product_info.product.name %></b>
                                <%= f.hidden_field :product_id %>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <%= f.label "Giá bán: ", class: "col-lg-3 control-label" %>
                            <div class="col-lg-10">
                                <b><%= number_with_delimiter @product_info.product.product_price.price.to_i %> VNĐ</b>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <%= f.label "Đơn vị: ", class: "col-lg-3 control-label" %>
                            <div class="col-lg-10">
                                <b><%= @product_info.product.unit %></b>
                            </div>
                        </div>
                            
                    </fieldset>
                    
                    <fieldset style="margin-left: 5%">
                        <legend class="text-semibold"><i class="icon-gift position-left"></i> CHUYÊN MỤC KHUYẾN MÃI</legend>
                        
                        <div class="form-group">
                            <%= f.label "Kích hoạt khuyến mãi: ", class: "col-lg-3 control-label" %>
                            <div class="col-lg-9">
                                <div class="row">
                                    <div class="mb-15">
                                        <div class="checkbox">
                                            <label>
                                                <div class="checker">
                                                        <input type="checkbox" class="styled" name="product_info[product_sale]" <%= 'checked' if @product_info.product_sale == "on" %>>
                                                </div>
                                                Đồng ý
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <%= f.label "Nhập phần trăm giảm giá: ", class: "col-lg-3 control-label" %>
                            <div class="col-lg-9">
                                <%= f.text_field :sale_off_price, value: @product_info.sale_off_price.to_f, class: "form-control" %>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <%= f.label "Giá khuyến mãi: ", class: "col-lg-3 control-label" %>
                            <div class="col-lg-9">
                                <%= f.text_field :sale_price, value: @product_info.product.get_amount_prices.to_i, class: "form-control" %>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <%= f.label "Nhập sản phẩm tặng kèm: ", class: "col-lg-3 control-label" %>
                            <div class="col-lg-9">
                                <%= f.text_area :bonus_product, rows: "5", cols: "5", class: "form-control" %>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="text-right">
                <!-- <button type="submit" class="btn btn-primary">Save <i class="icon-arrow-right14 position-right"></i></button> -->
                <%= button_tag 'Save <i class="icon-plus22 position-right"></i>'.html_safe, class: "btn btn-primary"%>
            </div>
        </div>
    </div>
<% end %>
<!-- /2 columns form -->
