	
<!-- Main content -->
<div class="content-wrapper">

    <!-- Page header -->
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4><a href="" class="btn-back"><i class="icon-arrow-left52 position-left"></i></a> <span class="text-semibold">Management</span> - Product Infomation</h4>
        </div>
    </div>

    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><%= link_to "<i class='icon-home2 position-left'></i> Trang chủ".html_safe, admin_manages_path %></li>
            <li><%= link_to "Quản lý sản phẩm", admin_product_infos_path %></li>
            <li class="active">Quản lý thông tin sản phẩm</li>
        </ul>
    </div>
</div>
<!-- /page header -->

<!-- Content area -->
<div class="content">

    <!-- Basic datatable -->
    <div class="panel panel-flat">
		
        <div class="panel-heading">
			<h5 class="panel-title">Danh sách <span class="text-semibold">sản phẩm</span></h5>
			<div class="heading-elements">
				<ul class="icons-list">
					<li><a data-action="collapse"></a></li>
					<li><a data-action="reload"></a></li>
					<li><a data-action="close"></a></li>
				</ul>
			</div>
		</div>
		
        <table class="table datatable-picture">
            <thead>
                <tr>
                    <th>Hình Ảnh</th>
                    <th>Tên Sản Phẩm</th>
                    <th>Giá N/Y (VNĐ)</th>
					<th>Giới thiệu</th>
                    <th>Đang cung cấp</th>
                    <th class="text-center">Thao tác</th>
                </tr>
            </thead>
            <tbody>
				<% @products.each do |product| %>
                    <tr>
						<td>
							<div class="media-left">
								<% if product.product_info.nil? %>
									<img src="#" style="width: 82px; height: 56px;" class="img-rounded" alt="Hình ảnh sản phẩm">
								<% else %>
									<img src="<%= product.product_info.image_url if product.product_info.image_url? %>" style="width: 82px; height: 56px;" class="img-rounded" alt="Hình ảnh sản phẩm">
								<% end %>
							</div>
						</td>
                        <td>
							<%= product.name %>
						</td>
                        <td>
							<%= number_with_delimiter product.product_price.price.to_i %>
						</td>
						<td>
							<%= truncate(strip_tags(product.description), length: 40) %>
						</td>
						<td>
                            <input type="checkbox" class="styled" name="product_info[product_prominent]">
						</td>
                        <td class="text-center">
                            <ul class="icons-list">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>
    
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
											<% if product.product_info.nil? %>
												<%= link_to '<i class="glyphicon glyphicon-edit"></i> Update Product Info'.html_safe, new_admin_product_info_path(product_id: product.id) %>
											<% else %>
												<%= link_to '<i class="glyphicon glyphicon-edit"></i> Update Product Info'.html_safe, edit_admin_product_info_path(product.product_info) %>
											<% end %>

										</li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
		<hr/>
		<%= will_paginate(@products) %>
    </div>
        <!-- /basic datatable -->
    
        <!-- Footer -->
        <%= render '/admin/manages/footer' %>
        <!-- /footer -->
    
    </div>
    <!-- /content area -->

</div>
<!-- /main content -->

<!-- Theme JS files -->
<%= javascript_include_tag '/backend/assets/js/plugins/forms/styling/uniform.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/tables/datatables/datatables.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/forms/selects/select2.min.js' %>

<%= javascript_include_tag '/backend/assets/js/core/app.js' %>
<%= javascript_include_tag '/backend/javascripts/datatables_productinfo.js' %>
<!-- /theme JS files -->