	
<!-- Main content -->
<div class="content-wrapper">

    <!-- Page header -->
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4><%= link_to "<i class='icon-arrow-left52 position-left'></i>".html_safe, admin_manages_path, class: "btn-back" %><span class="text-semibold">Quản lý</span> - Thông tin sản phẩm</h4>
        </div>
    </div>

    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><%= link_to "<i class='icon-home2 position-left'></i> Trang chủ".html_safe, admin_manages_path %></li>
            <li><%= link_to "Quản lý sản phẩm", admin_product_infos_path %></li>
            <li class="active">Quản lý thông tin sản phẩm</li>
        </ul>
    </div>
</div>
<!-- /page header -->

<!-- Content area -->
<div class="content">

    <!-- Basic datatable -->
    <div class="panel panel-flat">
		
        <div class="panel-heading">
			<h5 class="panel-title">Danh sách <span class="text-semibold">sản phẩm</span></h5>
			<div class="heading-elements">
				<ul class="icons-list">
					<li><a data-action="collapse"></a></li>
					<li><a data-action="reload"></a></li>
					<li><a data-action="close"></a></li>
				</ul>
			</div>
		</div>
		
		<div class="form-group">
			<thead></thead>
		</div>
		
        <table class="table datatable-picture">
			<%= form_tag({controller: "product_infos", action: "index"}, method: 'get', class: "search") do %>
			<div class="dataTables_filter col-md-3">
				<label>
					<%= text_field_tag :search_product_infos, params[:search_product_infos], placeholder: "Nhập tên sản phẩm..." %>
				</label>
			</div>
			<div class="col-md-3">
				<select name="type" class="select" data-placeholder="Chọn loại cần lọc" multiplex="multiplex">
					<optgroup label="Loại của sản phẩm">
						<option value="">Tất cả sản phẩm</option>
						<option value="product_new">Sản phẩm mới</option>
						<option value="product_hot">Sản phẩm hot</option>
						<option value="product_prominent">Sản phẩm nổi bật</option>
						<option value="product_sale">Sản phẩm khuyến mãi</option>
						<option value="product_bestselled">Sản phẩm bán chạy nhất</option>
					</optgroup>
				</select>
			</div>
			<div class="col-md-3">
				<select name="manufacturers" class="select" data-placeholder="Lọc sản phẩm theo nhà cung cấp" multiple="multiple">
					<optgroup label="Nhà cung cấp">
						<% Manufacturer.all.order(:name).each do |manufacturer| %>
							<option value="<%= manufacturer.id %>"><%= manufacturer.name %></option>
						<% end %>
					</optgroup>
				</select>
			</div>
			<div class="col-md-2">            
				<select name="order" class="select" data-placeholder="Chọn kiểu sắp xếp" multiplex="multiplex">
					<option value="asc">Tăng dần</option>
					<option value="desc">Giảm dần</option>
				</select>
			</div>
			<div class="col-md-1">
				<button type="submit" class="btn btn-primary">Lọc<i class="icon-search4 position-right"></i></button>
			</div>
			<% end %>
            <thead>
                <tr>
                    <th>Hình Ảnh</th>
                    <th>Tên Sản Phẩm</th>
                    <th>Giá bán (VNĐ)</th>
                    <th>Trạng thái</th>
                    <th class="text-center">Thao tác</th>
                </tr>
            </thead>
            <tbody>
				<% @products.each do |product| %>
                    <tr>
						<td>
							<div class="media-left">
								<img src="<%= product.product_image.image %>" style="width: 82px; height: 82px;" class="img-rounded" alt="Hình ảnh sản phẩm">
							</div>
						</td>
                        <td>
							<strong><%= product.name %><br/></strong>
							Nhà cung cấp: <%= product.manufacturer.name %><br />
							Ngày tạo: <%= product.created_at %>
						</td>
                        <td>
							<%= number_with_delimiter product.product_price.price.to_i %><br/>
							<% if !product.product_info.nil? %>
								<% if product.product_info.product_sale == "on" %>
									<span class="label bg-pink">Giá khuyến mãi: <%= number_with_delimiter product.product_info.sale_price.to_i %> VNĐ</span>
								<% end %>
							<% end %>
						</td>
						<td>
							<% if !product.product_info.nil? %>
								<% if product.product_info.product_hot == "on" %>
									<ul><li style="list-style-type: none;"><span class="label label-warning">hot</span></li></ul>
								<% end %>
								<% if product.product_info.product_new == "on" %>
									<ul><li style="list-style-type: none;"><span class="label label-info">mới</span></li></ul>
								<% end %>
								<% if product.product_info.product_sale == "on" %>
									<ul><li style="list-style-type: none;"><span class="label bg-pink">khuyến mãi</span></li></ul>
								<% end %>
								<% if product.product_info.product_prominent == "on" %>
									<ul><li style="list-style-type: none;"><span class="label label-danger">nổi bật</span></li></ul>
								<% end %>
								<% if product.product_info.product_bestselled == "on" %>
									<ul><li style="list-style-type: none;"><span class="label bg-purple">bán chạy</span></li></ul>
								<% end %>
							<% end %>
							
						</td>
                        <td class="text-center">
                            <ul class="icons-list">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>
    
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
											<% if product.product_info.nil? %>
												<%= link_to '<i class="glyphicon glyphicon-edit"></i> Bổ sung thông tin sản phẩm'.html_safe, new_admin_product_info_path(product_id: product.id) %>
											<% else %>
												<%= link_to '<i class="glyphicon glyphicon-edit"></i> Chỉnh sửa thông tin sản phẩm'.html_safe, edit_admin_product_info_path(product.product_info) %>
											<% end %>

										</li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
		<%= will_paginate(@products) %>
		<hr/>
    </div>
        <!-- /basic datatable -->
    
        <!-- Footer -->
        <%= render '/admin/manages/footer' %>
        <!-- /footer -->
    
    </div>
    <!-- /content area -->

</div>
<!-- /main content -->

<!-- Theme JS files -->
<%= javascript_include_tag '/backend/assets/js/plugins/forms/styling/uniform.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/tables/datatables/datatables.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/forms/selects/bootstrap_multiselect.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/forms/selects/select2.min.js' %>

<%= javascript_include_tag '/backend/assets/js/core/app.js' %>
<%= javascript_include_tag '/backend/assets/js/pages/colors_primary.js' %>
<%= javascript_include_tag '/backend/javascripts/datatables_productinfo.js' %>
<!-- /theme JS files -->