<% if @partner.errors.any? %>
    <div id="error_explanation">
        <% @partner.errors.full_messages.each do |message| %>
            <span class="label label-warning"><%= message %></span>
        <% end %>
        <hr/>
    </div>
<% end %>

<%= form_for [:admin, @partner], html: {class: "form-horizontal"} do |f| %>

    <div class="form-group">
        <%= f.label "Logo: ", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.file_field :image_url, class: "file-styled" %>
          <span class="help-block">Định dạng hình ảnh: gif, png, jpg.</span>
          <%= image_tag(@partner.image_url, size: "310x200",alt: "Logo đối tác", class: "img-rouded") %>
        </div>
    </div>
        
    <div class="form-group">
        <%= f.label "Chọn đối tác: ", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
            <%= f.collection_select(:manufacturer_id, Manufacturer.all, :id, :name, {:prompt => "Chọn tên đối tác/nhà cung cấp..."}, {class: "select"}) %>
        </div>
    </div>

    <div class="text-right">
        <button type="submit" class="btn btn-success">Lưu <i class="icon-plus22 position-right"></i></button>
    </div>
    
<% end %>