<!-- Main content -->
<div class="content-wrapper">

    <!-- Page header -->
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4><a href="<%= admin_partners_path %>" class="btn-back"><i class="icon-arrow-left52 position-left"></i></a> <span class="text-semibold">Tạo mới</span> - thông tin đối tác</h4>
            </div>
        </div>
    
        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><a href="#"><i class="icon-home2 position-left"></i> Trang chủ</a></li>
                <li><a href="<%= admin_partners_path %>">Quản lý danh sách đối tác</a></li>
                <li><a href="<%= admin_partners_path %>">Danh sách đối tác</a></li>
                <li class="active">Tạo mới thông tin đối tác</li>
            </ul>
        </div>
    </div>
    <!-- /page header -->
    
    <!-- Content area -->
    <div class="content">
    
        <!-- Horizontal form options -->
        <div class="row">
            <div class="col-md-12">
    
                <!-- Basic layout-->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">Tạo mới thông tin đối tác</h5>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                                <li><a data-action="reload"></a></li>
                                <li><a data-action="close"></a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="panel-body">
                        <%= render 'form' %>
                    </div>
    
                </div>
                <!-- /basic layout -->
            </div>
        </div>
    
        <!-- Footer -->
        <%= render '/admin/manages/footer' %>
        <!-- /footer -->
    
    </div>
    <!-- /content area -->

</div>
<!-- /main content -->

<!-- Theme JS files -->
<%= javascript_include_tag '/backend/assets/js/plugins/forms/selects/select2.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/forms/styling/uniform.min.js' %>
<%= javascript_include_tag '/backend/assets/js/core/app.js' %>

<%= javascript_include_tag '/backend/assets/js/pages/form_layouts.js' %>
<%= javascript_include_tag '/backend/assets/js/pages/editor_ckeditor.js' %>
<%= javascript_include_tag '//cdn.ckeditor.com/4.5.6/full/ckeditor.js' %>
<!-- /theme JS files -->