<main class="site-main checkout">
    <div class="container">
        <ol class="breadcrumb-page">
            <li><%= link_to 'Trang Chủ', root_path %></li>
            <li class="active"><%= link_to 'Đặt Hàng', 'javascript:void(0)' %></li>
        </ol>
    </div>
    <div class="container">
        <%= form_for @customer_order, html: {class: "checkout"} do |f| %>
            <h1>THÔNG TIN ĐẶT HÀNG</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="customer_order_orderer_first_name" class="title">Họ <span class="required">*</span></label>
                            <%= f.text_field :orderer_first_name, required: true, placeholder: 'Vui lòng nhập họ tại đây.....', class: 'form-control required' %>
                        </div>
                        <div class="form-group col-md-6">   
                            <label for="customer_order_orderer_last_name" class="title">Tên <span class="required">*</span></label>
                            <%= f.text_field :orderer_last_name, required: true, placeholder: 'Vui lòng nhập tên tại đây.....', class: 'form-control required' %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="customer_order_orderer_phone" class="title">Số điện thoại <span class="required">*</span></label>
                            <%= f.text_field :orderer_phone, required: true, placeholder: 'Vui lòng nhập số điện thoại.....', class: 'form-control required' %>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="customer_order_orderer_email" class="title">Địa chỉ email <span class="required">*</span></label>
                            <%= f.text_field :orderer_email, required: true, placeholder: 'Vui lòng nhập địa chỉ email.....', class: 'form-control required email' %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="customer_order_orderer_address_1" class="title">Địa chỉ giao hàng <span class="required">*</span></label>
                            <%= f.text_field :orderer_address_1, required: true, placeholder: 'Vui lòng nhập địa chỉ giao hàng.....', class: 'form-control required' %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="customer_order_orderer_company_name" class="title">Tên công ty</label>
                            <%= f.text_field :orderer_company_name, placeholder: 'Vui lòng nhập tên công ty.....', class: 'form-control' %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="customer_order_orderer_tax" class="title">Mã số thuế</label>
                            <%= f.text_field :orderer_tax, placeholder: 'Vui lòng nhập mã số thuế.....', class: 'form-control' %>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="customer_order_orderer_fax" class="title">Mã fax</label>
                            <%= f.text_field :orderer_fax, placeholder: 'Vui lòng nhập mã fax.....', class: 'form-control' %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="customer_order_orderer_address_2" class="title">Địa chỉ xuất hóa đơn</label>
                            <%= f.text_field :orderer_address_2, placeholder: 'Vui lòng nhập địa chỉ xuất hóa đơn.....', class: 'form-control required' %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="customer_order_orderer_message" class="title">Lời nhắn</label>
                            <%= f.text_area :orderer_message, placeholder: 'Vui lòng nhập lời nhắn (nếu có).....', class: 'form-control' %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group shipping col-md-12">
                            <ul>
                                <li>
                                    <label class="inline" for="customer_order_is_invoice">
                                        <input type="checkbox" id="customer_order_is_invoice" name="customer_order[is_invoice]" value="1">
                                        <span class="input"></span>Có xuất hóa đơn?
                                    </label>
                                </li>                                
                            </ul>
                            <button type="submit" class="btn-order">ĐỒNG Ý ĐẶT HÀNG</button>
                        </div>
                    </div>
                </div>
                <div class="form-group payment col-md-6">
                    <h4 class="title-shopping-cart">THÔNG TIN ĐƠN HÀNG</h4>
                    <div class="table-cart check-my-order">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="tb-product">Tên sản phẩm</th>
                                    <th class="tb-price">Đơn giá</th>
                                    <th class="tb-qty">Số lượng</th>
                                    <th class="tb-total">Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @cart.line_items.each do |line_item| %>
                                    <tr>
                                        <td class="tb-product">
                                            <div class="product-name">
                                                <%= link_to truncate(line_item.get_product_name, length: 60),
                                                product_path(id: line_item.product_id, title: url_friendly(strip_tags(line_item.product.display_name))), title: line_item.get_product_name %>
                                            </div>
                                        </td>
                                        <td class="tb-price"><%= format_price(line_item.product.display_price) %></td>
                                        <td class="tb-qty">
                                            <div class="quantity"><%= line_item.quantity %></td>
                                        <td class="tb-total"><%= format_price(line_item.total_item) %></td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                        <span class="total-order"><strong>TỔNG TIỀN: </strong><%= format_price(@cart.total_order) %></span>
                    </div>                    
                    <%= link_to 'Xem lại giỏ hàng', shopping_cart_path, title: '', class: 'btn btn-view-cart' %>
                </div>
            </div>
        <% end %>
    </div>
</main>