<!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

<div class="wide_layout">

    <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

    <%= render 'blog/header' %>
    
    <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

    <div class="secondary_page_wrapper">

        <div class="container">

            <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

            <ul class="breadcrumbs">

                <li><%= link_to "Trang chủ", root_path %></li>
                <li>Đặt hàng</li>

            </ul>
            
            <% if @cart.line_items.count > 0 %>

                <h1 class="page_title">Đặt hàng</h1>
    
                <!-- - - - - - - - - - - - - - Billing information - - - - - - - - - - - - - - - - -->
    
                <section class="section_offset">
    
                    <h3 class="offset_title">1. Gửi đơn đặt hàng</h3>
    
                    <div class="theme_box">
                        
                         <%= form_for @customer_order, html: {class: "type_2"} do |f| %>
                            
                            <ul>
                                
                                <li class="row">
                                    
                                    <div class="col-sm-6">
                                        
                                        <label for="first_name" class="required">Họ</label>
                                        <%= f.text_field :orderer_first_name, required: true %>
    
                                    </div><!--/ [col] -->
    
                                    <div class="col-sm-6">
                                        
                                        <label for="last_name" class="required">Tên</label>
                                        <%= f.text_field :orderer_last_name, required: true %>
    
                                    </div><!--/ [col] -->
    
                                </li><!--/ .row -->
    
                                <li class="row">
                                    
                                    <div class="col-sm-6">
                                        
                                        <label for="company_name" class="required">Số điện thoại</label>
                                        <%= f.text_field :orderer_phone, required: true %>
    
                                    </div><!--/ [col] -->
    
                                    <div class="col-sm-6">
                                        
                                        <label for="email_address">Địa chỉ email</label>
                                        <%= f.text_field :orderer_email %>
    
                                    </div><!--/ [col] -->
    
                                </li><!--/ .row -->
                                
                                <li class="row">	
    
                                    <div class="col-xs-12">
    
                                        <label for="address">Tên công ty</label>
                                        <%= f.text_field :orderer_company_name %>
    
                                    </div><!--/ [col] -->
    
                                </li><!-- / .row -->
    
                                <li class="row">	
    
                                    <div class="col-xs-12">
    
                                        <label for="address" class="required">Địa chỉ giao hàng</label>
                                        <%= f.text_field :orderer_address_1, required: true %>
    
                                    </div><!--/ [col] -->
    
                                </li><!-- / .row -->
                                
                                <li class="row">	
    
                                    <div class="col-xs-12">
    
                                        <label for="address" >Địa chỉ xuất hóa đơn</label>
                                        <%= f.text_field :orderer_address_2 %>
    
                                    </div><!--/ [col] -->
    
                                </li><!-- / .row -->
    
                                <li class="row">
    
                                    <div class="col-sm-6">
                                        
                                        <label for="first_name">Mã số thuế</label>
                                        <%= f.text_field :orderer_tax %>
    
                                    </div><!--/ [col] -->
    
                                    <div class="col-sm-6">
                                        
                                        <label for="last_name">Mã fax</label>
                                        <%= f.text_field :orderer_fax %>
    
                                    </div><!--/ [col] -->
    
                                </li><!--/ .row -->
                                
                                <li class="row">
    
                                    <div class="col-sm-12">
    
                                        <label for="telephone" class="required">Lời nhắn</label>
                                        <%= f.text_area :orderer_message, rows: '6', required: true %>
    
                                    </div><!--/ [col] -->
    
                                </li><!--/ .row -->
                                
                                <li class="row">
    
                                    <div class="col-sm-6">
                                        
                                        <%= f.submit "Gửi đơn hàng", class: "button_blue middle_btn" %>
    
                                    </div><!--/ [col] -->
    
                                </li><!--/ .row -->
    
                            </ul>
    
                        <% end %>
    
                    </div>
    
                </section><!--/ .section_offset -->
    
                <!-- - - - - - - - - - - - - - End of billing information - - - - - - - - - - - - - - - - -->
    
                <!-- - - - - - - - - - - - - - Order review - - - - - - - - - - - - - - - - -->
    
                <section class="section_offset">
    
                    <h3>2. Xem lại đơn hàng</h3>
    
                    <div class="table_wrap">
    
                        <table class="table_type_1 order_review">
    
                            <thead>
                                
                                <tr>
                                    
                                    <th class="product_image_col">Hình ảnh</th>
                                    <th class="product_title_col">Tên sản phẩm</th>
                                    <th class="product_total_col">Giá</th>
                                    <th class="product_total_col">Số lượng</th>
                                    <th class="product_total_col">Thành tiền</th>
    
                                </tr>
    
                            </thead>
    
                            <tbody>
                                
                                <% @cart.line_items.each do |item| %>
                                
                                    <tr>
                                        
                                        <td class="product_image_col" data-title="Product Image">
                                            
                                            <%= link_to(image_tag(item.product.product_image.image, width: 86, height: 86), {controller: "product", action: "index", id: item.product_id}) %>
                                            
                                        </td>
                                        
                                        <td data-title="Product Name">
                                            
                                            <%= link_to item.product.name, {controller: "product", action: "index", id: item.product_id}, class: "product_title" %>
        
                                            <ul class="sc_product_info">
        
                                                <li>Ram: 1Gb</li>
                                                <li>Màu: Hồng</li>
        
                                            </ul>
        
                                        </td>
        
                                        <td data-title="Price" class="subtotal"><%= number_with_delimiter item.product.product_price.price.to_i %>đ</td>
        
                                        <td data-title="Quantity"><%= item.quantity %></td>
        
                                        <td data-title="Total" class="total"><%= number_with_delimiter item.total_item.to_i %>đ</td>
        
                                    </tr>
                                <% end %>
    
                            </tbody>
    
                            <tfoot>
    
                                <tr>
                                    
                                    <td colspan="4" class="grandtotal">Tổng tiền</td>
                                    <td class="grandtotal"><%= number_with_delimiter @cart.total_order.to_i %>đ</td>
    
                                </tr>
    
                            </tfoot>
    
                        </table>
    
                    </div><!--/ .table_wrap -->
    
                    <footer class="bottom_box on_the_sides">
    
                        <div class="left_side v_centered">
                            
                            <%= link_to "Chỉnh sửa giỏ hàng", {controller: "shopping_cart", action: "index"}, {class: "button_grey middle_btn"} %>
    
                        </div>
    
                    </footer>
    
    
                </section>
    
                <!-- - - - - - - - - - - - - - End of order review - - - - - - - - - - - - - - - - -->
                
            <% else %>
                
                <div class="row">

                    <div class="col-xs-12">

                        <div class="container_404">

                            <p class="not_found">GIỎ HÀNG TRỐNG</p>

                            <%= link_to "Quay về trang chủ", root_path, class: "button_dark_grey middle_btn" %>

                        </div><!--/ .align_center -->

                    </div><!--/ [col]-->

				</div>
            
            <% end %>

        </div><!--/ .container-->

    </div><!--/ .page_wrapper-->
    
    <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

    <%= render 'blog/footer' %>
    
    <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

</div><!--/ [layout]-->

<!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

<%= render 'home/social_feeds' %>

<!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->

<!-- Include Libs & Plugins
============================================ -->
<%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
<%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
<%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
<%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
<%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
<%= javascript_include_tag '/frontend/js/jquery.countdown.plugin.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.countdown.min.js' %>
<%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
<%= javascript_include_tag '/frontend/js/retina.min.js' %>
<%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>

<!-- Theme files
============================================ -->
<%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
<%= javascript_include_tag '/frontend/js/theme.core.js' %>