<div class="sidebar-left">
    <div class="block-categories-blog">
        <div class="block-title">Chăm sóc khách hàng</div>
        <ul>
            <li class="categories-item">
                <%= link_to 'Hướng dẫn mua hàng', policy_1_path, title: 'Hướng dẫn mua hàng' %>
            </li>
            <li class="categories-item">
                <%= link_to 'Hướng dẫn thanh toán', policy_2_path, title: 'Hướng dẫn thanh toán' %>
            </li>
            <li class="categories-item">
                <%= link_to 'Chính sách vận chuyển, giao nhận', policy_3_path, title: 'Chính sách vận chuyển, giao nhận' %>
            </li>
            <li class="categories-item">
                <%= link_to 'Chính sách bảo hành', policy_4_path, title: 'Chính sách bảo hành' %>
            </li>
            <li class="categories-item">
                <%= link_to 'Chính sách đổi trả hàng, hoàn tiền', policy_5_path, title: 'Chính sách đổi trả hàng, hoàn tiền' %>
            </li>
            <li class="categories-item">
                <%= link_to 'Quy định bảo mật thông tin', policy_6_path, title: 'Quy định bảo mật thông tin' %>
            </li>
            <li class="categories-item">
                <%= link_to 'Quy chế hoạt động trang TMĐT', policy_7_path, title: 'Quy chế hoạt động trang TMĐT' %>
            </li>
            <li class="categories-item">
                <%= link_to 'Các điều khoản & điều kiện', policy_8_path, title: 'Các điều khoản & điều kiện' %>
            </li>
            <li class="categories-item">
                <%= link_to 'Câu hỏi thường gặp', policy_9_path, title: 'Câu hỏi thường gặp' %>
            </li>
        </ul>
    </div>    
</div>