<div class="owl-carousel nav-style2 border-background equal-container" data-nav="true" data-autoplay="false" data-dots="false" data-loop="true" data-margin="0" data-responsive='{"0":{"items":1},"480":{"items":2},"600":{"items":3},"1000":{"items":6}}'>
    <% Product.get_bestseller_products.each do |product| %>
    <div class="product-item style1">
        <div class="product-inner equal-elem">
            <div class="product-thumb">
                <div class="thumb-inner">
                    <% if !product.product_image.id.nil? %>
                        <%= link_to image_tag(product.product_image.image(:thumb200), alt: product.display_name),
                                    product_path(id: product.id, title: url_friendly(strip_tags(product.display_name))), title: product.display_name %>
                    <% else %>
                        <%= link_to image_tag('/hksite/images/no-image/thumb-200.jpg', alt: product.display_name),
                                    product_path(id: product.id, title: url_friendly(strip_tags(product.display_name))), title: product.display_name %>
                    <% end %>
                </div>
                <% if product.check_product_sale %>
                    <span class="onsale">-<%= product.get_percent_sale.to_f.round(0) %>%</span>
                <% end %>
                <%= link_to 'Xem nhanh', product_quickview_path(id: product), title: product.display_name, class: 'quick-view' %>
            </div>
            <div class="product-innfo">
                <div class="product-name">
                    <%= link_to truncate(product.display_name, length: 40),
                    product_path(id: product.id, title: url_friendly(strip_tags(product.display_name))), title: product.display_name %>
                </div>
                <% if product.product_price.price.nil? %>
                    <span class="price">
                        <ins>Liên hệ: (028) 3984 7690</ins>
                    </span>
                <% else %>
                    <span class="price">
                        <% if product.check_product_sale %>
                            <ins><%= format_price(product.display_price) %></ins>
                            <del><%= format_price(product.product_info.old_price) %></del>
                        <% else %>
                            <ins><%= format_price(product.display_price) %></ins>
                        <% end %>
                    </span>
                <% end %>
            </div>
        </div>
    </div>
    <% end %>
</div>