<footer class="site-footer ">
    <div class="footer-opt-2">
        <div class="footer-top full-width">
            <div class="container">
                <div class="row">                    
                    <div class="col-md-6">
                        <div class="newsletter-title">
                            <h3 class="h3-email">kinhdoanh@hoangkhang.com.vn</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="newsletter-title text-right">
                            <h3 class="h3-call">(028) 3984 7690 - (028) 2212 9454</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-opt-1">
        <div class="footer-column">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <%= render '/modules/footer/company_info' %>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <%= render '/modules/footer/contact_info' %>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <%= render '/modules/footer/customer_care' %>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <%= render '/modules/footer/website_info' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <%= render '/modules/footer/quick_links' %>
        </div>
        <div class="copyright full-width">
            <%= render '/modules/footer/copyright' %>
        </div>
    </div>
</footer>