<li><%= link_to "Giới thiệu", { controller: "about_us", action: "index" } %></li>
<li><%= link_to "Quy trình và chính sách mua hàng", { controller: "infomations", action: "policy" } %></li>
<!--<li><a href="#">Điều khoản &amp; Các điều kiện</a></li>-->
<li><%= link_to "Tin tức", { controller: "blog", action: "index" } %></li>
<li><%= link_to "Đối tác", { controller: "manufacturer", action: "index" } %></li>
<li><%= link_to "Liên hệ", { controller: "contact", action: "index" } %></li>