<footer id="footer">

    <!-- - - - - - - - - - - - - - Footer section- - - - - - - - - - - - - - - - -->

    <div class="footer_section_4">

        <div class="container">

            <div class="row">
                
                <div class="col-sm-3">

                    <div class="widget">
                        
                        <a href="<%= root_path %>">

                            <img src="images/logo_HK.png" alt="" class="footer_logo">

                        </a>

                    </div><!--/ .widget-->

                </div><!--/ [col]-->

                <div class="col-sm-6">

                    <div class="widget">

                        <p>Công Ty TNHH Giải Pháp Công Nghệ Thông Tin & Truyền Thông Hoàng Khang (Hoang Khang Incotech) xin gửi đến Quý khách hàng đã – đang và sẽ là niềm tự hào của công ty Hoàng Khang lời chúc sức khỏe và lời chào trân trọng. </p>

                        <p>Email: <a href="mailto:info@hoangkhang.com.vn" class="mail_to">info@hoangkhang.com.vn</a></p>

                    </div><!--/ .widget-->

                </div><!--/ [col]-->

                <div class="col-sm-3">

                    <section class="widget">

                        <h4 class="streamlined_title">Theo dõi chúng tôi</h4>

                        <!-- - - - - - - - - - - - - - Social icon's list - - - - - - - - - - - - - - - - -->

                        <ul class="social_btns">

                            <li>
                                <a href="#" class="icon_btn middle_btn social_facebook tooltip_container"><i class="icon-facebook-1"></i><span class="tooltip top">Facebook</span></a>
                            </li>

                            <li>
                                <a href="#" class="icon_btn middle_btn social_twitter tooltip_container"><i class="icon-twitter"></i><span class="tooltip top">Twitter</span></a>
                            </li>

                            <li>
                                <a href="#" class="icon_btn middle_btn social_googleplus tooltip_container"><i class="icon-gplus-2"></i><span class="tooltip top">Google+</span></a>
                            </li>

                            <li>
                                <a href="#" class="icon_btn middle_btn social_youtube tooltip_container"><i class="icon-youtube"></i><span class="tooltip top">Youtube</span></a>
                            </li>

                        </ul>
                        
                        <!-- - - - - - - - - - - - - - End social icon's list - - - - - - - - - - - - - - - - -->

                    </section><!--/ .widget-->

                </div>

            </div><!--/ .row-->

        </div><!--/ .container-->

    </div><!--/ .footer_section-->

    <!-- - - - - - - - - - - - - - End footer section- - - - - - - - - - - - - - - - -->

    <hr>

    <!-- - - - - - - - - - - - - - Footer section- - - - - - - - - - - - - - - - -->

    <div class="footer_section">

        <div class="container">
            
            <div class="row">
    
                <div class="col-md-3 col-sm-6">
    
                    <!-- - - - - - - - - - - - - - Information widget - - - - - - - - - - - - - - - - -->
    
                    <section class="widget">
    
                        <h4>Thông tin</h4>
    
                        <ul class="list_of_links">
    
                            <%= render 'footer_info' %>
    
                        </ul>
    
                    </section>
                    
                    <!-- - - - - - - - - - - - - - End information widget - - - - - - - - - - - - - - - - -->
    
                </div><!--/ [col]-->
    
                <div class="col-md-3 col-sm-6">
    
                    <!-- - - - - - - - - - - - - - Account's links widget - - - - - - - - - - - - - - - - -->
    
                    <section class="widget">
    
                        <h4>Đơn hàng</h4>
    
                        <ul class="list_of_links">
    
                            <%= render 'footer_account' %>
    
                        </ul>
    
                    </section><!--/ .widget-->
                    
                    <!-- - - - - - - - - - - - - - End of account's links widget - - - - - - - - - - - - - - - - -->
                
                </div><!--/ [col]-->
    
                <div class="col-md-3 col-sm-6">
    
                    <!-- - - - - - - - - - - - - - Subscribe widget - - - - - - - - - - - - - - - - -->
    
                    <section class="widget">
    
                        <h4>Đăng ký nhận tin mới</h4>
    
                        <p class="form_caption">Đăng ký để nhận thông tin mới từ chúng tôi!</p>
                        
                        <%= form_for @newsletter, url: admin_newsletters_path,html: {class: 'newsletter subscribe clearfix'} do |f| %>
    
                            <%= f.email_field :email, placeholder: 'Nhập email của bạn tại đây...', required: true %>
                            
                            <button class="button_blue def_icon_btn" type="submit"></button>

                        <% end %>
    
                    </section><!--/ .widget-->
    
                    <!-- - - - - - - - - - - - - - End of subscribe widget - - - - - - - - - - - - - - - - -->
    
                </div><!--/ [col]-->
    
                <div class="col-md-3 col-sm-6">
    
                    <!-- - - - - - - - - - - - - - Contact Us widget - - - - - - - - - - - - - - - - -->
    
                    <section class="widget">
    
                        <h4>Liên hệ</h4>
    
                        <ul class="c_info_list">
                            
                            <li class="c_info_building"><%= @company_info.name %></li>
                            <li class="c_info_location"><%= @company_info.address %></li>
                            <li class="c_info_phone"><%= @company_info.phone %></li>
                            <li class="c_info_mail"><a href="mailto:<%= @company_info.email %>"><%= @company_info.email %></a></li>
                            <li class="c_info_schedule">
    
                                <ul>
    
                                    <li>Thứ 2-Thứ 6: 7.30-17.00</li>
                                    <li>Thứ 7: 7.30-12.00</li>
                                    <li>Chủ nhật: Không làm việc</li>
    
                                </ul>
    
                            </li>
    
                        </ul>
    
                    </section><!--/ .widget-->
    
                    <!-- - - - - - - - - - - - - - End of contact us widget - - - - - - - - - - - - - - - - -->
    
                </div>
    
            </div><!--/ .row-->
    
        </div><!--/ .container-->
    
    </div><!--/ .footer_section_2-->

    <!-- - - - - - - - - - - - - - End footer section- - - - - - - - - - - - - - - - -->

    <hr>

    <!-- - - - - - - - - - - - - - Footer section - - - - - - - - - - - - - - - - -->

    <div class="footer_section_3 align_center">

        <div class="container">

            <!-- - - - - - - - - - - - - - Footer navigation - - - - - - - - - - - - - - - - -->

            <nav class="footer_nav">

                <ul class="bottombar">

                    <% @menu.each do |item| %>
                            
                        <% if item.level == 1 %>
                            
                            <li><%= link_to item.title, {controller: "category_page", action: "index", id: item.id} %></li>
                            
                        <% end %>
                    
                    <% end %>
                </ul>

            </nav>
            
            <!-- - - - - - - - - - - - - - End of footer navigation - - - - - - - - - - - - - - - - -->

            <p class="copyright">
                Bản quyền &copy; 2016 thuộc về <%= link_to "Hoàng Khang Incotech", root_path %><br/>
                Thiết kế bởi Hoàng Khang Incotech
            </p>

        </div><!--/ .container-->

    </div><!--/ .footer_section-->

    <!-- - - - - - - - - - - - - - End footer section - - - - - - - - - - - - - - - - -->

</footer>