 <header id="header">

    <!-- - - - - - - - - - - - - - Top part - - - - - - - - - - - - - - - - -->

    <div class="top_part">

        <div class="container">

            <div class="row">

                <div class="col-lg-6 col-md-7 col-sm-8">

                    <!-- - - - - - - - - - - - - - Navigation of shop - - - - - - - - - - - - - - - - -->

                    <nav>

                        <ul class="topbar">

                            <li><%= link_to "Trang chủ", root_path %></li>
                            <li><%= link_to "Giới thiệu", { controller: "about_us", action: "index" } %></li>
                            <li><%= link_to "Tin tức", { controller: "blog", action: "index" } %></li>
                            <li><%= link_to "Đối tác", { controller: "manufacturer", action: "index" } %></li>
                            <li><%= link_to "Liên hệ", { controller: "contact", action: "index" } %></li>
                            
                        </ul>

                    </nav>

                    <!-- - - - - - - - - - - - - - End navigation of shop - - - - - - - - - - - - - - - - -->

                </div> <!--/ [col]-->

                <div class="col-lg-6 col-md-5 col-sm-4">

                    <div class="clearfix">

                        <!-- - - - - - - - - - - - - - Language change - - - - - - - - - - - - - - - - -->
                        
                        <div class="alignright site_settings">

                            <span><img src="images/flag_vn.gif" alt="">Vietnam</span>

                        </div><!--/ .alignright.site_settings-->

                        <!-- - - - - - - - - - - - - - End of language change - - - - - - - - - - - - - - - - -->
                        
                        <!-- - - - - - - - - - - - - - Currency change - - - - - - - - - - - - - - - - -->

                        <div class="alignright site_settings currency">

                            <span>VNĐ</span>

                        </div><!--/ .alignright.site_settings.currency-->

                        <!-- - - - - - - - - - - - - - End of currency change - - - - - - - - - - - - - - - - -->

                    </div><!--/ .clearfix-->

                </div><!--/ [col]-->

            </div><!--/ .row-->

        </div><!--/ .container -->

    </div><!--/ .top_part -->
    
    <!-- - - - - - - - - - - - - - End of top part - - - - - - - - - - - - - - - - -->

    <hr>

    <!-- - - - - - - - - - - - - - Bottom part - - - - - - - - - - - - - - - - -->

    <div class="bottom_part">

        <div class="container">

            <div class="row">

                <div class="main_header_row">

                    <div class="col-lg-4 col-sm-3">

                        <!-- - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - - -->

                        <a href="<%= root_path %>" class="logo">

                            <img src="images/logo_HK.png" alt="">

                        </a>

                        <!-- - - - - - - - - - - - - - End of logo - - - - - - - - - - - - - - - - -->

                    </div><!--/ [col]-->

                    <div class="col-lg-5 col-md-5 col-sm-5">

                        <!-- - - - - - - - - - - - - - Call to action - - - - - - - - - - - - - - - - -->

                        <div class="call_us">

                            <span>Gọi cho chúng tôi:</span> <b><%= @company_info.phone %></b>

                        </div><!--/ .call_us-->

                        <!-- - - - - - - - - - - - - - End call to action - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Search form - - - - - - - - - - - - - - - - -->

                        <%= form_tag({controller: "product_search", action: "index"}, method: "get", class: "clearfix search") do %>

                            <input type="text" name="search" tabindex="1" placeholder="Tìm kiếm..." class="alignleft">
                            
                            <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->

                            <div class="search_category alignleft">
                                
                                 <div class="custom_select">

                                    <select class="list_category">
                                        <% @menu.each do |item| %>
                            
                                            <% if item.level == 1 %>
                                                <option value="<%= item.title %>" name="category_id"><%= item.title %></option>
                                            <% end %>
                                        
                                        <% end %>
                                    </select>

                                </div><!--/ .custom_select -->

                            </div><!--/ .search_category.alignleft-->

                            <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->

                            <button class="button_blue def_icon_btn alignleft"></button>

                        <% end %><!--/ #search-->
                        
                        <!-- - - - - - - - - - - - - - End search form - - - - - - - - - - - - - - - - -->

                    </div><!--/ [col]-->

                    <div class="col-lg-3 col-sm-4">
                        
                        <!-- - - - - - - - - - - - - - Wishlist & compare counters - - - - - - - - - - - - - - - - -->

                        <div class="align_right shop_links">

                            <a href="#" class="small_link"></a>
                            
                            <a href="#" class="small_link"></a>

                        </div><!--/ .align_right.shop_links-->
                        
                        <!-- - - - - - - - - - - - - - End of wishlist & compare counters - - - - - - - - - - - - - - - - -->

                        <div class="align_right">

                            <!-- - - - - - - - - - - - - - Shopping cart - - - - - - - - - - - - - - - - -->

                            <div class="shopping_cart_wrap">

                                <button id="open_shopping_cart" class="open_button" data-amount="<%= @cart.line_items.count %>">
                                    
                                    <b class="title">Giỏ hàng của bạn</b>
                                    
                                    <b class="total_price"><%= number_with_delimiter @cart.total_order.to_i %> VNĐ</b>
                                
                                </button>

                                <!-- - - - - - - - - - - - - - Products list - - - - - - - - - - - - - - - - -->

                            <div class="shopping_cart dropdown">

                                    <div class="animated_item">

                                        <p class="title">Sản phẩm đã thêm vào giỏ hàng</p>

                                    </div><!--/ .animated_item-->
                                    
                                    <% @cart.line_items.each do |item| %>
                                    
                                        <input type="hidden" name="line_items[id]" value="<%= item.id %>">

                                        <div class="animated_item">
    
                                            <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
    
                                            <div class="clearfix sc_product">
                                                
                                                <%= link_to(image_tag(item.product.product_image.image, width: 60, height: 60), {controller: "product", action: "index", id: item.product_id}, class: "product_thumb") %>
    
                                                <%= link_to item.product.name, {controller: "product", action: "index", id: item.product_id}, class: "product_name" %>
    
                                                <p><%= item.quantity %> x <%= item.product.product_price.price.to_i %> VNĐ</p>
    
                                                <%= link_to "" , {controller: "shopping_cart", action: "index", do: 'remove_item', line_item_id: item.id }, {class: "close"}  %>
    
                                            </div><!--/ .clearfix.sc_product-->
                                            
                                            <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->
    
                                        </div><!--/ .animated_item-->
                                    
                                    <% end %>

                                    <div class="animated_item">

                                        <!-- - - - - - - - - - - - - - Total info - - - - - - - - - - - - - - - - -->

                                        <ul class="total_info">

                                            <li class="total"><span class="price">Tổng tiền:</span> <%= number_with_delimiter @cart.total_order.to_i %> VNĐ</li>

                                        </ul>
                                        
                                        <!-- - - - - - - - - - - - - - End of total info - - - - - - - - - - - - - - - - -->

                                    </div><!--/ .animated_item-->

                                    <div class="animated_item">
                                        
                                        <%= link_to "Giỏ hàng", {controller: "shopping_cart", action: "index"}, {class: "button_grey"} %>
                                        
                                        <%= link_to "Đặt hàng", {controller: "check_out", action: "index"}, {class: "button_blue"} %>
                                    
                                    </div><!--/ .animated_item-->

                                </div><!--/ .shopping_cart.dropdown-->
                            
                            <!-- - - - - - - - - - - - - - End of products list - - - - - - - - - - - - - - - - -->

                            </div><!--/ .shopping_cart_wrap.align_left-->
                            
                            <!-- - - - - - - - - - - - - - End of shopping cart - - - - - - - - - - - - - - - - -->

                        </div><!--/ .align_right-->

                    </div><!--/ [col]-->

                </div><!--/ .main_header_row-->

            </div><!--/ .row-->

        </div><!--/ .container-->

    </div><!--/ .bottom_part -->

    <!-- - - - - - - - - - - - - - End of bottom part - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Main navigation wrapper - - - - - - - - - - - - - - - - -->

    <div id="main_navigation_wrap">

        <div class="container">

            <div class="row">

                <div class="col-xs-12">

                    <nav class="full_width_nav main_navigation">

                        <ul>
                            
                            <% @menu.each do |item| %>
                            
                                <% if item.level == 1 %>

                                    <li class="has_megamenu">
    
                                        <%= link_to item.title, {:controller => "category_page", :action => "index", id: item.id } %>
        
                                        <!-- - - - - - - - - - - - - - Mega menu - - - - - - - - - - - - - - - - -->
        
                                        <div class="mega_menu type_2 clearfix">
        
                                        <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->
    
                                        <% item.children.each do |child_1| %>
                                            
                                            <% if child_1.level == 2 %>
                                                    
                                                <div class="mega_menu_item">
                                                
                                                        <h6><b><%= child_1.title %></b></h6>
                                                    
                                                        <ul class="list_of_links">
                                                            
                                                            <% child_1.children.each do |child_2| %>
                                            
                                                                <% if child_2.level == 3 %>
                
                                                                    <li><%= link_to child_2.title, {:controller => "category_page", :action => "index", id: child_2.id } %></a></li>
                                                            
                                                                <% end %>
                                                            
                                                            <% end %>
                                                            
                                                        </ul>
                                                            
                                                </div><!--/ .mega_menu_item-->
                                                
                                            <% end %>
                                    
                                        <% end %>
    
                                        <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->
    
                                    <% end %>
                                
                                </li>
                            
                            <% end %>

                        </ul>

                    </nav><!--/ .main_navigation-->

                </div><!--/ [col]-->

            </div><!--/ .row-->

        </div><!--/ .container-->

    </div><!--/ .main_navigation_wrap-->

    <!-- - - - - - - - - - - - - - End of main navigation wrapper - - - - - - - - - - - - - - - - -->

</header>