 <header id="header">

    <!-- - - - - - - - - - - - - - Top part - - - - - - - - - - - - - - - - -->

    <div class="top_part">

        <div class="container">

            <div class="row">

                <div class="col-lg-6 col-md-7 col-sm-8">

                    <!-- - - - - - - - - - - - - - Navigation of shop - - - - - - - - - - - - - - - - -->

                    <nav>

                        <ul class="topbar">

                            <li><%= link_to "Trang chủ", root_path %></li>
                            <li><%= link_to "Giới thiệu", { controller: "about_us", action: "index" } %></li>
                            <li><a href="#">Khuyến mãi</a></li>
                            <li><a href="#">Tài khoản</a></li>
                            <li><a href="#">Hướng dẩn</a></li>
                            <li><%= link_to "Liên hệ", { controller: "contact", action: "index" } %></li>
                            
                        </ul>

                    </nav>

                    <!-- - - - - - - - - - - - - - End navigation of shop - - - - - - - - - - - - - - - - -->

                </div> <!--/ [col]-->

                <div class="col-lg-6 col-md-5 col-sm-4">

                    <div class="clearfix">

                        <!-- - - - - - - - - - - - - - Language change - - - - - - - - - - - - - - - - -->

                        <div class="alignright site_settings">

                            <span class="current open_"><img src="images/flag_vn.gif" alt="">Vietnam</span>

                            <ul class="dropdown site_setting_list language">

                                <li class="animated_item"><a href="#"><img src="images/flag_vn.gif" alt=""> Vietnam</a></li>

                                <li class="animated_item"><a href="#"><img src="images/flag_en.jpg" alt=""> English</a></li>
                                

                            </ul>

                        </div><!--/ .alignright.site_settings-->

                        <!-- - - - - - - - - - - - - - End of language change - - - - - - - - - - - - - - - - -->
                        
                        <!-- - - - - - - - - - - - - - Currency change - - - - - - - - - - - - - - - - -->

                        <div class="alignright site_settings currency">

                            <span class="current open_">VND</span>

                            <ul class="dropdown site_setting_list">

                                <li class="animated_item"><a href="#">VND</a></li>
                                <li class="animated_item"><a href="#">USD</a></li>

                            </ul>

                        </div><!--/ .alignright.site_settings.currency-->

                        <!-- - - - - - - - - - - - - - End of currency change - - - - - - - - - - - - - - - - -->

                    </div><!--/ .clearfix-->

                </div><!--/ [col]-->

            </div><!--/ .row-->

        </div><!--/ .container -->

    </div><!--/ .top_part -->
    
    <!-- - - - - - - - - - - - - - End of top part - - - - - - - - - - - - - - - - -->

    <hr>

    <!-- - - - - - - - - - - - - - Bottom part - - - - - - - - - - - - - - - - -->

    <div class="bottom_part">

        <div class="container">

            <div class="row">

                <div class="main_header_row">

                    <div class="col-sm-3">

                        <!-- - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - - -->

                        <a href="<%= root_path %>" class="logo">

                            <img src="images/logo_HK.png" alt="">

                        </a>

                        <!-- - - - - - - - - - - - - - End of logo - - - - - - - - - - - - - - - - -->

                    </div><!--/ [col]-->

                    <div class="col-lg-5 col-md-5 col-sm-5">

                        <!-- - - - - - - - - - - - - - Call to action - - - - - - - - - - - - - - - - -->

                        <div class="call_us">

                            <span>Gọi cho chúng tôi:</span> <b><%= @company_info.phone %></b>

                        </div><!--/ .call_us-->

                        <!-- - - - - - - - - - - - - - End call to action - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Search form - - - - - - - - - - - - - - - - -->

                        <form class="clearfix search">

                            <input type="text" name="" tabindex="1" placeholder="Tìm kiếm..." class="alignleft">
                            
                            <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->

                            <div class="search_category alignleft">

                                <div class="open_categories">DANH MỤC</div>

                                <ul class="categories_list dropdown">

                                    <li class="animated_item">
                                    <a href="#">Thiết bị tin học</a></li>
                                    <li class="animated_item"><a href="#">Thiết bị văn phòng</a></li>
                                    <li class="animated_item"><a href="#">Thiết bị hệ thống mạng</a></li>
                                    <li class="animated_item"><a href="#">Thiết bị viễn thông</a></li>
                                    <li class="animated_item"><a href="#">An ninh kiểm soát</a></li>

                                </ul>

                            </div><!--/ .search_category.alignleft-->

                            <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->

                            <button class="button_blue def_icon_btn alignleft"></button>

                        </form><!--/ #search-->
                        
                        <!-- - - - - - - - - - - - - - End search form - - - - - - - - - - - - - - - - -->

                    </div><!--/ [col]-->

                    <div class="col-lg-4 col-sm-4">
                        
                        <!-- - - - - - - - - - - - - - Wishlist & compare counters - - - - - - - - - - - - - - - - -->

                        <div class="align_right shop_links">
                            
                            <a href="#" class="small_link"><i class="icon-heart-5"></i> Sản phẩm yêu thích (7)</a>
                            <a href="#" class="small_link"><i class="icon-resize-small"></i> Sản phẩm quan tâm (2)</a>

                        </div><!--/ .align_right.shop_links-->
                        
                        <!-- - - - - - - - - - - - - - End of wishlist & compare counters - - - - - - - - - - - - - - - - -->

                        <div class="align_right">

                            <!-- - - - - - - - - - - - - - Login / register - - - - - - - - - - - - - - - - -->

                            <div class="login">

                                <a class="small_link" href="#" data-modal-url="modals/login.html">Đăng nhập</a> / <a class="small_link" href="#">Đăng ký</a>

                            </div><!--/ .login-->

                            <!-- - - - - - - - - - - - - - End of Login / register - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Shopping cart - - - - - - - - - - - - - - - - -->

                            <div class="shopping_cart_wrap">

                                <button id="open_shopping_cart" class="open_button" data-amount="0">
                                    <b class="title">Giỏ hàng</b>
                                    <b class="total_price">0 VNĐ</b>
                                </button>

                                <!-- - - - - - - - - - - - - - Products list - - - - - - - - - - - - - - - - -->

                                <div class="shopping_cart dropdown">

                                    <div class="animated_item">

                                        <p class="title">Sản phẩm đã thêm vào giỏ hàng</p>

                                        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                                        <!--<div class="clearfix sc_product">

                                            <a href="#" class="product_thumb"><img src="images/sc_img_1.jpg" alt=""></a>

                                            <a href="#" class="product_name">Win Pro 8.1 64Bit Eng -  FQC-06987</a>

                                            <p>2 x 3.500.000 VNĐ</p>

                                            <button class="close"></button>

                                        </div>--><!--/ .clearfix.sc_product-->
                                        
                                        <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

                                        <p>Giỏ hàng trống!</p>

                                    </div><!--/ .animated_item-->

                                    <div class="animated_item">

                                        <!-- - - - - - - - - - - - - - Total info - - - - - - - - - - - - - - - - -->

                                        <ul class="total_info">

                                            <li><span class="price">Thuế:</span> 0 VNĐ</li>

                                            <li><span class="price">Giảm giá:</span> 0 VNĐ</li>

                                            <li class="total"><b><span class="price">Tổng:</span> 0 VNĐ</b></li>

                                        </ul>
                                        
                                        <!-- - - - - - - - - - - - - - End of total info - - - - - - - - - - - - - - - - -->

                                    </div><!--/ .animated_item-->

                                    <div class="animated_item">

                                        <a href="#" class="button_grey">Giỏ hàng</a>

                                        <a href="#" class="button_blue">Thanh toán</a>

                                    </div><!--/ .animated_item-->

                                </div><!--/ .shopping_cart.dropdown-->

                                <!-- - - - - - - - - - - - - - End of products list - - - - - - - - - - - - - - - - -->

                            </div><!--/ .shopping_cart_wrap.align_left-->
                            
                            <!-- - - - - - - - - - - - - - End of shopping cart - - - - - - - - - - - - - - - - -->

                        </div><!--/ .align_right-->

                    </div><!--/ [col]-->

                </div><!--/ .main_header_row-->

            </div><!--/ .row-->

        </div><!--/ .container-->

    </div><!--/ .bottom_part -->

    <!-- - - - - - - - - - - - - - End of bottom part - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Main navigation wrapper - - - - - - - - - - - - - - - - -->

    <div id="main_navigation_wrap">

        <div class="container">

            <div class="row">

                <div class="col-xs-12">

                    <nav class="full_width_nav main_navigation">

                        <ul>

                            <li class="has_megamenu">

                                <a href="#">Thiết Bị Tin Học</a>

                                <!-- - - - - - - - - - - - - - Mega menu - - - - - - - - - - - - - - - - -->

                                <div class="mega_menu type_2 clearfix">

                                    <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                    <div class="mega_menu_item">
                                    
                                        <h6><b>SẢN PHẨM APPLE-TABLET</b></h6>
                                    
                                        <ul class="list_of_links">

                                            <li><a href="#">Sản phẩm Apple</a></li>
                                            <li><a href="#">Máy tính bảng (TABLET)</a></li>
                                            <li><a href="#">Phụ kiện IPAD</a></li>

                                        </ul>

                                    </div><!--/ .mega_menu_item-->

                                    <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                    <div class="mega_menu_item">

                                        <h6><b>MÁY VI TÍNH</b></h6>
                                    
                                        <ul class="list_of_links">

                                            <li><a href="#">Sản phẩm MTXT</a></li>
                                            <li><a href="#">Phụ kiện MTXT</a></li>
                                            <li><a href="#">Sản phẩm máy chủ</a></li>
                                            <li><a href="#">Linh kiện máy chủ</a></li>
                                            <li><a href="#">Sản phẩm máy bộ</a></li>
                                            <li><a href="#">All in One PC</a></li>

                                        </ul>

                                    </div><!--/ .mega_menu_item-->

                                    <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                    <div class="mega_menu_item">

                                        <h6><b>LINH KIỆN MÁY TÍNH</b></h6>
                                    
                                        <ul class="list_of_links">

                                            <li><a href="#">Bo mạch chủ</a></li>
                                            <li><a href="#">Vi xử lý</a></li>
                                            <li><a href="#">Bộ nhớ trong</a></li>
                                            <li><a href="#">Card đồ họa</a></li>
                                            <li><a href="#">Đĩa cứng</a></li>
                                            <li><a href="#">Màn hình</a></li>
                                            <li><a href="#">Thùng máy</a></li>
                                            <li><a href="#">Ổ quang CD/DVD</a></li>
                                            <li><a href="#">Nguồn</a></li>
                                            
                                        </ul>

                                    </div><!--/ .mega_menu_item-->

                                    <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                    <div class="mega_menu_item">

                                        <h6><b></b></h6>
                                    
                                        <ul class="list_of_links">
                                            
                                            <li><a href="#">Bàn phím</a></li>
                                            <li><a href="#">Chuột</a></li>
                                            <li><a href="#">Ổ cứng gắn ngoài</a></li>
                                            <li><a href="#">Phụ kiện ổ đĩa cứng</a></li>
                                            <li><a href="#">Quạt tản nhiệt</a></li>
                                            <li><a href="#">Ổ USB</a></li>
                                            <li><a href="#">Dàn loa âm thanh</a></li>
                                            <li><a href="#">Tai nghe</a></li>
                                            <li><a href="#">Webcam</a></li>
                                            <li><a href="#">Lưu trữ điện</a></li>

                                        </ul>

                                    </div><!--/ .mega_menu_item-->

                                    <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                    <div class="mega_menu_item">

                                        <h6><b>PHẦN MỀM</b></h6>
                                    
                                        <ul class="list_of_links">

                                            <li><a href="#">Microsoft</a></li>
                                            <li><a href="#">Phần mềm diệt virus</a></li>
                                            <li><a href="#">Phần mềm ứng dụng</a></li>

                                        </ul>

                                    </div><!--/ .mega_menu_item-->

                                    <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                </div><!--/ .mega_menu-->

                                <!-- - - - - - - - - - - - - - End of mega menu - - - - - - - - - - - - - - - - -->

                            </li>

                            <li class="has_megamenu">

                                <a href="#">Thiết Bị Văn Phòng</a>

                                <!-- - - - - - - - - - - - - - Mega menu - - - - - - - - - - - - - - - - -->

                                <div class="mega_menu type_2 clearfix">

                                    <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                    <div class="mega_menu_item">
                                    
                                        <h6><b>MÁY VĂN PHÒNG</b></h6>
                                    
                                        <ul class="list_of_links">

                                            <li><a href="#">Máy in</a></li>
                                            <li><a href="#">Máy scan</a></li>
                                            <li><a href="#">Máy fax</a></li>
                                            <li><a href="#">Máy chiếu</a></li>
                                            <li><a href="#">Thiết bị phụ trợ trình chiếu</a></li>
                                            <li><a href="#">Máy hủy giấy</a></li>
                                            <li><a href="#">Máy photocopy</a></li>
                                            <li><a href="#">Máy ép nhựa, đóng sách</a></li>

                                        </ul>

                                    </div><!--/ .mega_menu_item-->

                                    <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                    <div class="mega_menu_item">

                                        <h6><b>VẬT TƯ THIẾT BỊ</b></h6>
                                    
                                        <ul class="list_of_links">

                                            <li><a href="#">Mực in (lazer, phun, ripon, film fax)</a></li>
                                            <li><a href="#">Mực photo</a></li>
                                            <li><a href="#">Giấy in</a></li>
                                            <li><a href="#">Linh kiện máy in</a></li>
                                            <li><a href="#">Linh kiện mực photo</a></li>

                                        </ul>

                                    </div><!--/ .mega_menu_item-->

                                    <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                    <div class="mega_menu_item">

                                        <h6><b>NGÀNH NGÂN HÀNG - SIÊU THỊ</b></h6>
                                    
                                        <ul class="list_of_links">

                                            <li><a href="#">Máy đếm tiền</a></li>
                                            <li><a href="#">Máy soi tiền</a></li>
                                            <li><a href="#">Máy bó tiền</a></li>
                                            <li><a href="#">Máy tính tiền</a></li>
                                            <li><a href="#">Bảng điện tử</a></li>
                                            <li><a href="#">Máy quét mã vạch</a></li>
                                            <li><a href="#">Máy in Bill</a></li>
                                            <li><a href="#">Nội thất</a></li>
                                            
                                        </ul>

                                    </div><!--/ .mega_menu_item-->

                                    <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                    <div class="mega_menu_item">

                                        <h6><b>THIẾT BỊ KỸ THUẬT SỐ</b></h6>
                                    
                                        <ul class="list_of_links">
                                            
                                            <li><a href="#">Máy ảnh kỹ thuật số</a></li>
                                            <li><a href="#">Máy quay video số</a></li>
                                            <li><a href="#">Máy MP3 - MP4</a></li>
                                            <li><a href="#">Máy ghi âm</a></li>
                                            <li><a href="#">Thẻ nhớ</a></li>
                                            <li><a href="#">Khung ảnh kỹ thuật số</a></li>
                                            <li><a href="#">Phụ kiện</a></li>
                                            <li><a href="#">Thiết bị giải trí HD</a></li>
                                            <li><a href="#">Kim tự điển</a></li>
                                            <li><a href="#">TV/Movies card</a></li>

                                        </ul>

                                    </div><!--/ .mega_menu_item-->

                                    <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                </div><!--/ .mega_menu-->

                                <!-- - - - - - - - - - - - - - End of mega menu - - - - - - - - - - - - - - - - -->

                            </li>

                            <li class="has_megamenu">

                                <a href="#">Thiết Bị Hệ Thống Mạng</a>

                                <!-- - - - - - - - - - - - - - Mega menu - - - - - - - - - - - - - - - - -->

                                <div class="mega_menu type_4 clearfix">

                                    <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                    <div class="mega_menu_item">

                                        <h6><b>THIẾT BỊ KẾT NỐI MẠNG</b></h6>
                                    
                                        <ul class="list_of_links">

                                            <li><a href="#">Modem ADSL & ADSL Wireless</a></li>
                                            <li><a href="#">Router - Network Wireless</a></li>
                                            <li><a href="#">Hub - Switch</a></li>
                                            <li><a href="#">Card mạng</a></li>
                                            <li><a href="#">Print server</a></li>
                                            <li><a href="#">USB 3G</a></li>

                                        </ul>

                                    </div><!--/ .mega_menu_item-->

                                    <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                    <div class="mega_menu_item">

                                        <h6><b>THIẾT BỊ HẠ TẦNG MẠNG</b></h6>
                                    
                                        <ul class="list_of_links">

                                            <li><a href="#">Tủ rack</a></li>
                                            <li><a href="#">Đầu boot</a></li>
                                            <li><a href="#">Kềm bấm mạng</a></li>
                                            <li><a href="#">Thiết bị kiểm tra mạng</a></li>
                                            <li><a href="#">Switch KVM</a></li>

                                        </ul>

                                    </div><!--/ .mega_menu_item-->

                                    <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                    <div class="mega_menu_item">

                                        <h6><b>VẬT TƯ HỆ THỐNG MẠNG</b></h6>
                                    
                                        <ul class="list_of_links">

                                            <li><a href="#">Đầu mạng</a></li>
                                            <li><a href="#">UTP</a></li>
                                            <li><a href="#">Dây điện</a></li>
                                            <li><a href="#">Đầu thoại</a></li>
                                            <li><a href="#">Modul jack thoại</a></li>
                                            
                                        </ul>

                                    </div><!--/ .mega_menu_item-->

                                    <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

                                    <div class="mega_menu_banner">

                                        <a href="#">
                                            <img src="images/hp-xoay-1.png" alt="">
                                        </a>

                                    </div><!--/ .mega_menu_banner-->

                                    <!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->

                                </div><!--/ .mega_menu-->

                                <!-- - - - - - - - - - - - - - End of mega menu - - - - - - - - - - - - - - - - -->

                            </li>

                            <li class="has_megamenu">

                                <a href="#">Thiết Bị Viễn Thông</a>

                                <!-- - - - - - - - - - - - - - Mega menu - - - - - - - - - - - - - - - - -->

                                <div class="mega_menu type_4 clearfix">

                                    <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                    <div class="mega_menu_item">

                                        <h6><b>HỆ THỐNG TỔNG ĐÀI</b></h6>
                                    
                                        <ul class="list_of_links">

                                            <li><a href="#">Tổng đài điện thoại</a></li>
                                            <li><a href="#">Điện thoại bàn</a></li>
                                            <li><a href="#">Bộ đàm</a></li>

                                        </ul>

                                    </div><!--/ .mega_menu_item-->

                                    <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                    <div class="mega_menu_item">

                                        <h6><b>VẬT TƯ TỔNG ĐÀI</b></h6>

                                        <ul class="list_of_links">

                                            <li><a href="#">Cáp thoại</a></li>
                                            <li><a href="#">Tủ MDF</a></li>
                                            <li><a href="#">Dây điện</a></li>
                                            <li><a href="#">Đầu thoại</a></li>
                                            <li><a href="#">Modul jack thoại</a></li>

                                        </ul>

                                    </div><!--/ .mega_menu_item-->

                                    <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                    <div class="mega_menu_item">

                                        <h6><b>ÂM THANH, HỘI THẢO, TRUYỀN HÌNH</b></h6>

                                        <ul class="list_of_links">

                                            <li><a href="#">Voide, video</a></li>
                                            <li><a href="#">Video conference</a></li>
                                            <li><a href="#">Âm thanh cộng đồng</a></li>
                                            <li><a href="#">Âm thanh hội trường</a></li>

                                        </ul>

                                    </div><!--/ .mega_menu_item-->

                                    <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

                                    <div class="mega_menu_banner">

                                        <a href="#">
                                            <img src="images/hp-xoay-2.png" alt="">
                                        </a>

                                    </div><!--/ .mega_menu_banner-->

                                    <!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->

                                </div><!--/ .mega_menu-->

                                <!-- - - - - - - - - - - - - - End of mega menu - - - - - - - - - - - - - - - - -->

                            </li>

                            <li class="has_megamenu">

                                <a href="#">An Ninh Kiểm Soát</a>

                                <!-- - - - - - - - - - - - - - Mega menu - - - - - - - - - - - - - - - - -->

                                <div class="mega_menu type_3 clearfix">

                                    <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                    <div class="mega_menu_item">

                                        <ul class="list_of_links">

                                            <li><a href="#">Camera quan sát</a></li>
                                            <li><a href="#">Máy chấm Công</a></li>
                                            <li><a href="#">Kiểm soát ra vào</a></li>
                                            <li><a href="#">Door phone</a></li>
                                            <li><a href="#">Hệ thống báo trộm</a></li>
                                            <li><a href="#">Hệ thống định vị</a></li>
                                            <li><a href="#">Hệ thống báo động, chống cháy</a></li>

                                        </ul>

                                    </div><!--/ .mega_menu_item -->

                                    <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                    <div class="mega_menu_item products_in_mega_menu">

                                        <h6 class="section_title"><b>Khuyến mãi hôm nay</b></h6>

                                        <div class="row">

                                            <div class="col-sm-4">

                                                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                                                <div class="product_item">

                                                    <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

                                                    <div class="image_wrap">

                                                        <img src="images/macbook-pro-15.jpeg" alt="">

                                                    </div><!--/. image_wrap-->

                                                    <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->

                                                    <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

                                                    <div class="label_offer percentage">

                                                        Giảm<div>10%</div>

                                                    </div>

                                                    <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

                                                    <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->

                                                    <div class="description">

                                                        <p><a href="#">Macbook Pro 15" ME64ZP/A</a></p>

                                                        <div class="clearfix product_info">

                                                            <p class="product_price alignleft"><s>50.480.000 VNĐ</s> <b>45.432.000 VNĐ</b></p>

                                                        </div><!--/ .clearfix.product_info-->

                                                    </div>

                                                    <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->

                                                </div><!--/ .product_item-->
                                                
                                                <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

                                            </div><!--/ [col]-->

                                            <div class="col-sm-4">

                                                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                                                <div class="product_item">

                                                    <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->
                                                    
                                                    <div class="image_wrap">

                                                        <img src="images/tablet-asus-T100TA.jpg" alt="">

                                                    </div><!--/. image_wrap-->

                                                    <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->

                                                    <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

                                                    <div class="label_offer percentage">

                                                        Giảm<div>15%</div>

                                                    </div>

                                                    <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

                                                    <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->

                                                    <div class="description">

                                                        <p><a href="#">Máy tính bảng ASUS T100TA</a></p>

                                                        <div class="clearfix product_info">

                                                            <p class="product_price alignleft"><s>9.911.000 VNĐ</s> <b>8.919.900 VNĐ</b></p>

                                                        </div><!--/ .clearfix.product_info-->

                                                    </div>

                                                    <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->

                                                </div><!--/ .product_item-->
                                                
                                                <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

                                            </div><!--/ [col]-->

                                            <div class="col-sm-4">

                                                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                                                <div class="product_item">

                                                    <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->
                                                    
                                                    <div class="image_wrap">

                                                        <img src="images/ipad-air-2-4g-64gb.jpg" alt="">

                                                    </div><!--/. image_wrap-->

                                                    <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->

                                                    <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

                                                    <div class="label_offer percentage">

                                                        Giảm<div>20%</div>

                                                    </div>

                                                    <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

                                                    <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->

                                                    <div class="description">

                                                        <p><a href="#">Ipad Air 2 4G 64Gb</a></p>

                                                        <div class="clearfix product_info">

                                                            <p class="product_price alignleft"><s>19.420.000 VNĐ</s> <b>17.478.000 VNĐ</b></p>

                                                        </div><!--/ .clearfix.product_info-->

                                                    </div>

                                                    <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->

                                                </div><!--/ .product_item-->
                                                
                                                <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

                                            </div><!--/ [col]-->
                                            
                                        </div><!--/ .row-->

                                        <hr>

                                        <a href="#" class="button_grey">Xem toàn bộ</a>

                                    </div><!--/ .mega_menu_item-->

                                    <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                </div><!--/ .mega_menu-->

                                <!-- - - - - - - - - - - - - - End of mega menu - - - - - - - - - - - - - - - - -->

                            </li>

                        </ul>

                    </nav><!--/ .main_navigation-->

                </div><!--/ [col]-->

            </div><!--/ .row-->

        </div><!--/ .container-->

    </div><!--/ .main_navigation_wrap-->

    <!-- - - - - - - - - - - - - - End of main navigation wrapper - - - - - - - - - - - - - - - - -->

</header>