<div class="block-section-4">
    <div class="container">
        <div class="title-of-section">SẢN PHẨM NỔI BẬT</div>
        <div class="tab-product tab-product-fade-effect">
            <%= render '/modules/home/hot_products', menus: @menus %>
        </div>
    </div>
</div>
<div class="block-section-5">
  <div class="full-width background-section-5">
       <div class="container">
           <div class="title-of-section style2">XẢ KHO HÀNG TỒN</div>
           <div class="tab-product tab-product-fade-effect">
               <%= render '/modules/home/stock_inventory' %>
           </div>
       </div>
  </div>
</div>
<div class="block-section-6">
    <div class="container">
        <%= render '/modules/home/promotion_banner' %>
    </div>
</div>
<div class="block-recent-view">
    <div class="container">
        <div class="title-of-section">SẢN PHẨM BÁN CHẠY</div>
        <%= render '/modules/bestselling' %>
    </div>
</div>
<div class="block-section-brand">
    <div class="container">
        <div class="title-of-section">THƯƠNG HIỆU SẢN PHẨM</div>
        <%= render '/modules/listing_brand' %>
    </div>
</div>