<div class="ajax-box" data-url="<%= home_hot_products_path %>"></div>
<div class="ajax-box" data-url="<%= home_stock_inventory_path %>"></div>
<div class="ajax-box" data-url="<%= home_promotion_banner_path %>"></div>
<div class="ajax-box" data-url="<%= home_bestselling_path %>"></div>
<div class="ajax-box" data-url="<%= home_listing_brand_path %>"></div>