<main class="site-main">
    <%= render '/modules/home/newsletter_popup' %>
    <div class="block-section-1">
        <%= render '/modules/home/slider' %>
    </div>
    <div class="block-daily-deals style1">
        <div class="container">
            <div class="title-of-section">SẢN PHẨM GIẢM GIÁ</div>
            <%= render '/modules/home/daily_deals' %>
        </div>
    </div>
    <div class="block-section-3">
        <div class="container">
            <%= render '/modules/home/deal_banners' %>
        </div>
    </div>
    <div class="ajax-box" data-url="<%= home_hot_products_path %>"></div>
    <div class="ajax-box" data-url="<%= home_stock_inventory_path %>"></div>
    <div class="ajax-box" data-url="<%= home_promotion_banner_path %>"></div>
    <div class="ajax-box" data-url="<%= home_bestselling_path %>"></div>
    <div class="ajax-box" data-url="<%= home_listing_brand_path %>"></div>
</main>
