<!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

<div class="wide_layout">

    <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

    <%= render 'header' %>
    
    <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

    <div class="page_wrapper">

        <div class="container">

            <div class="section_offset">

                <div class="row">
                    <div class="col-xs-12">

                        <!-- - - - - - - - - - - - - - Layer slider - - - - - - - - - - - - - - - - -->
                        
                        <div class="layerslider" style="width:100%; height: 522px;">

                            <!-- - - - - - - - - - - - - - Slideshow - - - - - - - - - - - - - - - - -->
                        
                            <% @slideshow.each do |product| %>
    
                                <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">
    
                                    <img src="<%= product.image_url.slide_show if product.image_url? %>" class="ls-bg" alt="">
    
                                    <div class="ls-l layer_1" style="left: 80px; top:128px; text-transform: uppercase; color: #bd6208;" data-ls="offsetxin: -60; durationin: 650; easingin: easeOutBack;"><%= product.title %></div>
                                    <!--<div class="ls-l layer_3" style="left: 80px; top: 188px;" data-ls="offsetxin: -60; durationin: 650; easingin: easeOutBack; delayin: 150;"></div>-->
                                    <div class="ls-l layer_2" style="left: 80px; top: 200px; font-size: 40px; color: #b2b2b2" data-ls="offsetxin: -60; durationin: 650; easingin: easeOutBack; delayin: 300;"><%= product.description %></div>
    
                                    <!--<a href="#" class="ls-l button_blue huge_btn" style="left: 80px; top: 330px;" data-ls="offsetxin: -60; durationin: 650; easingin: easeOutBack; delayin: 450;">CHI TIẾT</a>-->
    
                                </div>
                            <% end %>
                            
                            <!-- - - - - - - - - - - - - - End of slideshow - - - - - - - - - - - - - - - - -->

                        </div><!--/ #layerslider-->
                        
                        <!-- - - - - - - - - - - - - - End of layer slider - - - - - - - - - - - - - - - - -->
                        
                    </div><!--/ [col]-->

                </div><!--/ .row-->

            </div><!--/ .section_offset-->

            <div class="row">

                <aside class="col-md-3 col-sm-4">

                    <!-- - - - - - - - - - - - - - Today's deals - - - - - - - - - - - - - - - - -->
                    
                    <% if @sale_products.count > 1 %>
                        
                        <section class="section_offset animated transparent" data-animation="fadeInDown">
    
                            <h3 class="widget_title">Đang khuyến mãi</h3>
    
                            <!-- - - - - - - - - - - - - - Carousel of today's deals - - - - - - - - - - - - - - - - -->
    
                            <div class="owl_carousel widgets_carousel">
                                
                                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
                                    
                                <% @sale_products.each do |product| %>
    
                                    <div class="product_item">
    
                                        <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->
        
                                        <div class="image_wrap">
        
                                            <img src="<%= product.product_image.image %>" alt="">
        
                                            <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
        
                                            <div class="actions_wrap">
        
                                                <div class="centered_buttons">
        
                                                    <% if !product.product_price.price.nil? %>
    
                                                        <%= button_to 'Thêm vào giỏ hàng', line_items_path(product_id: product), class: "button_blue middle_btn add_to_cart" %>
    
                                                    <% end %>
        
                                                </div><!--/ .centered_buttons -->
        
                                            </div><!--/ .actions_wrap-->
                                            
                                            <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->
        
                                        </div><!--/. image_wrap-->
        
                                        <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->
        
                                        <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->
                                        
                                        <% if !product.product_info.sale_off_price.nil? and product.product_info.sale_off_price > 0 %>
                                            
                                            <div class="label_offer percentage">
                                                
                                                Giảm<div><%= product.product_info.sale_off_price %>%</div>
            
                                            </div>
                                            
                                        <% end %>
        
                                        <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->
        
                                        <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->
        
                                        <div class="description">
        
                                            <p><%= link_to (truncate(strip_tags(product.name), length: 35)), {controller: "product", action: "index", id: product.id} %></p>
                                            
                                            <p><%= truncate(strip_tags(product.product_info.bonus_product), length: 30) %></p>
        
                                            <div class="clearfix product_info">
                                                
                                                <% if product.product_price.price.nil? %>
                                                    
                                                    <p class="product_price alignleft"><b style="color: #018bc8">Liên hệ báo giá</b></p>
                                                
                                                <% else %>
                                                    
                                                    <% if !product.product_info.nil? %>
                                                       
                                                        <% if product.product_info.sale_price.nil? || product.product_info.sale_price <= 0 %>
                                                            
                                                            <p class="product_price alignleft"><span style="color: #b2b2b2">Giá KM: </span><b><%= number_with_delimiter product.product_price.price.to_i %> VNĐ</b></p>
                                                        
                                                        <% else %>
                                                           
                                                            <p class="product_price alignleft"><s><%= number_with_delimiter product.product_price.price.to_i %> VNĐ</s>
                                                            
                                                            <b><%= number_with_delimiter product.product_info.sale_price.to_i %> VNĐ</b></p>
                                                        
                                                        <% end %>
                                                    
                                                    <% end %>
                                                
                                                <% end %>
        
                                            </div><!--/ .clearfix.product_info-->
        
                                        </div>
        
                                        <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->
                                    
                                    </div><!--/ .product_item-->
                                    
                                <% end %>                            
                                
                                <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->
    
                            </div><!--/ .widgets_carousel-->
    
                            <!-- - - - - - - - - - - - - - End of carousel of today's deals - - - - - - - - - - - - - - - - -->
    
                        </section><!--/ .section_offset.animated.transparent-->
                    
                    <% end %>

                    <!-- - - - - - - - - - - - - - End of today's deals - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Testimonials - - - - - - - - - - - - - - - - -->

                    <section class="section_offset animated transparent" data-animation="fadeInDown">

                        <h3>Tin tức</h3>

                        <!-- - - - - - - - - - - - - - Carousel of testimonials - - - - - - - - - - - - - - - - -->

                        <div class="owl_carousel widgets_carousel">

                            <!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->
                            <% @new_blog_footer.each do |blog| %>
                                
                                <blockquote>
    
                                    <div class="author_info"><b><%= link_to blog.title, { controller: "blog_post", action: "index", id: blog.id } %></b></div>
    
                                    <p><%= truncate(strip_tags(blog.content), length: 35) %></p>
    
                                </blockquote>
                            
                            <% end %>
                            <!-- - - - - - - - - - - - - - End testimonial - - - - - - - - - - - - - - - - -->

                        </div><!--/ .widgets_carousel-->

                        <!-- - - - - - - - - - - - - - End of carousel of testimonials - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - View all testimonials - - - - - - - - - - - - - - - - -->

                        <footer class="bottom_box">
                            
                            <%= link_to "Xem thêm", {controller: "blog", action: "index"}, class: "button_grey middle_btn" %>

                        </footer>

                        <!-- - - - - - - - - - - - - - End of view all testimonials - - - - - - - - - - - - - - - - -->

                    </section><!--/ .section_offset.animated.transparent-->

                    <!-- - - - - - - - - - - - - - End of testimonials - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Infoblocks - - - - - - - - - - - - - - - - -->

                    <div class="section_offset">

                        <!-- - - - - - - - - - - - - - Infoblock - - - - - - - - - - - - - - - - -->

                        <section class="infoblock type_2 animated transparent" data-animation="fadeInDown">

                            <i class="icon-thumbs-up-1"></i>

                            <h4 class="caption"><b>Sản phẩm đạt chất lượng</b></h4>

                        </section><!--/ .infoblock.type_2-->

                        <!-- - - - - - - - - - - - - - End infoblock - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Infoblock - - - - - - - - - - - - - - - - -->

                        <section class="infoblock type_2 animated transparent" data-animation="fadeInDown">

                            <i class="icon-paper-plane"></i>

                            <h4 class="caption"><b>Giao hàng tận nơi, nhanh chóng</b></h4>

                        </section><!--/ .infoblock.type_2-->

                        <!-- - - - - - - - - - - - - - End infoblock - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Infoblock - - - - - - - - - - - - - - - - -->

                        <section class="infoblock type_2 animated transparent" data-animation="fadeInDown">

                            <i class="icon-lock"></i>

                            <h4 class="caption"><b>Đặt hàng an toàn &amp; bảo mật</b></h4>


                        </section><!--/ .infoblock.type_2-->

                        <!-- - - - - - - - - - - - - - End infoblock - - - - - - - - - - - - - - - - -->

                    </div>

                    <!-- - - - - - - - - - - - - - End of infoblocks - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Tags - - - - - - - - - - - - - - - - -->

                    <section class="section_offset animated transparent" data-animation="fadeInDown">

                        <h3>Nhãn</h3>

                        <div class="tags_container">

                            <ul class="tags_cloud">
                                
                                <% @menu.each do |item| %>
                            
                                    <% if item.level == 1 %>
                                        
                                        <li><a class="button_grey" <%= (link_to item.title, {:controller => "category_page", :action => "index", id: item.id }).html_safe %></a></li>
                                        
                                    <% end %>
                                
                                <% end %>

                            </ul><!--/ .tags_cloud-->
                            
                        </div><!--/ .tags_container-->

                    </section>

                    <!-- - - - - - - - - - - - - - End of tags - - - - - - - - - - - - - - - - -->
                    
                </aside>

                <main class="col-md-9 col-sm-8">

                    <!-- - - - - - - - - - - - - - Tabs - - - - - - - - - - - - - - - - -->

                    <div class="tabs products section_offset animated transparent" data-animation="fadeInDown" data-animation-delay="150">

                        <!-- - - - - - - - - - - - - - Navigation of tabs - - - - - - - - - - - - - - - - -->

                        <ul class="tabs_nav clearfix">

                            <li><a href="#tab-1">Mới</a></li>
                            <li><a href="#tab-2">Nổi bật</a></li>
                            <li><a href="#tab-3">Hot</a></li>
                            <li><a href="#tab-4">Bán chạy nhất</a></li>

                        </ul>
                            
                        <!-- - - - - - - - - - - - - - End navigation of tabs - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Tabs container - - - - - - - - - - - - - - - - -->

                        <div class="tab_containers_wrap">

                            <!-- - - - - - - - - - - - - - New products - - - - - - - - - - - - - - - - -->
                            
                            <div id="tab-1" class="tab_container">
                                
                                <div class="table_layout">
                                    
                                    <div class="table_row">

                                        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
                                        
                                        <% @new_products.each_with_index do |product,index| %>
                                        
                                            <div class="table_cell">
    
                                                <div class="product_item">
    
                                                    <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->
    
                                                    <div class="image_wrap">
    
                                                        <img src="<%= product.product_image.image %>" alt="">
    
                                                        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
    
                                                        <div class="actions_wrap">
    
                                                            <div class="centered_buttons">
                                                                
                                                                <% if !product.product_price.price.nil? %>

                                                                    <%= button_to 'Thêm vào giỏ hàng', line_items_path(product_id: product), class: "button_blue middle_btn add_to_cart" %>

                                                                <% end %>
    
                                                            </div><!--/ .centered_buttons -->
    
                                                        </div><!--/ .actions_wrap-->
                                                        
                                                        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->
    
                                                        <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->
    
                                                        <div class="label_new">Mới</div>
    
                                                        <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->
    
                                                    </div><!--/. image_wrap-->
    
                                                    <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->
    
                                                    <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->
    
                                                    <div class="description">
                                                        
                                                        <%= link_to (truncate(strip_tags(product.name), length: 35)), {controller: "product", action: "index", id: product.id} %>
                                                        
                                                        <div class="clearfix product_info">
                                                            
                                                            <% if product.product_price.price.nil? %>
                                                                
                                                                <p class="product_price alignleft"><b style="color: #018bc8">Liên hệ báo giá</b></p>
                                                            
                                                            <% else %>
                                                                
                                                                <p class="product_price alignleft"><b><%= number_with_delimiter product.product_price.price.to_i %> VNĐ</b></p>
                                                            
                                                            <% end %>
                                                        
                                                        </div>
    
                                                    </div>
    
                                                    <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->
    
                                                </div><!--/ .product_item-->
    
                                            </div>
                                                
                                            <%= "</div><div class=\"table_row\">".html_safe if index%3 == 2 %>
                                                
                                        <% end %>
                                        <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

                                    </div>
                              
                                </div>

                            </div>

                            <!-- - - - - - - - - - - - - - End of new products - - - - - - - - - - - - - - - - -->
                            
                            <!-- - - - - - - - - - - - - - Featured products - - - - - - - - - - - - - - - - -->

                            <div id="tab-2" class="tab_container">

                                <div class="table_layout">

                                    <div class="table_row">

                                        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
                                        <% @prominent_products.each_with_index do |product,index| %>
                                            
                                            <div class="table_cell">
                                                
                                                <div class="product_item">
        
                                                    <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->
                                                    
                                                    <div class="image_wrap">
                                                        
                                                        <img src="<%= product.product_image.image %>" alt="">
                                                        
                                                        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
                    
                                                        <div class="actions_wrap">
        
                                                            <div class="centered_buttons">
        
                                                                <% if !product.product_price.price.nil? %>

                                                                    <%= button_to 'Thêm vào giỏ hàng', line_items_path(product_id: product), class: "button_blue middle_btn add_to_cart" %>

                                                                <% end %>
        
                                                            </div><!--/ .centered_buttons -->
        
                                                        </div><!--/ .actions_wrap-->
                                                        
                                                        <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->
    
                                                        <div class="label_highlights">Nổi bật</div>
    
                                                        <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->
                                                        
                                                        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->
        
                                                    </div><!--/. image_wrap-->
        
                                                    <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->
        
                                                    <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->
                                                    
                                                    <div class="description">
                                
                                                        <%= link_to (truncate(strip_tags(product.name), length: 35)), {controller: "product", action: "index", id: product.id} %>
                                                        
                                                        <div class="clearfix product_info">
                                                            
                                                            <% if product.product_price.price.nil? %>
                                                                
                                                                <p class="product_price alignleft"><b style="color: #018bc8">Liên hệ báo giá</b></p>
                                                            
                                                            <% else %>
                                                                
                                                                <p class="product_price alignleft"><b><%= number_with_delimiter product.product_price.price.to_i %> VNĐ</b></p>
                                                            
                                                            <% end %>
                                                            
                                                        </div>
                                                    
                                                    </div>
                                                    
                                                    <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->
        
                                                </div><!--/ .product_item-->
                                                
                                            </div>
                                                
                                            <%= "</div><div class=\"table_row\">".html_safe if index%3 == 2 %>
                                                
                                        <% end %>
                                        <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->
                                    </div>
                                </div>

                            </div>
                                    
                            <!-- - - - - - - - - - - - - - End of featured products - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Hot products - - - - - - - - - - - - - - - - -->

                            <div id="tab-3" class="tab_container">

                                <div class="table_layout">

                                    <div class="table_row">

                                        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
                                        <% @hot_products.each_with_index do |product,index| %>
                                            
                                            <div class="table_cell">
    
                                                <div class="product_item">
    
                                                    <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->
    
                                                    <div class="image_wrap">
    
                                                        <img src="<%= product.product_image.image %>" alt="">
    
                                                        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
    
                                                        <div class="actions_wrap">
    
                                                            <div class="centered_buttons">
    
                                                                <% if !product.product_price.price.nil? %>

                                                                    <%= button_to 'Thêm vào giỏ hàng', line_items_path(product_id: product), class: "button_blue middle_btn add_to_cart" %>

                                                                <% end %>
    
                                                            </div><!--/ .centered_buttons -->
                                                            
                                                        </div><!--/ .actions_wrap-->
                                                        
                                                        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->
    
                                                        <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->
    
                                                        <div class="label_hot">HOT</div>
    
                                                        <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->
    
                                                    </div><!--/. image_wrap-->
    
                                                    <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->
    
                                                    <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->
    
                                                    <div class="description">
    
                                                        <%= link_to (truncate(strip_tags(product.name), length: 35)), {controller: "product", action: "index", id: product.id} %>
                                                        
                                                        <div class="clearfix product_info">
                                                            
                                                            <% if product.product_price.price.nil? %>
                                                                
                                                                <p class="product_price alignleft"><b style="color: #018bc8">Liên hệ báo giá</b></p>
                                                            
                                                            <% else %>
                                                                
                                                                <p class="product_price alignleft"><b><%= number_with_delimiter product.product_price.price.to_i %> VNĐ</b></p>
                                                            
                                                            <% end %>
                                                        
                                                        </div>
    
                                                    </div>
    
                                                    <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->
    
                                                </div><!--/ .product_item-->
    
                                            </div>
                                            
                                            <%= "</div><div class=\"table_row\">".html_safe if index%3 == 2 %>
                                                
                                        <% end %>
                                        <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

                                    </div>

                                </div>

                            </div>
                                    
                            <!-- - - - - - - - - - - - - - End of hot products - - - - - - - - - - - - - - - - -->
                            
                            <!-- - - - - - - - - - - - - - Bestseller products - - - - - - - - - - - - - - - - -->

                            <div id="tab-4" class="tab_container">

                                <div class="table_layout">

                                    <div class="table_row">

                                        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
                                        <% @bestseller_products.each_with_index do |product,index| %>
                                            
                                            <div class="table_cell">
    
                                                <div class="product_item">
    
                                                    <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->
    
                                                    <div class="image_wrap">
    
                                                        <img src="<%= product.product_image.image %>" alt="">
    
                                                        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
    
                                                        <div class="actions_wrap">
    
                                                            <div class="centered_buttons">
    
                                                                <% if !product.product_price.price.nil? %>

                                                                    <%= button_to 'Thêm vào giỏ hàng', line_items_path(product_id: product), class: "button_blue middle_btn add_to_cart" %>

                                                                <% end %>
    
                                                            </div><!--/ .centered_buttons -->
                                                            
                                                        </div><!--/ .actions_wrap-->
                                                        
                                                        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->
    
                                                        <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->
    
                                                        <div class="label_bestseller">Bán chạy nhất</div>
    
                                                        <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->
    
                                                    </div><!--/. image_wrap-->
    
                                                    <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->
    
                                                    <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->
    
                                                    <div class="description">
    
                                                        <%= link_to (truncate(strip_tags(product.name), length: 35)), {controller: "product", action: "index", id: product.id} %>
                                                        
                                                        <div class="clearfix product_info">
                                                            
                                                            <% if product.product_price.price.nil? %>
                                                                
                                                                <p class="product_price alignleft"><b style="color: #018bc8">Liên hệ báo giá</b></p>
                                                            
                                                            <% else %>
                                                                
                                                                <p class="product_price alignleft"><b><%= number_with_delimiter product.product_price.price.to_i %> VNĐ</b></p>
                                                            
                                                            <% end %>
                                                        
                                                        </div>
    
                                                    </div>
    
                                                    <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->
    
                                                </div><!--/ .product_item-->
    
                                            </div>
                                            
                                            <%= "</div><div class=\"table_row\">".html_safe if index%3 == 2 %>
                                                
                                        <% end %>
                                        <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

                                    </div>

                                </div>

                            </div>
                                    
                            <!-- - - - - - - - - - - - - - End of bestseller products - - - - - - - - - - - - - - - - -->
                            
                        </div>

                        <!-- - - - - - - - - - - - - - End of tabs container - - - - - - - - - - - - - - - - -->

                    </div>

                    <!-- - - - - - - - - - - - - - End of tabs - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Our brands - - - - - - - - - - - - - - - - -->

                    <section class="section_offset animated transparent" data-animation="fadeInDown">

                        <h3 class="offset_title">Đối tác cung cấp</h3>

                        <!-- - - - - - - - - - - - - - Carousel of brands - - - - - - - - - - - - - - - - -->

                        <div class="owl_carousel brands">
                            
                            <% @partners.each do |item| %>
                                
                                <!--Brand-->
                                    <%= link_to(image_tag(item.image_url.partner_image, width: 180, height: 150), {controller: "manufacturer_page", action: "index", id: item.manufacturer_id}) %>
                                <!--End brand-->
                                
                            <% end %>

                        </div><!--/ .owl_carousel-->
                        
                        <!-- - - - - - - - - - - - - - End of carousel of brands - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - View all entries - - - - - - - - - - - - - - - - -->

                        <footer class="bottom_box">

                            <%= link_to "Xem thêm", {controller: "manufacturer", action: "index"}, { class: "button_grey middle_btn" } %>
                            
                        </footer>

                        <!-- - - - - - - - - - - - - - End of view all entries - - - - - - - - - - - - - - - - -->
                    
                    </section><!--/ .section_offset.animated.transparent-->
                    
                    <!-- - - - - - - - - - - - - - End our brands - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Latest News - - - - - - - - - - - - - - - - -->

                    <section class="section_offset animated transparent" data-animation="fadeInDown">

                        <h3>Tin tức mới nhất</h3>

                        <div class="table_layout">

                            <div class="table_row">
                                
                                <% @blog.each do |blog| %>

                                    <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
    
                                    <div class="table_cell">
    
                                        <article class="entry">
    
                                            <a href="#" class="thumbnail entry_image">
    
                                                <img src="<%= blog.image_url.article_home if blog.image_url? %>" width="244" height="154" alt="">
    
                                            </a>
    
                                            <h5 class="entry_title"><b><%= link_to blog.title, { controller: "blog_post", action: "index", id: blog.id } %></b></h5>
    
                                            <div class="entry_meta">
    
                                                <span><i class="icon-calendar"></i> <%= blog.created_at.strftime("%d/%m/%Y") %></span>
    
                                            </div><!--/ .byline-->
    
                                            <p><%= truncate(strip_tags(blog.content.html_safe), length: 150) %></p>
    
                                        </article><!--/ .entry-->
    
                                    </div>
    
                                    <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->
                                <% end %>

                            </div>

                        </div>

                        <!-- - - - - - - - - - - - - - View all entries - - - - - - - - - - - - - - - - -->

                        <footer class="bottom_box">

                            <%= link_to "Xem thêm", { controller: "blog", action: "index" }, { class: "button_grey middle_btn" } %>
                            
                        </footer>

                        <!-- - - - - - - - - - - - - - End of view all entries - - - - - - - - - - - - - - - - -->

                    </section><!--/ .section_offset.aniamted.transparent-->

                    <!-- - - - - - - - - - - - - - End of latest news - - - - - - - - - - - - - - - - -->

                </main>

            </div><!--/ .row-->

        </div><!--/ .container-->

    </div><!--/ .page_wrapper-->
    
    <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

    <%= render 'footer' %>
    
    <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

</div><!--/ [layout]-->

<!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

<%= render "social_feeds" %>

<!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Using file _javascripts.html.erb - - - - - - - - - - - - - - - - -->

<!-- Include Libs & Plugins
============================================ -->
<%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
<%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
<%= javascript_include_tag '/frontend/js/layerslider/js/greensock.js' %>
<%= javascript_include_tag '/frontend/js/layerslider/js/layerslider.transitions.js' %>
<%= javascript_include_tag '/frontend/js/layerslider/js/layerslider.kreaturamedia.jquery.js' %>
<%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
<%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.countdown.plugin.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.countdown.min.js' %>
<%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
<%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
<%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
<%= javascript_include_tag '/frontend/js/retina.min.js' %>
<%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>

<!-- Theme files
============================================ -->
<%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
<%= javascript_include_tag '/frontend/js/theme.core.js' %>