<main class="site-main">
    <%= render '/modules/home/newsletter_popup' %>
    <div class="block-section-1">
        <%= render '/modules/home/slider' %>
    </div>
    <% if Product.get_sale_products.count > 0 %>
    <div class="block-daily-deals style1">
        <div class="container">
            <div class="title-of-section">SẢN PHẨM GIẢM GIÁ</div>
            <%= render '/modules/home/daily_deals' %>
        </div>
    </div>
    <!--<div class="block-section-3">
        <div class="container">
            <%= render '/modules/home/deal_banners' %>
        </div>
    </div>-->
    <% end %>
    <%= render '/home/not_using_ajax' %>
</main>
