<!-- Main content -->
<div class="content-wrapper">

    <!-- Page header -->
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4><span class="text-semibold">Quản lý loại tin tức</span></h4>
            </div>
        </div>
    
        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><%= link_to '<i class="icon-home2 position-left"></i> Trang chủ'.html_safe, admin_tags_path %></li>
                <li><%= link_to 'Quản lý bài viết', admin_tags_path %></li>
                <li class="active">Quản lý loại tin tức</li>
            </ul>
        </div>
    </div>
    <!-- /page header -->
    
    <!-- Content area -->
    <div class="content">
    
        <!-- Basic datatable -->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <%= link_to 'Tạo mới tin tức', new_admin_tag_path, class: 'btn btn-primary' %>
                <hr/>
                <h5 class="panel-title">Danh sách <span class="text-semibold">loại tin tức</span></h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <li><a data-action="reload"></a></li>
                        <li><a data-action="close"></a></li>
                    </ul>
                </div>
            </div>
            
            <table class="table datatable-tag">
                <thead>
                    <tr>
                        <th>Tiêu đề</th>
                        <th>Mô tả</th>
                        <th>Ngày tạo</th>
                        <th>Trạng thái</th>
                        <th class="text-center">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                  <% @tags.each do |item| %>
                        <tr>
                            <td><%= link_to item.title, [:admin, item] %></td>
                            <td><%= truncate(strip_tags(item.description), length: 50) %></td>
                            <td><%= item.created_at.strftime("%d/%m/%Y") %></td>
                            <td><span class="label label-info">Active</span></td>
                            <td class="text-center">
                                <ul class="icons-list">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="icon-menu9"></i>
                                        </a>
        
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                              <%= link_to '<i class="glyphicon glyphicon-edit"></i> Sửa'.html_safe, edit_admin_tag_path(item) %>
                                            </li>
                                            <li>
                                              <%= link_to '<i class="icon-cross2"></i> Xóa'.html_safe, [:admin, item], method: :delete, data: {confirm: 'Bạn có chắc xóa dòng này?'} %>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                  <% end %>
                </tbody>
            </table>
        </div>
        <!-- /basic datatable -->
    
        <!-- Footer -->
        <%= render '/admin/manages/footer' %>
        <!-- /footer -->
    
    </div>
    <!-- /content area -->

</div>
<!-- /main content -->

<!-- Theme JS files -->
<%= javascript_include_tag '/backend/assets/js/plugins/forms/styling/uniform.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/tables/datatables/datatables.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/forms/selects/select2.min.js' %>

<%= javascript_include_tag '/backend/assets/js/core/app.js' %>
<%= javascript_include_tag '/backend/javascripts/datatables_tag.js' %>
<!-- /theme JS files -->