<!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

<div class="wide_layout">

    <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

    <%= render 'blog/header' %>
    
    <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

    <div class="secondary_page_wrapper">

        <div class="container">

            <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

            <ul class="breadcrumbs">

                <li><a href="index.html">Trang chủ</a></li>
                <li>Giỏ hàng</li>

            </ul>

            <section class="section_offset">

                <h1>Giỏ hàng</h1>

                <!-- - - - - - - - - - - - - - Shopping cart table - - - - - - - - - - - - - - - - -->

                <div class="table_wrap">

                    <table class="table_type_1 shopping_cart_table">

                        <thead>

                            <tr>
                                <th class="product_image_col">Hình ảnh</th>
                                <th class="product_title_col">Tên sản phẩm</th>
                                <th>Giá</th>
                                <th class="product_qty_col">Số lượng</th>
                                <th>Tổng tiền</th>
                                <th class="product_actions_col">Thao tác</th>
                            </tr>

                        </thead>

                        <tbody>
                            
                            <%= form_for @cart, url: {controller: "shopping_cart", action: "index"} do |f| %>
                            
                                <% @cart.line_items.each do |item| %>
                                
                                    <tr>
                                        
                                        <input type="hidden" name="line_items[id]" value="<%= item.id %>">
        
                                        <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                                            
                                        <td class="product_image_col" data-title="Product Image">
                                            
                                            <%= link_to(image_tag(item.product.product_info.image_url, width: 86, height: 86), {controller: "product", action: "index", id: item.product_id}) %>
        
                                        </td>
        
                                        <!-- - - - - - - - - - - - - - End of product Image - - - - - - - - - - - - - - - - -->
        
                                        <!-- - - - - - - - - - - - - - Product name - - - - - - - - - - - - - - - - -->
        
                                        <td data-title="Product Name">
                                            
                                            <%= link_to item.product.name, {controller: "product", action: "index", id: item.product_id}, class: "product_title" %>
        
                                            <ul class="sc_product_info">
        
                                                <li><%= item.product.product_info.description %></li>
        
                                            </ul>
        
                                        </td>
        
                                        <!-- - - - - - - - - - - - - - End of product name - - - - - - - - - - - - - - - - -->
        
                                        <!-- - - - - - - - - - - - - - Price - - - - - - - - - - - - - - - - -->
        
                                        <td class="subtotal" data-title="Price">
                                            
                                            <%= number_with_delimiter item.product.product_price.price.to_i %>
        
                                        </td>
        
                                        <!-- - - - - - - - - - - - - - End of Price - - - - - - - - - - - - - - - - -->
        
                                        <!-- - - - - - - - - - - - - - Quantity - - - - - - - - - - - - - - - - -->
        
                                        <td data-title="Quantity">
        
                                            <div class="qty min clearfix">
        
                                                <a class="theme_button display_inline" data-direction="minus">&#45;</a>
                                                <input class="display_inline" type="text" name="line_items[quantity]" value="<%= item.quantity %>">
                                                <a class="theme_button display_inline" data-direction="plus">&#43;</a>
        
                                            </div><!--/ .qty.min.clearfix-->
        
                                        </td>
        
                                        <!-- - - - - - - - - - - - - - End of quantity - - - - - - - - - - - - - - - - -->
        
                                        <!-- - - - - - - - - - - - - - Total - - - - - - - - - - - - - - - - -->
        
                                        <td class="total" data-title="Total">
        
                                            <%= number_with_delimiter item.total_item.to_i %>
        
                                        </td>
        
                                        <!-- - - - - - - - - - - - - - End of total - - - - - - - - - - - - - - - - -->
        
                                        <!-- - - - - - - - - - - - - - Action - - - - - - - - - - - - - - - - -->
        
                                        <td data-title="Action">
                                            
                                            
                                            <a href="#" class="button_dark_grey icon_btn edit_product"><i class="icon-pencil"></i></a>
                                            
                                            <%= link_to "<i class='icon-cancel-2'></i>".html_safe , {controller: "shopping_cart", action: "index", do: 'remove_item', line_item_id: item.id }, {class: "button_dark_grey icon_btn remove_product"}  %>
        
                                        </td>
        
                                        <!-- - - - - - - - - - - - - - End of action - - - - - - - - - - - - - - - - -->
        
                                    </tr>
                                    
                                <% end %>
                            
                            <% end %>

                        </tbody>

                    </table>

                </div><!--/ .table_wrap -->
                
                <% if @cart.line_items.count == 0 %>

                    <footer class="bottom_box on_the_sides">
    
                        <div class="center_side">
                            
                            <p>Không có sản phẩm nào trong giỏ hàng.....</p>
                            
                            <%= link_to "Tiến hành mua hàng", root_path, {class: "button_blue middle_btn"} %>
                            
                        </div>
    
                    </footer><!--/ .bottom_box -->
    
                    <!-- - - - - - - - - - - - - - End of shopping cart table - - - - - - - - - - - - - - - - -->
                    
                <% else %>
                    
                    <footer class="bottom_box on_the_sides">
    
                        <div class="left_side">
    
                            <%= link_to "Tiến hành thanh toán", {controller: "check_out", action: "index"}, {class: "button_blue middle_btn"} %>
    
                        </div>
    
                        <div class="right_side">
                            
                            <%= button_to "Xóa giỏ hàng", @cart, class: "button_grey middle_btn", method: :delete %>
                            
                        </div>
    
                    </footer><!--/ .bottom_box -->
    
                    <!-- - - - - - - - - - - - - - End of shopping cart table - - - - - - - - - - - - - - - - -->
                
                <% end %>

            </section>
            
            <section class="section_offset">

                <h3 class="offset_title">Sản phẩm mới</h3>

                <!-- - - - - - - - - - - - - - Carousel of you might also like - - - - - - - - - - - - - - - - -->

                <div class="owl_carousel six_items">
                    
                    <% @new_products.each do |product| %>

                        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
    
                        <div class="product_item">
    
                            <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->
                            
                            <div class="image_wrap">
    
                                <img src="<%= product.product_info.image_url if product.product_info.image_url? %>" style="width: 150px; height: 150px;" class="img-rounded">
    
                                <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
    
                                <div class="actions_wrap">
    
                                    <div class="centered_buttons">
                                        
                                        <%= button_to 'Thêm vào giỏ hàng', line_items_path(product_id: product), class: "button_blue add_to_cart font-small" %>
    
                                    </div><!--/ .centered_buttons -->
    
                                </div><!--/ .actions_wrap-->
                                
                                <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->
    
                            </div><!--/. image_wrap-->
    
                            <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->
    
                            <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->
    
                            <div class="label_new">Mới</div>
    
                            <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->
    
                            <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->
    
                            <div class="description">
    
                                <%= link_to product.name, {controller: "product", action: "index", id: product.id} %>
    
                                <div class="clearfix product_info">
    
                                    <p class="product_price"><b><%= number_with_delimiter product.product_price.price.to_i %> VNĐ</b></p>
    
                                </div><!--/ .clearfix.product_info-->
    
                            </div>
    
                            <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->
    
                        </div><!--/ .product_item-->
                        
                        <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->
                        
                    <% end %>

                </div><!--/ .owl_carousel-->
                
                <!-- - - - - - - - - - - - - - End of you might also like - - - - - - - - - - - - - - - - -->

            </section>

        </div><!--/ .container-->

    </div><!--/ .page_wrapper-->
    
    <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

    <%= render 'blog/footer' %>
    
    <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

</div><!--/ [layout]-->

<!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

<%= render 'home/social_feeds' %>

<!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->

<!-- Include Libs & Plugins
============================================ -->
<%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
<%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
<%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
<%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
<%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
<%= javascript_include_tag '/frontend/js/jquery.countdown.plugin.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.countdown.min.js' %>
<%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
<%= javascript_include_tag '/frontend/js/retina.min.js' %>
<%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>

<!-- Theme files
============================================ -->
<%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
<%= javascript_include_tag '/frontend/js/theme.core.js' %>