<main class="site-main shopping-cart">
    <div class="container">
        <ol class="breadcrumb-page">
            <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, root_path %></li>
            <li class="active"><%= link_to 'Giỏ Hàng', 'javascript:void(0)' %></li>
        </ol>
    </div>
    <div class="container">        
        <% if @cart.line_items.count > 0 %>
            <h1>GIỎ HÀNG</h1>
            <div class="row">            
                <div class="col-md-9">
                    <%= form_for(@cart, html: {class: 'form-cart'}) do |f| %>
                        <div class="table-cart">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="tb-image"></th>
                                        <th class="tb-product">Tên sản phẩm</th>
                                        <th class="tb-price">Đơn giá</th>
                                        <th class="tb-qty">Số lượng</th>
                                        <th class="tb-total">Thành tiền</th>
                                        <th class="tb-remove"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @cart.line_items.each do |line_item| %>
                                        <tr>
                                            <td class="tb-image">
                                                <% if !line_item.product.product_image.id.nil? %>
                                                    <%= link_to image_tag(line_item.product.product_image.image(:thumb100), alt: line_item.get_product_name),
                                                                product_path(id: line_item.product_id, title: line_item.product.alias), title: line_item.get_product_name %>
                                                <% else %>
                                                    <%= link_to image_tag('/hksite/images/no-image/thumb-100.png', alt: line_item.get_product_name),
                                                                product_path(id: line_item.product_id, title: line_item.product.alias), title: line_item.get_product_name %>
                                                <% end %>
                                            </td>
                                            <td class="tb-product">
                                                <div class="product-name">
                                                    <%= link_to truncate(line_item.get_product_name, length: 60),
                                                    product_path(id: line_item.product_id, title: line_item.product.alias), title: line_item.get_product_name %>
                                                </div>
                                            </td>
                                            <td class="tb-price"><%= format_price(line_item.product.display_price) %></td>
                                            <td class="tb-qty">
                                                <div class="quantity">
                                                    <div class="buttons-added">
                                                        <input name="quantities[<%= line_item.id %>]" type="text" value="<%= line_item.quantity %>" min="1" title="Số lượng đặt mua" class="input-text qty text" size="1">
                                                        <a href="javascript:void(0)" class="sign plus"><i class="fa fa-plus"></i></a>
                                                        <a href="javascript:void(0)" class="sign minus"><i class="fa fa-minus"></i></a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="tb-total"><%= format_price(line_item.total_item) %></td>
                                            <td class="tb-remove">
                                                <%= link_to '<span><i class="fa fa-times" aria-hidden="true"></i></span>'.html_safe,
                                                    shopping_cart_path(do: 'remove_item', line_item_id: line_item.id), class: 'action-remove' %>
                                            </td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                        <div class=cart-actions">
                            <%= link_to 'Tiếp tục mua hàng', root_path, title: '', class: 'btn btn-continue' %>
                            <%= button_to 'Cập nhật giỏ hàng', "#", class: "btn btn-clean" %>
                        </div>
                    <% end %>
                </div>
                <div class="col-md-3 padding-left-5">
                    <div class="order-summary">
                        <h4 class="title-shopping-cart">Thông tin thanh toán</h4>
                        <div class="checkout-element-content">                        
                            <span class="order-left">Tổng tiền:<%= format_price(@cart.total_order) %></span>
                            <%= link_to 'ĐẶT HÀNG', check_out_path, title: 'Đặt hàng', class: 'btn btn-checkout' %>
                        </div>
                    </div>
                </div>
            </div>
        <% else %>
            <div class="row cart-no-items">            
                <div class="col-md-12">
                    <%= link_to image_tag('/hksite/images/logo-hkstore.svg', alt: 'Tiếp tục mua hàng', class: 'no-items'),
                        root_path, alt: 'Tiếp tục mua hàng' %>
                    <br><br><span class="notice">GIỎ HÀNG CỦA BẠN HIỆN TẠI ĐANG TRỐNG</span>
                    <br><%= link_to 'TIẾP TỤC MUA HÀNG', root_path, title: 'Tiếp tục mua hàng', class: 'btn btn-default shopping-continue' %>
                </div>
            </div>
        <% end %>
    </div>
    <div class="block-recent-view">
        <div class="container">
            <div class="title-of-section">Sản Phẩm Bán Chạy</div>
            <%= render '/modules/bestselling' %>
        </div>
    </div>
    <div class="block-section-brand">
        <div class="container">
            <%= render '/modules/listing_brand' %>
        </div>
    </div>
</main>