		<!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

		<div class="wide_layout">

			<!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

			<%= render 'home/header' %>
			
			<!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

			<!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

			<div class="secondary_page_wrapper">

				<div class="container">

					<!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

					<ul class="breadcrumbs">

						<li><a href="index.html">Trang chủ</a></li>
						<li><a href="category_page.html">Thiết bị tin học</a></li>
						<li class="active">HP Notebook 15</li>

					</ul>

					<!-- - - - - - - - - - - - - - End of breadcrumbs - - - - - - - - - - - - - - - - -->

					<div class="row">

						<main class="col-md-9 col-sm-8">

							<!-- - - - - - - - - - - - - - Product images & description - - - - - - - - - - - - - - - - -->

							<section class="section_offset">

								<div class="clearfix">

									<!-- - - - - - - - - - - - - - Product image column - - - - - - - - - - - - - - - - -->

									<div class="single_product">

										<!-- - - - - - - - - - - - - - Image preview container - - - - - - - - - - - - - - - - -->

										<div class="image_preview_container">

											<img id="img_zoom" data-zoom-image="images/hp-15-02.jpg" src="images/hp-15-02.jpg" alt="">

											<button class="button_grey_2 icon_btn middle_btn open_qv"><i class="icon-resize-full-6"></i></button>

										</div><!--/ .image_preview_container-->

										<!-- - - - - - - - - - - - - - End of image preview container - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Prodcut thumbs carousel - - - - - - - - - - - - - - - - -->
										
										<div class="product_preview">

											<div class="owl_carousel" id="thumbnails">
												
												<a href="#" data-image="images/hp-15.jpg" data-zoom-image="images/hp-15.jpg">

													<img src="images/hp-15.jpg" data-large-image="images/hp-15.jpg" alt="">

												</a>

												<a href="#" data-image="images/hp-15-02.jpg" data-zoom-image="images/hp-15-02.jpg">

													<img src="images/hp-15-02.jpg" data-large-image="images/hp-15-02.jpg" alt="">

												</a>

												<a href="#" data-image="images/hp-15-03.jpg" data-zoom-image="images/hp-15-03.jpg">

													<img src="images/hp-15-03.jpg" data-large-image="images/hp-15-03.jpg" alt="">

												</a>

											</div><!--/ .owl-carousel-->

										</div><!--/ .product_preview-->
										
										<!-- - - - - - - - - - - - - - End of prodcut thumbs carousel - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Share - - - - - - - - - - - - - - - - -->
										
										<div class="v_centered">

											<span class="title">Chia sẻ:</span>

											<div class="addthis_widget_container">
												<!-- AddThis Button BEGIN -->
												<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
												<a class="addthis_button_preferred_1"></a>
												<a class="addthis_button_preferred_2"></a>
												<a class="addthis_button_preferred_3"></a>
												<a class="addthis_button_preferred_4"></a>
												<a class="addthis_button_compact"></a>
												<a class="addthis_counter addthis_bubble_style"></a>
												</div>
												<!-- AddThis Button END -->
											</div>
											
										</div>
										
										<!-- - - - - - - - - - - - - - End of share - - - - - - - - - - - - - - - - -->

									</div>

									<!-- - - - - - - - - - - - - - End of product image column - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Product description column - - - - - - - - - - - - - - - - -->

									<div class="single_product_description">

										<h3 class="offset_title"><a href="#"><%= @pro_detail.name %></a></h3>

										<!-- - - - - - - - - - - - - - Page navigation - - - - - - - - - - - - - - - - -->

										<div class="page-nav">

											<a href="#" class="page-prev"></a>
											<a href="#" class="page-next"></a>

										</div>

										<!-- - - - - - - - - - - - - - End of page navigation - - - - - - - - - - - - - - - - -->

										<div class="description_section v_centered">

											<!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->
										
											<ul class="rating">

												<li class="active"></li>
												<li class="active"></li>
												<li class="active"></li>
												<li></li>
												<li></li>

											</ul>
												
											<!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

											<!-- - - - - - - - - - - - - - Reviews menu - - - - - - - - - - - - - - - - -->

											<ul class="topbar">

												<li><a href="#">3 bình luận</a></li>
												<li><a href="#">Thêm bình luận</a></li>

											</ul>

											<!-- - - - - - - - - - - - - - End of reviews menu - - - - - - - - - - - - - - - - -->

										</div>

										<div class="description_section">

											<table class="product_info">

												<tbody>

													<tr>

														<td>Nhà cung cấp: </td>
														<td><a href="#">HP</a></td>

													</tr>

													<tr>

														<td>Tình trạng: </td>
														<td><span class="in_stock">Còn trong kho</span> 20 sản phẩm</td>

													</tr>

													<tr>

														<td>Mã sản phẩm: </td>
														<td><%= @pro_detail.product_code %></td>

													</tr>

												</tbody>

											</table>

										</div>

										<hr>

										<div class="description_section">

											<p><%= @pro_detail.description %></p>

										</div>

										<hr>
										
										<p class="product_price"><b class="theme_color"><%= number_with_delimiter(@pro_detail.product_price.price.to_i, :delimiter => ".") %> VNĐ</b></p>

										<!-- - - - - - - - - - - - - - Product size - - - - - - - - - - - - - - - - -->

										<div class="description_section_2 v_centered">
											
											<span class="title">Màu:</span>

											<div class="custom_select min">

												<select>

													<option value="Trắng">Trắng</option>
													<option value="Đen">Đen</option>
													<option value="Xám">Xám</option>

												</select>

											</div>

										</div>

										<!-- - - - - - - - - - - - - - End of product size - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Quantity - - - - - - - - - - - - - - - - -->

										<div class="description_section_2 v_centered">
											
											<span class="title">Số lượng:</span>

											<div class="qty min clearfix">

												<button class="theme_button" data-direction="minus">&#45;</button>
												<input type="text" name="" value="1">
												<button class="theme_button" data-direction="plus">&#43;</button>

											</div>

										</div>

										<!-- - - - - - - - - - - - - - End of quantity - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

										<div class="buttons_row">

											<button class="button_blue middle_btn">Thêm vào giỏ hàng</button>

											<button class="button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container"><span class="tooltip top">Add to Wishlist</span></button>

											<button class="button_dark_grey def_icon_btn middle_btn add_to_compare tooltip_container"><span class="tooltip top">Add to Compare</span></button>

										</div>

										<!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

									</div>

									<!-- - - - - - - - - - - - - - End of product description column - - - - - - - - - - - - - - - - -->

								</div>

							</section><!--/ .section_offset -->

							<!-- - - - - - - - - - - - - - End of product images & description - - - - - - - - - - - - - - - - -->

							<!-- - - - - - - - - - - - - - Tabs - - - - - - - - - - - - - - - - -->

							<div class="section_offset">

								<div class="tabs type_2">

									<!-- - - - - - - - - - - - - - Navigation of tabs - - - - - - - - - - - - - - - - -->

									<ul class="tabs_nav clearfix">

										<li><a href="#tab-1">Giới thiệu</a></li>
										<li><a href="#tab-2">Thông số kỹ thuật</a></li>
										<li><a href="#tab-3">Bình luận (2)</a></li>
										<li><a href="#tab-4">Video</a></li>

									</ul>
									
									<!-- - - - - - - - - - - - - - End navigation of tabs - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Tabs container - - - - - - - - - - - - - - - - -->

									<div class="tab_containers_wrap">

										<!-- - - - - - - - - - - - - - Tab - - - - - - - - - - - - - - - - -->

										<div id="tab-1" class="tab_container">
                                        <%= @pro_detail.note %>
										</div><!--/ #tab-1-->

										<!-- - - - - - - - - - - - - - End tab - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Tab - - - - - - - - - - - - - - - - -->

										<div id="tab-2" class="tab_container">

											<ul class="specifications">

												<li><span>Model:</span>15 AC001TU</li>
												<li><span>Màu sắc:</span>Bạc</li>
												<li><span>Nhà sản xuất:</span>HP</li>
												<li><span>CPU:</span>Intel Core i3</li>
												<li><span>RAM:</span>4 GB/SDRAM DDR3/1600 MHz</li>
												<li><span>HDD:</span>500 GB/SATA</li>
												
											</ul>

										</div><!--/ #tab-2-->

										<!-- - - - - - - - - - - - - - End tab - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Tab - - - - - - - - - - - - - - - - -->

										<div id="tab-3" class="tab_container">

											<section class="section_offset">

												<h3>Khách hàng bình luận</h3>

												<ul class="reviews">

													<li>

														<!-- - - - - - - - - - - - - - Review - - - - - - - - - - - - - - - - -->
														
														<article class="review">

															<!-- - - - - - - - - - - - - - Rates - - - - - - - - - - - - - - - - -->

															<ul class="review-rates">

																<!-- - - - - - - - - - - - - - Price - - - - - - - - - - - - - - - - -->

																<li class="v_centered">
																	
																	<span class="name">Giá</span>

																	<ul class="rating">

																		<li class="active"></li>
																		<li class="active"></li>
																		<li class="active"></li>
																		<li></li>
																		<li></li>

																	</ul>

																</li>

																<!-- - - - - - - - - - - - - - End of price - - - - - - - - - - - - - - - - -->

																<!-- - - - - - - - - - - - - - Value - - - - - - - - - - - - - - - - -->

																<li class="v_centered">
																	
																	<span class="name">Kiểu dáng</span>

																	<ul class="rating">

																		<li class="active"></li>
																		<li class="active"></li>
																		<li class="active"></li>
																		<li class="active"></li>
																		<li></li>

																	</ul>

																</li>

																<!-- - - - - - - - - - - - - - End of value - - - - - - - - - - - - - - - - -->

																<!-- - - - - - - - - - - - - - Quality - - - - - - - - - - - - - - - - -->

																<li class="v_centered">
																	
																	<span class="name">Thông số</span>

																	<ul class="rating">

																		<li class="active"></li>
																		<li class="active"></li>
																		<li class="active"></li>
																		<li class="active"></li>
																		<li class="active"></li>

																	</ul>

																</li>

																<!-- - - - - - - - - - - - - - End of quality - - - - - - - - - - - - - - - - -->

															</ul>

															<!-- - - - - - - - - - - - - - End of rates - - - - - - - - - - - - - - - - -->

															<!-- - - - - - - - - - - - - - Review body - - - - - - - - - - - - - - - - -->

															<div class="review-body">

																<div class="review-meta">
																	
																	<h5 class="bold">Thông số tốt</h5>

																	Bình luận bởi <a href="#" class="bold">Phạm Minh Luân</a> lúc 22/12/2015

																</div>

																<p>Ad ơi! Sản phẩm này mình còn hàng không ạ. Mình muốn mua </p>
																<p>Ad ơi! Sản phẩm này mình còn hàng không ạ. Mình muốn mua </p>
															</div>

															<!-- - - - - - - - - - - - - - End of review body - - - - - - - - - - - - - - - - -->

														</article>

														<!-- - - - - - - - - - - - - - End of review - - - - - - - - - - - - - - - - -->

													</li>

													<li>

														<!-- - - - - - - - - - - - - - Review - - - - - - - - - - - - - - - - -->
														
														<article class="review">

															<!-- - - - - - - - - - - - - - Rates - - - - - - - - - - - - - - - - -->

															<ul class="review-rates">

																<!-- - - - - - - - - - - - - - Price - - - - - - - - - - - - - - - - -->

																<li class="v_centered">
																	
																	<span class="name">Giá</span>

																	<ul class="rating">

																		<li class="active"></li>
																		<li class="active"></li>
																		<li class="active"></li>
																		<li></li>
																		<li></li>

																	</ul>

																</li>

																<!-- - - - - - - - - - - - - - End of price - - - - - - - - - - - - - - - - -->

																<!-- - - - - - - - - - - - - - Value - - - - - - - - - - - - - - - - -->

																<li class="v_centered">
																	
																	<span class="name">Kiểu dáng</span>

																	<ul class="rating">

																		<li class="active"></li>
																		<li class="active"></li>
																		<li class="active"></li>
																		<li class="active"></li>
																		<li></li>

																	</ul>

																</li>

																<!-- - - - - - - - - - - - - - End of value - - - - - - - - - - - - - - - - -->

																<!-- - - - - - - - - - - - - - Quality - - - - - - - - - - - - - - - - -->

																<li class="v_centered">
																	
																	<span class="name">Thông số</span>

																	<ul class="rating">

																		<li class="active"></li>
																		<li class="active"></li>
																		<li class="active"></li>
																		<li class="active"></li>
																		<li class="active"></li>

																	</ul>

																</li>

																<!-- - - - - - - - - - - - - - End of quality - - - - - - - - - - - - - - - - -->

															</ul>

															<!-- - - - - - - - - - - - - - End of rates - - - - - - - - - - - - - - - - -->

															<!-- - - - - - - - - - - - - - Review body - - - - - - - - - - - - - - - - -->

															<div class="review-body">

																<div class="review-meta">
																	
																	<h5 class="bold">Thông số tốt</h5>

																	Bình luận bởi <a href="#" class="bold">Phạm Minh Luân</a> lúc 22/12/2015

																</div>

																<p>Giao hàng nhanh, nhân viên nhiệt tình. Giao hàng nhanh, nhân viên nhiệt tình. Giao hàng nhanh, nhân viên nhiệt tình.</p>

															</div>

															<!-- - - - - - - - - - - - - - End of review body - - - - - - - - - - - - - - - - -->

														</article>

														<!-- - - - - - - - - - - - - - End of review - - - - - - - - - - - - - - - - -->

													</li>

												</ul>

												<a href="#" class="button_grey middle_btn">Hiển thị tất cả</a>

											</section><!--/ .section_offset -->

											<section class="section_offset">

												<h3>Viết bình luận</h3>

												<div class="row">

													<div class="col-lg-6">

														<p>Bình luận cho sản phẩm: <a href="#">Microsoft Lumia 950 XL</a><br>Bạn đánh giá sản phẩm này thế nào? *</p>

														<!-- - - - - - - - - - - - - - Rate the - - - - - - - - - - - - - - - - -->

														<div class="table_wrap rate_table">

															<table>

																<thead>

																	<tr>
																			
																		<th></th>
																		<th>1 Star</th>
																		<th>2 Stars</th>
																		<th>3 Stars</th>
																		<th>4 Stars</th>
																		<th>5 Stars</th>

																	</tr>

																</thead>

																<tbody>

																	<tr>
																		
																		<td>Giá</td>

																		<td>
																				
																			<input checked type="radio" name="price_rate" id="rate_1">
																			<label for="rate_1"></label>

																		</td>

																		<td>
																				
																			<input type="radio" name="price_rate" id="rate_2">
																			<label for="rate_2"></label>

																		</td>

																		<td>
																				
																			<input type="radio" name="price_rate" id="rate_3">
																			<label for="rate_3"></label>

																		</td>

																		<td>
																				
																			<input type="radio" name="price_rate" id="rate_4">
																			<label for="rate_4"></label>

																		</td>

																		<td>
																				
																			<input type="radio" name="price_rate" id="rate_5">
																			<label for="rate_5"></label>

																		</td>

																	</tr>

																	<tr>
																		
																		<td>Kiểu dáng</td>

																		<td>
																				
																			<input checked type="radio" name="value_rate" id="rate_6">
																			<label for="rate_6"></label>

																		</td>

																		<td>
																				
																			<input type="radio" name="value_rate" id="rate_7">
																			<label for="rate_7"></label>

																		</td>

																		<td>
																				
																			<input type="radio" name="value_rate" id="rate_8">
																			<label for="rate_8"></label>

																		</td>

																		<td>
																				
																			<input type="radio" name="value_rate" id="rate_9">
																			<label for="rate_9"></label>

																		</td>

																		<td>
																				
																			<input type="radio" name="value_rate" id="rate_10">
																			<label for="rate_10"></label>

																		</td>

																	</tr>

																	<tr>
																		
																		<td>Thông số</td>

																		<td>
																				
																			<input checked type="radio" name="quality_rate" id="rate_11">
																			<label for="rate_11"></label>

																		</td>

																		<td>
																				
																			<input type="radio" name="quality_rate" id="rate_12">
																			<label for="rate_12"></label>

																		</td>

																		<td>
																				
																			<input type="radio" name="quality_rate" id="rate_13">
																			<label for="rate_13"></label>

																		</td>

																		<td>
																				
																			<input type="radio" name="quality_rate" id="rate_14">
																			<label for="rate_14"></label>

																		</td>

																		<td>
																				
																			<input type="radio" name="quality_rate" id="rate_15">
																			<label for="rate_15"></label>

																		</td>

																	</tr>

																</tbody>

															</table>

														</div>

														<!-- - - - - - - - - - - - - - End of rate the - - - - - - - - - - - - - - - - -->

													</div><!--/ [col]-->

													<div class="col-lg-6">

														<p class="subcaption">Bắt buộc nhập đầy đủ thông tin.</p>

														<!-- - - - - - - - - - - - - - Review form - - - - - - - - - - - - - - - - -->

														<form class="type_2">

															<ul>

																<li class="row">

																	<div class="col-sm-6">
																		
																		<label for="nickname">Họ & Tên</label>
																		<input type="text" name="" id="nickname">

																	</div>

																	<div class="col-sm-6">
																		
																		<label for="summary">Tiêu đề</label>
																		<input type="text" name="" id="summary">

																	</div>

																</li>

																<li class="row">

																	<div class="col-xs-12">

																		<label for="review_message">Nội dung</label>

																		<textarea rows="5" id="review_message"></textarea>

																	</div>

																</li>

																<li class="row">

																	<div class="col-xs-12">
																	
																		<button class="button_dark_grey middle_btn">Gửi bình luận</button>

																	</div>

																</li>

															</ul>

														</form>

														<!-- - - - - - - - - - - - - - End of review form - - - - - - - - - - - - - - - - -->

													</div>

												</div><!--/ .row -->

											</section><!--/ .section_offset -->

										</div><!--/ #tab-3-->

										<!-- - - - - - - - - - - - - - End tab - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Tab - - - - - - - - - - - - - - - - -->

										<div id="tab-4" class="tab_container">

											<!-- - - - - - - - - - - - - - Youtube video - - - - - - - - - - - - - - - - -->

											<div class="video_wrap">

												<iframe src="http://www.youtube.com/embed/-BrDlrytgm8?controls=1&amp;autohide=0&amp;wmode=transparent"></iframe>

											</div><!--/ .video_wrap -->

											<!-- - - - - - - - - - - - - - End of youtube video - - - - - - - - - - - - - - - - -->

										</div><!--/ #tab-4-->

										<!-- - - - - - - - - - - - - - End tab - - - - - - - - - - - - - - - - -->

									</div><!--/ .tab_containers_wrap -->

									<!-- - - - - - - - - - - - - - End of tabs containers - - - - - - - - - - - - - - - - -->

								</div><!--/ .tabs-->

							</div><!--/ .section_offset -->

							<!-- - - - - - - - - - - - - - End of tabs - - - - - - - - - - - - - - - - -->

							<!-- - - - - - - - - - - - - - Related products - - - - - - - - - - - - - - - - -->

							<section class="section_offset">

								<h3 class="offset_title">Sản phẩm liên quan</h3>

								<div class="owl_carousel related_products">

									<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

									<div class="product_item">

										<!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

										<div class="image_wrap">

											<img src="images/Asus-F555LF-01.jpg" alt="">

											<!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

											<div class="actions_wrap">

												<div class="centered_buttons">

													<a href="#" class="button_dark_grey quick_view" data-modal-url="modals/quick_view.html">Xem nhanh</a>

													<a href="#" class="button_blue add_to_cart">Thêm vào giỏ hàng</a>

												</div><!--/ .centered_buttons -->

												<a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Thêm vào danh sách yêu thích</span></a>

												<a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">Thêm vào danh sách quan tâm</span></a>

											</div><!--/ .actions_wrap-->
											
											<!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

										</div><!--/. image_wrap-->

										<!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

										<div class="label_new">New</div>

										<!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

										<div class="description">

											<a href="#">ASUS F555L</a>

											<div class="clearfix product_info">

												<p class="product_price alignleft"><b>9.490.000 VNĐ</b></p>

											</div>

										</div>

										<!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->

									</div><!--/ .product_item-->
									
									<!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

									<div class="product_item">

										<!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

										<div class="image_wrap">

											<img src="images/Asus-X454LA-01.jpg" alt="">

											<!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

											<div class="actions_wrap">

												<div class="centered_buttons">

													<a href="#" class="button_dark_grey quick_view" data-modal-url="modals/quick_view.html">Xem nhanh</a>

													<a href="#" class="button_blue add_to_cart">Thêm vào giỏ hàng</a>

												</div><!--/ .centered_buttons -->

												<a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Thêm vào danh sách yêu thích</span></a>

												<a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">Thêm vào danh sách quan tâm</span></a>

											</div><!--/ .actions_wrap-->
											
											<!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

										</div><!--/. image_wrap-->

										<!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

										<div class="label_new">New</div>

										<!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

										<div class="description">

											<a href="#">ASUS X454LA</a>

											<div class="clearfix product_info">

												<p class="product_price alignleft"><b>7.790.000 VNĐ</b></p>

											</div>

										</div>

										<!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->

									</div><!--/ .product_item-->
									
									<!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

									<div class="product_item">

										<!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

										<div class="image_wrap">

											<img src="images/Asus-F555LF-03.jpg" alt="">

											<!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

											<div class="actions_wrap">

												<div class="centered_buttons">

													<a href="#" class="button_dark_grey quick_view" data-modal-url="modals/quick_view.html">Xem nhanh</a>

													<a href="#" class="button_blue add_to_cart">Thêm vào giỏ hàng</a>

												</div><!--/ .centered_buttons -->

												<a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Thêm vào danh sách yêu thích</span></a>

												<a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">Thêm vào danh sách quan tâm</span></a>

											</div><!--/ .actions_wrap-->
											
											<!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

										</div><!--/. image_wrap-->

										<!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

										<div class="label_new">New</div>

										<!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

										<div class="description">

											<a href="#">ASUS F555LF</a>

											<div class="clearfix product_info">

												<p class="product_price alignleft"><b>15.990.000 VNĐ</b></p>

											</div>

										</div>

										<!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->

									</div><!--/ .product_item-->
									
									<!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

									<div class="product_item">

										<!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

										<div class="image_wrap">

											<img src="images/Dell-Vostro-2420.jpg" alt="">

											<!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

											<div class="actions_wrap">

												<div class="centered_buttons">

													<a href="#" class="button_dark_grey quick_view" data-modal-url="modals/quick_view.html">Xem nhanh</a>

													<a href="#" class="button_blue add_to_cart">Thêm vào giỏ hàng</a>

												</div><!--/ .centered_buttons -->

												<a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Thêm vào danh sách yêu thích</span></a>

												<a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">Thêm vào danh sách quan tâm</span></a>

											</div><!--/ .actions_wrap-->
											
											<!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

										</div><!--/. image_wrap-->

										<!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

										<div class="label_new">New</div>

										<!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

										<div class="description">

											<a href="#">DELL VOSTRO 2420</a>

											<div class="clearfix product_info">

												<p class="product_price alignleft"><b>9.500.000 VNĐ</b></p>

											</div>

										</div>

										<!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->

									</div><!--/ .product_item-->
									
									<!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

									<div class="product_item">

										<!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

										<div class="image_wrap">

											<img src="images/product-lumia-950.jpg" alt="">

											<!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

											<div class="actions_wrap">

												<div class="centered_buttons">

													<a href="#" class="button_dark_grey quick_view" data-modal-url="modals/quick_view.html">Xem nhanh</a>

													<a href="#" class="button_blue add_to_cart">Thêm vào giỏ hàng</a>

												</div><!--/ .centered_buttons -->

												<a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Thêm vào danh sách yêu thích</span></a>

												<a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">Thêm vào danh sách quan tâm</span></a>

											</div><!--/ .actions_wrap-->
											
											<!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

										</div><!--/. image_wrap-->

										<!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

										<div class="label_new">New</div>

										<!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

										<div class="description">

											<a href="#">MICROSOFT LUMIA 950</a>

											<div class="clearfix product_info">

												<p class="product_price alignleft"><b>15.990.000VNĐ</b></p>

											</div>

										</div>

										<!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->

									</div><!--/ .product_item-->
									
									<!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

									<div class="product_item">

										<!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

										<div class="image_wrap">

											<img src="images/product-lumia-950.jpg" alt="">

											<!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

											<div class="actions_wrap">

												<div class="centered_buttons">

													<a href="#" class="button_dark_grey quick_view" data-modal-url="modals/quick_view.html">Xem nhanh</a>

													<a href="#" class="button_blue add_to_cart">Thêm vào giỏ hàng</a>

												</div><!--/ .centered_buttons -->

												<a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Thêm vào danh sách yêu thích</span></a>

												<a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">Thêm vào danh sách quan tâm</span></a>

											</div><!--/ .actions_wrap-->
											
											<!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

										</div><!--/. image_wrap-->

										<!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

										<div class="label_new">New</div>

										<!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

										<div class="description">

											<a href="#">Leo vel metus nulla facilisi etiam cursus 750mg...</a>

											<div class="clearfix product_info">

												<p class="product_price alignleft"><b>15.990.000VNĐ</b></p>

											</div>

										</div>

										<!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->

									</div><!--/ .product_item-->
									
									<!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

									<div class="product_item">

										<!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

										<div class="image_wrap">

											<img src="images/product-lumia-950.jpg" alt="">

											<!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

											<div class="actions_wrap">

												<div class="centered_buttons">

													<a href="#" class="button_dark_grey quick_view" data-modal-url="modals/quick_view.html">Xem nhanh</a>

													<a href="#" class="button_blue add_to_cart">Thêm vào giỏ hàng</a>

												</div><!--/ .centered_buttons -->

												<a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Thêm vào danh sách yêu thích</span></a>

												<a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">Thêm vào danh sách quan tâm</span></a>

											</div><!--/ .actions_wrap-->
											
											<!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

										</div><!--/. image_wrap-->

										<!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

										<div class="label_new">New</div>

										<!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

										<div class="description">

											<a href="#">Leo vel metus nulla facilisi etiam cursus 750mg...</a>

											<div class="clearfix product_info">

												<p class="product_price alignleft"><b>15.990.000VNĐ</b></p>

											</div>

										</div>

										<!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->

									</div><!--/ .product_item-->
									
									<!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->

								</div><!--/ .owl_carousel -->

							</section><!--/ .section_offset -->

							<!-- - - - - - - - - - - - - - End of related products - - - - - - - - - - - - - - - - -->

							<section class="section_offset">

								<h3 class="offset_title">Sản phẩm khác cùng nhân viên bán hàng</h3>

								<div class="owl_carousel other_products">

									<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

									<div class="product_item">

										<!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

										<div class="image_wrap">

											<img src="images/product-hp-envy17.jpg" alt="">

											<!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

											<div class="actions_wrap">

												<div class="centered_buttons">

													<a href="#" class="button_dark_grey middle_btn quick_view" data-modal-url="modals/quick_view.html">Xem nhanh</a>

													<a href="#" class="button_blue middle_btn add_to_cart">Thêm vào giỏ hàng</a>

												</div><!--/ .centered_buttons -->

												<a href="#" class="button_dark_grey middle_btn def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Thêm vào danh sách yêu thích</span></a>

												<a href="#" class="button_dark_grey middle_btn def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">Thêm vào danh sách quan tâm</span></a>

											</div><!--/ .actions_wrap-->
											
											<!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

										</div><!--/. image_wrap-->

										<!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

										<div class="description">

											<a href="#">HP Envy 17-3D</a>

											<div class="clearfix product_info">

												<p class="product_price alignleft"><b>22.490.000 VNĐ</b></p>

											</div>

										</div>

										<!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->

									</div><!--/ .product_item-->
									
									<!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

									<div class="product_item">

										<!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

										<div class="image_wrap">

											<img src="images/product-hp-envy17.jpg" alt="">

											<!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

											<div class="actions_wrap">

												<div class="centered_buttons">

													<a href="#" class="button_dark_grey middle_btn quick_view" data-modal-url="modals/quick_view.html">Xem nhanh</a>

													<a href="#" class="button_blue middle_btn add_to_cart">Thêm vào giỏ hàng</a>

												</div><!--/ .centered_buttons -->

												<a href="#" class="button_dark_grey middle_btn def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Thêm vào danh sách yêu thích</span></a>

												<a href="#" class="button_dark_grey middle_btn def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">Thêm vào danh sách quan tâm</span></a>

											</div><!--/ .actions_wrap-->
											
											<!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

										</div><!--/. image_wrap-->

										<!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

										<div class="description">

											<a href="#">HP Envy 17-3D</a>

											<div class="clearfix product_info">

												<p class="product_price alignleft"><b>22.490.000 VNĐ</b></p>

											</div>

										</div>

										<!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->

									</div><!--/ .product_item-->
									
									<!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

									<div class="product_item">

										<!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

										<div class="image_wrap">

											<img src="images/product-hp-envy17.jpg" alt="">

											<!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

											<div class="actions_wrap">

												<div class="centered_buttons">

													<a href="#" class="button_dark_grey middle_btn quick_view" data-modal-url="modals/quick_view.html">Xem nhanh</a>

													<a href="#" class="button_blue middle_btn add_to_cart">Thêm vào giỏ hàng</a>

												</div><!--/ .centered_buttons -->

												<a href="#" class="button_dark_grey middle_btn def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Thêm vào danh sách yêu thích</span></a>

												<a href="#" class="button_dark_grey middle_btn def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">Thêm vào danh sách quan tâm</span></a>

											</div><!--/ .actions_wrap-->
											
											<!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

										</div><!--/. image_wrap-->

										<!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

										<div class="description">

											<a href="#">HP Envy 17-3D</a>

											<div class="clearfix product_info">

												<p class="product_price alignleft"><b>22.490.000 VNĐ</b></p>

											</div>

										</div>

										<!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->

									</div><!--/ .product_item-->
									
									<!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

									<div class="product_item">

										<!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

										<div class="image_wrap">

											<img src="images/product-hp-envy17.jpg" alt="">

											<!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

											<div class="actions_wrap">

												<div class="centered_buttons">

													<a href="#" class="button_dark_grey middle_btn quick_view" data-modal-url="modals/quick_view.html">Xem nhanh</a>

													<a href="#" class="button_blue middle_btn add_to_cart">Thêm vào giỏ hàng</a>

												</div><!--/ .centered_buttons -->

												<a href="#" class="button_dark_grey middle_btn def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Thêm vào danh sách yêu thích</span></a>

												<a href="#" class="button_dark_grey middle_btn def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">Thêm vào danh sách quan tâm</span></a>

											</div><!--/ .actions_wrap-->
											
											<!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

										</div><!--/. image_wrap-->

										<!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

										<div class="description">

											<a href="#">HP Envy 17-3D</a>

											<div class="clearfix product_info">

												<p class="product_price alignleft"><b>22.490.000 VNĐ</b></p>

											</div>

										</div>

										<!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->

									</div><!--/ .product_item-->
									
									<!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

									<div class="product_item">

										<!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

										<div class="image_wrap">

											<img src="images/product-hp-envy17.jpg" alt="">

											<!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

											<div class="actions_wrap">

												<div class="centered_buttons">

													<a href="#" class="button_dark_grey middle_btn quick_view" data-modal-url="modals/quick_view.html">Xem nhanh</a>

													<a href="#" class="button_blue middle_btn add_to_cart">Thêm vào giỏ hàng</a>

												</div><!--/ .centered_buttons -->

												<a href="#" class="button_dark_grey middle_btn def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Thêm vào danh sách yêu thích</span></a>

												<a href="#" class="button_dark_grey middle_btn def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">Thêm vào danh sách quan tâm</span></a>

											</div><!--/ .actions_wrap-->
											
											<!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

										</div><!--/. image_wrap-->

										<!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

										<div class="description">

											<a href="#">HP Envy 17-3D</a>

											<div class="clearfix product_info">

												<p class="product_price alignleft"><b>22.490.000 VNĐ</b></p>

											</div>

										</div>

										<!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->

									</div><!--/ .product_item-->
									
									<!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

									<div class="product_item">

										<!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

										<div class="image_wrap">

											<img src="images/product-hp-envy17.jpg" alt="">

											<!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

											<div class="actions_wrap">

												<div class="centered_buttons">

													<a href="#" class="button_dark_grey middle_btn quick_view" data-modal-url="modals/quick_view.html">Xem nhanh</a>

													<a href="#" class="button_blue middle_btn add_to_cart">Thêm vào giỏ hàng</a>

												</div><!--/ .centered_buttons -->

												<a href="#" class="button_dark_grey middle_btn def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Thêm vào danh sách yêu thích</span></a>

												<a href="#" class="button_dark_grey middle_btn def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">Thêm vào danh sách quan tâm</span></a>

											</div><!--/ .actions_wrap-->
											
											<!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

										</div><!--/. image_wrap-->

										<!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

										<div class="description">

											<a href="#">HP Envy 17-3D</a>

											<div class="clearfix product_info">

												<p class="product_price alignleft"><b>22.490.000 VNĐ</b></p>

											</div>

										</div>

										<!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->

									</div><!--/ .product_item-->
									
									<!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->

								</div><!--/ .owl_carousel -->

							</section><!--/ .section_offset -->

						</main><!--/ [col]-->

						<aside class="col-md-3 col-sm-4">

							<!-- - - - - - - - - - - - - - Seller Information - - - - - - - - - - - - - - - - -->

							<section class="section_offset">

								<h3>Liên hệ</h3>

								<div class="theme_box">
    
                                  <ul class="c_info_list">
              
                                      <li class="c_info_location"><%= @company_info.address %></li>
                                      <li class="c_info_phone"><%= @company_info.phone %></li>
                                      <li class="c_info_mail"><a href="mailto:<%= @company_info.email %>"><%= @company_info.email %></a></li>
              
                                  </ul>
									
								</div><!--/ .theme_box -->

							</section>

							<!-- - - - - - - - - - - - - - End of seller information - - - - - - - - - - - - - - - - -->

							<!-- - - - - - - - - - - - - - Infoblock - - - - - - - - - - - - - - - - -->

							<div class="section_offset">

								<section class="infoblock type_2">

									<i class="icon-money"></i>

									<h4 class="caption"><b>Hoàn trả 100%</b></h4>

									<p>Hoàn trả lại tiền nếu sản phẩm bị lỗi do Nhà cung cấp hoặc Công ty gây ra.</p>

									<a href="#" class="button_dark_grey middle_btn">Xem thêm</a>

								</section><!--/ .infoblock.type_2-->

							</div>

							<!-- - - - - - - - - - - - - - End infoblock - - - - - - - - - - - - - - - - -->

							<!-- - - - - - - - - - - - - - You might also like - - - - - - - - - - - - - - - - -->

							<section class="section_offset">

								<h3 class="offset_title">Có thể bạn thích</h3>

								<div class="owl_carousel widgets_carousel">

									<ul class="products_list_widget">

										<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

										<li>
											
											<a href="#" class="product_thumb">
												
												<img src="images/product_thumb_11.jpg" alt="" width="83" height="83">

											</a>

											<div class="wrapper">

												<a href="#" class="product_title">Iphone 6S Plus</a>

												<div class="clearfix product_info">

													<p class="product_price alignleft"><b>21.790.000 VNĐ</b></p>

													<!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

													<ul class="rating alignright">

														<li class="active"></li>
														<li class="active"></li>
														<li class="active"></li>
														<li class="active"></li>
														<li></li>

													</ul>
													
													<!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

												</div>

											</div>

										</li>

										<!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

										<li>
											
											<a href="#" class="product_thumb">
												
												<img src="images/product_thumb_11.jpg" alt="" width="83" height="83">

											</a>

											<div class="wrapper">

												<a href="#" class="product_title">Iphone 6S Plus</a>

												<div class="clearfix product_info">

													<p class="product_price alignleft"><b>21.790.000 VNĐ</b></p>

													<!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

													<ul class="rating alignright">

														<li class="active"></li>
														<li class="active"></li>
														<li class="active"></li>
														<li class="active"></li>
														<li></li>

													</ul>
													
													<!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

												</div>

											</div>

										</li>

										<!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

										<li>
											
											<a href="#" class="product_thumb">
												
												<img src="images/product_thumb_11.jpg" alt="" width="83" height="83">

											</a>

											<div class="wrapper">

												<a href="#" class="product_title">Iphone 6S Plus</a>

												<div class="clearfix product_info">

													<p class="product_price alignleft"><b>21.790.000 VNĐ</b></p>

													<!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

													<ul class="rating alignright">

														<li class="active"></li>
														<li class="active"></li>
														<li class="active"></li>
														<li class="active"></li>
														<li></li>

													</ul>
													
													<!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

												</div>

											</div>

										</li>

										<!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

									</ul><!--/ .list_of_products-->

									<ul class="products_list_widget">

										<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

										<li>
											
											<a href="#" class="product_thumb">
												
												<img src="images/product_thumb_11.jpg" alt="" width="83" height="83">

											</a>

											<div class="wrapper">

												<a href="#" class="product_title">Iphone 6S Plus</a>

												<div class="clearfix product_info">

													<p class="product_price alignleft"><b>21.790.000 VNĐ</b></p>

													<!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

													<ul class="rating alignright">

														<li class="active"></li>
														<li class="active"></li>
														<li class="active"></li>
														<li class="active"></li>
														<li></li>

													</ul>
													
													<!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

												</div>

											</div>

										</li>

										<!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

										<li>
											
											<a href="#" class="product_thumb">
												
												<img src="images/product_thumb_11.jpg" alt="" width="83" height="83">

											</a>

											<div class="wrapper">

												<a href="#" class="product_title">Iphone 6S Plus</a>

												<div class="clearfix product_info">

													<p class="product_price alignleft"><b>21.790.000 VNĐ</b></p>

													<!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

													<ul class="rating alignright">

														<li class="active"></li>
														<li class="active"></li>
														<li class="active"></li>
														<li class="active"></li>
														<li></li>

													</ul>
													
													<!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

												</div>

											</div>

										</li>

										<!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

										<li>
											
											<a href="#" class="product_thumb">
												
												<img src="images/product_thumb_11.jpg" alt="" width="83" height="83">

											</a>

											<div class="wrapper">

												<a href="#" class="product_title">Iphone 6S Plus</a>

												<div class="clearfix product_info">

													<p class="product_price alignleft"><b>21.790.000 VNĐ</b></p>

													<!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

													<ul class="rating alignright">

														<li class="active"></li>
														<li class="active"></li>
														<li class="active"></li>
														<li class="active"></li>
														<li></li>

													</ul>
													
													<!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

												</div>

											</div>

										</li>

										<!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

									</ul><!--/ .list_of_products-->

								</div>

							</section>

							<!-- - - - - - - - - - - - - - End of you might also like - - - - - - - - - - - - - - - - -->

							<!-- - - - - - - - - - - - - - Infoblock - - - - - - - - - - - - - - - - -->

							<div class="section_offset">

								<section class="infoblock type_2">

									<i class="icon-lock"></i>

									<h4 class="caption"><b>Thanh toán Online - An toàn &amp; Bảo mật</b></h4>

									<p>Sử dụng công nghệ bảo mật website trong vấn đề thanh toán online. Giấy chứng nhận an toàn của NORTON™.</p>

								</section><!--/ .infoblock.type_2-->

							</div>

							<!-- - - - - - - - - - - - - - End infoblock - - - - - - - - - - - - - - - - -->

							<!-- - - - - - - - - - - - - - Already viewed products - - - - - - - - - - - - - - - - -->

							<section class="section_offset">

								<h3>Already Viewed Products</h3>

								<ul class="products_list_widget">

									<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

									<li>
										
										<a href="#" class="product_thumb">
											
											<img src="images/product_thumb_4.jpg" alt="">

										</a>

										<div class="wrapper">

											<a href="#" class="product_title">Adipiscing aliquet sed in lacus...</a>

											<div class="clearfix product_info">

												<p class="product_price alignleft"><b>$5.99</b></p>

												<!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

												<ul class="rating alignright">

													<li class="active"></li>
													<li class="active"></li>
													<li class="active"></li>
													<li class="active"></li>
													<li></li>

												</ul>
												
												<!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

											</div>

										</div>

									</li>

									<!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

									<li>
										
										<a href="#" class="product_thumb">
											
											<img src="images/product_thumb_11.jpg" alt="">

										</a>

										<div class="wrapper">

											<a href="#" class="product_title">Ut pharetra augue nec augue,...</a>

											<div class="clearfix product_info">

												<p class="product_price alignleft"><s>$19.99</s> <b>$13.99</b></p>

											</div>

										</div>

									</li>

									<!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

								</ul><!--/ .list_of_products-->

							</section>

							<!-- - - - - - - - - - - - - - End of already viewed products - - - - - - - - - - - - - - - - -->

						</aside><!--/ [col]-->

					</div><!--/ .row-->

				</div><!--/ .container-->

			</div><!--/ .page_wrapper-->
			
			<!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

			<!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

			<%= render 'footer' %>
			
			<!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

		</div><!--/ [layout]-->
		
		<!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

		<!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

		<%= render 'home/social_feeds' %>

		<!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
		
		<!-- Include Libs & Plugins
		============================================ -->
		<%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
		<%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
		<%= javascript_include_tag '/frontend/js/jquery.elevateZoom-3.0.8.min.js' %>
		<%= javascript_include_tag '/frontend/js/fancybox/source/jquery.fancybox.pack.js' %>
		<%= javascript_include_tag '/frontend/js/fancybox/source/helpers/jquery.fancybox-media.js' %>
		<%= javascript_include_tag '/frontend/js/fancybox/source/helpers/jquery.fancybox-thumbs.js' %>
		<%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
		<%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
		<%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
		<%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
		<%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
        <%= javascript_include_tag '/frontend/js/retina.min.js' %>
		<%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>
		
		<!-- Theme files
		============================================ -->
		<%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
        <%= javascript_include_tag '/frontend/js/theme.core.js' %>
