<main class="site-main">
    <div class="container">
        <ol class="breadcrumb-page">
            <li><%= link_to 'Trang Chủ', root_path %></li>
            <li class="active"><%= link_to @product.display_name, 'javascript:void(0)' %></li>
        </ol>
    </div>
    <div class="container">
        <div class="product-content-single">
            <div class="row">
                <div class="col-md-4 col-sm-12 padding-right">
                    <div class="product-media">
                        <div class=" image-thick-box ">
                            <% if !@product.product_image.id.nil? %>
                                <%= image_tag @product.product_image.image(:thumb400), alt: @product.display_name %>
                            <% else %>
                                <%= image_tag '/hksite/images/no-image/thumb-400.jpg', alt: 'Hiện sản phẩm chưa có hình ảnh' %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6">
                    <div class="product-info-main">
                        <div class="product-name">
                            <h1 class="title-name"><%= @product.display_name %></h1>
                        </div>
                        <div class="product-infomation">
                            <% if @product.product_code.present? %>
                            <strong>Mã sản phẩm: </strong><%= @product.product_code %><br>
                            <% end %>
                            <strong>Thương hiệu: </strong><%= @product.get_manufacturer_name %><br>
                            <strong>Bảo hành: </strong><%= @product.get_warranty %> tháng<br>
                            <% if @product.description.present? %>
                                <strong>Mô tả: </strong><%= @product.description %><br>
                            <% end %>
                            <% if @product.product_info.present? %>
                                <% if @product.product_info.bonus_product.present? %>
                                    <strong>Tặng kèm: </strong><%= @product.product_info.bonus_product %><br>
                                <% end %>
                            <% end %>
                            <br><strong>Liên kết trang: </strong> <%= link_to 'Tìm Hàng Công Nghệ', 'http://timhangcongnghe.com/', title: @product.display_name, target: '_blank', class: 'connect-link-thcn' %>
                        </div>
                        <div class="product-description">
                            <strong>Liên hệ đặt mua: </strong><%= link_to '(028) 3984 7690', 'tel:02839847690', title: 'Liên hệ đặt hàng qua số điện thoại' %> hoặc <%= link_to '(028) 2212 9454', 'tel:02822129454', title: 'Liên hệ đặt hàng qua hotline' %>
                            <br><strong>Email liên hệ: </strong><%= mail_to 'kinhdoanh@hoangkhang.com.vn', 'kinhdoanh@hoangkhang.com.vn', title: 'Liên hệ đặt hàng qua email' %>
                            <br><strong>Skype: </strong><%= link_to image_tag('/hksite/images/skype.png', alt: 'Ms. Thủy'), 'skype:thuy.dophuong?chat', title: 'thuy.dophuong', class: 'chat-skype' %>                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-info-price">
                        <% if @product.has_price %>
                        <div class="product-info-stock-sku">
                            <div class="stock available">
                                <span class="label-stock">Trạng thái: </span> Đang kinh doanh
                            </div>
                        </div>
                        <% end %>
                        <a href="">
                            <div class="transportation">
                                <span>Chính sách vận chuyển, giao hàng</span>
                            </div>
                        </a>
                        <% if @product.has_price %>
                            <% if @product.check_product_sale %>
                                <p class="custom-price"><%= format_price(@product.display_price) %></p>
                                <del><%= format_price(@product.product_info.old_price) %></del>
                            <% else %>
                                <p class="custom-price"><%= format_price(@product.display_price) %></p>
                            <% end %>
                            <div class="single-add-to-cart">
                                <%= button_to 'Thêm vào giỏ hàng', line_items_path(product_id: @product), class: "btn-add-to-cart custom-add-to-cart" %>
                            </div>
                        <% else %>                            
                            <p class="custom-call">Liên hệ:(028) 3984 7690</p>
                        <% end %>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% if @product.short_intro.present? %>
    <div class="container">
        <div class="tab-details-product">
            <ul class="box-tab nav-tab">
                <li class="active"><a data-toggle="tab" href="#tab-1">Mô tả chi tiết</a></li>
            </ul>
            <div class="tab-container">
                <div id="tab-1" class="tab-panel active">
                    <div class="box-content text-justify">
                        <%= @product.short_intro.html_safe %>
                    </div>
                </div>
            </div>  
        </div> 
    </div>
    <% end %>
    <div class="block-recent-view">
        <div class="container">
            <div class="title-of-section">Sản Phẩm Bán Chạy</div>
            <%= render '/modules/bestselling' %>
        </div>
    </div>
    <div class="block-section-brand">
        <div class="container">
            <%= render '/modules/listing_brand' %>
        </div>
    </div>
</main>