<% content_for :title, @pro_detail.display_name %>
<% content_for :meta_description, strip_tags(@pro_detail.display_description) %>

<!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

<div class="wide_layout">

<!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

<%= render "blog/header" %>

<!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

<div class="secondary_page_wrapper">

    <div class="container">

        <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

        <ul class="breadcrumbs">

            <li><%= link_to "Trang chủ", root_path %></li>
            <li>Chi tiết sản phẩm</li>
            <li class="active"><%= @pro_detail.name %></li>

        </ul>

        <!-- - - - - - - - - - - - - - End of breadcrumbs - - - - - - - - - - - - - - - - -->

        <div class="section_offset">

            <div class="row">
                
                <aside class="col-md-3 col-sm-4">
                    
                    <!-- - - - - - - - - - - - - - Seller Information - - - - - - - - - - - - - - - - -->

                    <%= render 'left_bar' %>

                    <!-- - - - - - - - - - - - - - End of seller information - - - - - - - - - - - - - - - - -->

                </aside>

                <main class="col-md-9 col-sm-8">

                    <div class="clearfix">
                        
                        <!-- - - - - - - - - - - - - - Product image column - - - - - - - - - - - - - - - - -->

                        <div class="single_product">

                            <!-- - - - - - - - - - - - - - Image preview container - - - - - - - - - - - - - - - - -->
                            
                             <div class="image_preview_container">

                                <img id="img_zoom" data-zoom-image="<%= @pro_detail.product_image.image %>" src="<%= @pro_detail.product_image.image %>"  alt="<%= @pro_detail.display_name %>" title="<%= @pro_detail.display_name %>">

                            </div><!--/ .image_preview_container-->

                            <!-- - - - - - - - - - - - - - End of image preview container - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Prodcut thumbs carousel - - - - - - - - - - - - - - - - -->
                            <% if @pro_detail.all_product_images.count > 1 %>
                                <div class="product_preview">
    
                                    <div class="owl_carousel" id="thumbnails">
                                        
                                        <% @pro_detail.all_product_images.each_with_index do |item,index| %>
                                        
                                            <a class="<%= "main_image" if @pro_detail.product_image.present? and @pro_detail.product_image.id == item.id %>" rel="<%= index %>" href="#" data-image="<%= item.image %>">
    
                                                <img src="<%= item.image %>" data-large-image="<%= item.image %>" alt="<%= @pro_detail.display_name %>" title="<%= @pro_detail.display_name %>">

                                            </a>
                                            
                                        <% end %>
                                        
                                    </div><!--/ .owl-carousel-->
    
                                </div><!--/ .product_preview-->
                            <% end %>
                            
                            <!-- - - - - - - - - - - - - - End of prodcut thumbs carousel - - - - - - - - - - - - - - - - -->

                        </div>

                        <!-- - - - - - - - - - - - - - End of product image column - - - - - - - - - - - - - - - - -->
                        
                        <!-- - - - - - - - - - - - - - Product description column - - - - - - - - - - - - - - - - -->

                        <div class="single_product_description">

                            <h1 class="offset_title"><%= @pro_detail.display_name %></h1>

                            <!--<div class="description_section">

                                <table class="product_info">

                                    <tbody>

                                        <tr>

                                            <td>Nhãn hiệu phân phối: </td>
                                            <td><%= link_to @pro_detail.manufacturer.name, { controller: "manufacturer_page", action: "index", manufacturer_id: @pro_detail.manufacturer_id } %></td>

                                        </tr>

                                    </tbody>

                                </table>

                            </div>

                            <hr>-->

                            <div class="description_section">

                                <p class="description_section_label">Mô tả sản phẩm</p>
                                <p><%= @pro_detail.display_description %></p>

                            </div>

                            <div class="description_section">

                                <div class="table_wrap product_price_table">

                                    <table>
                                        
                                        <% if !@pro_detail.has_price %>
                                
                                            <tbody>

                                                <tr>
                                                    
                                                    <td class="special_price" colspan="2">
                                                        
                                                        Giá sản phẩm:
    
                                                        <div class="price">Liên hệ:(84-8) 3984 7690</div>
    
                                                    </td>
    
                                                </tr>
    
                                            </tbody>
                                            
                                        <% else %>
                                                
                                            <% if !@pro_detail.get_old_price.present? and !@pro_detail.get_discount_percent.present? and !@pro_detail.get_discount_percent > 0 %>
                                                
                                                <tbody>
                                                    
                                                    <tr>
                                                        
                                                        <td class="special_price" colspan="4">
                                                            
                                                           <h4>Sản phẩm khuyến mãi. <b class="safe_off">Giảm giá: <%= number_to_percentage(@pro_detail.get_discount_percent, strip_insignificant_zeros: true) %></b></h4>

                                                        </td>
        
                                                    </tr>
                                                    
                                                    <tr>
                                                        
                                                        <td class="special_price" colspan="2">
                                                            
                                                            Giá khuyến mãi:
        
                                                            <div class="price"><%= number_with_delimiter @pro_detail.display_price %> VNĐ</div>
        
                                                        </td>
        
                                                        <td class="old_price" colspan="2">
                                                            
                                                            Giá cũ:
        
                                                            <div class="price"><s style = "font-size: smaller;"><%= number_with_delimiter @pro_detail.get_old_price.price.to_i %> VNĐ</s></div>
        
                                                        </td>
        
                                                    </tr>
        
                                                </tbody>
                                                
                                            <% else %>
                                                
                                                <tbody>

                                                    <tr>
                                                        
                                                        <td class="special_price" colspan="2">
                                                            
                                                            Giá sản phẩm:
        
                                                            <div class="price"><%= number_with_delimiter @pro_detail.display_price %> VNĐ</div>
        
                                                        </td>
        
                                                    </tr>
        
                                                </tbody>
                                                
                                            <% end %>
                                            
                                        <% end %>
                                        
                                        <% if !@pro_detail.product_info.nil? %>

                                            <% if !@pro_detail.product_info.bonus_product.nil? %>
                                                
                                                <tfoot>
        
                                                    <tr>
                                                        
                                                        <td colspan="4">
                                                            
                                                            <span class="countdown_title">Tặng kèm: <%= @pro_detail.product_info.bonus_product %></span>
        
                                                        </td>
        
                                                    </tr>
        
                                                </tfoot>
                                                
                                            <% end %>
                                            
                                        <% end %>

                                    </table>

                                </div>

                            </div>

                            <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

                            <div class="buttons_row">

                                <% if @pro_detail.has_price %>

                                    <%= button_to 'Thêm vào giỏ hàng', line_items_path(product_id: @pro_detail), class: "button_blue middle_btn add_to_cart" %>
                                
                                <% end %>

                            </div>

                            <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

                        </div>

                        <!-- - - - - - - - - - - - - - End of product description column - - - - - - - - - - - - - - - - -->

                    </div>
                    
                    <!-- - - - - - - - - - - - - - Tabs - - - - - - - - - - - - - - - - -->
                    <% if @pro_detail.intro.present? %>
                        <div class="section_offset">
    
                            <div class="tabs type_2">
    
                                <!-- - - - - - - - - - - - - - Navigation of tabs - - - - - - - - - - - - - - - - -->
    
                                <ul class="tabs_nav clearfix">
    
                                    <li><a href="#tab-1">Giới thiệu</a></li>
    
                                </ul>
                                
                                <!-- - - - - - - - - - - - - - End navigation of tabs - - - - - - - - - - - - - - - - -->
    
                                <!-- - - - - - - - - - - - - - Tabs container - - - - - - - - - - - - - - - - -->
    
                                <div class="tab_containers_wrap">
    
                                    <!-- - - - - - - - - - - - - - Tab - - - - - - - - - - - - - - - - -->
    
                                    <div id="tab-1" class="tab_container">
    
                                        <p> <%= @pro_detail.intro.html_safe %> </p>
    
                                    </div><!--/ #tab-1-->
    
                                    <!-- - - - - - - - - - - - - - End tab - - - - - - - - - - - - - - - - -->
    
                                </div><!--/ .tab_containers_wrap -->
    
                                <!-- - - - - - - - - - - - - - End of tabs containers - - - - - - - - - - - - - - - - -->
    
                            </div><!--/ .tabs-->
    
                        </div><!--/ .section_offset -->
                    <% end %>

					<!-- - - - - - - - - - - - - - End of tabs - - - - - - - - - - - - - - - - -->
                        
                    <!-- - - - - - - - - - - - - - Related products - - - - - - - - - - - - - - - - -->
                    <div class="section_offset"></div>
                    <section class="section_offset">
            
                        <h3 class="offset_title">CÓ THỂ BẠN QUAN TÂM</h3>
            
                        <div class="owl_carousel related_products">
            
                            <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
            
                            <% @pro_detail.get_related_products.each do |product| %>
                            
                                <div class="product_item">
                
                                    <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->
                
                                    <div class="image_wrap">
                
                                        <img src="<%= product.product_image.image %>" alt="">
                
                                        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
                
                                        <div class="actions_wrap">
                
                                            <div class="centered_buttons">
                
                                                <% if product.has_price %>
    
                                                    <%= button_to 'Thêm vào giỏ hàng', line_items_path(product_id: product), class: "button_blue middle_btn add_to_cart add_cart_fix" %>
                                                
                                                <% end %>
                
                                            </div><!--/ .centered_buttons -->
                
                                        </div><!--/ .actions_wrap-->
                                        
                                        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->
                
                                    </div><!--/. image_wrap-->
                
                                    <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->
                
                                    <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->
                                        
                                    <% if !product.get_old_price.nil? and product.get_discount_percent.present? and product.get_discount_percent >= 1 %>
                                        
                                        <div class="label_offer percentage">
                                            
                                            Giảm<div><%= number_to_percentage(product.get_discount_percent, strip_insignificant_zeros: true) %></div>
        
                                        </div>
                                        
                                    <% end %>
    
                                    <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->
    
                                    <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

                                    <div class="description">
    
                                        <%= link_to (truncate(strip_tags(product.display_name), length: 28)), {controller: "product", action: "index", id: product.id, title: url_friendly(strip_tags(product.display_name))} %>
            
                                        <div class="clearfix product_info">
                                            
                                            <% if !product.has_price %>
                                                <p class="product_price alignleft"><b style="color: #018bc8">Call: </b><%= @company_info.phone %></p>
                                            <% elsif !product.get_old_price.nil? and (product.get_old_price.price.to_i > product.product_price.price.to_i) %>
                                                <p class="product_price alignleft"><s style = "font-size: smaller;"><%= number_with_delimiter product.get_old_price.price.to_i %> VNĐ</s>
                                                <b><%= number_with_delimiter product.display_price %> VNĐ</b></p>
                                            <% else %>
                                                <p class="product_price alignleft"><b><%= number_with_delimiter product.display_price %> VNĐ</b></p>
                                            <% end %>
    
                                        </div><!--/ .clearfix.product_info-->
                                        
                                        <% if !product.product_info.nil? %>
                                            <p><%= product.product_info.bonus_product %></p>
                                        <% end %>
    
                                    </div>
                
                                    <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->
                
                                </div><!--/ .product_item-->
                                
                            <% end %>
                            
                            <!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->
            
                        </div><!--/ .owl_carousel -->
            
                    </section><!--/ .section_offset -->
            
                    <!-- - - - - - - - - - - - - - End of related products - - - - - - - - - - - - - - - - -->
                    
                    <!-- - - - - - - - - - - - - - Sale off products - - - - - - - - - - - - - - - - -->
                    <% if @sale_products.present? %>
                        <section class="section_offset">
                
                            <h3 class="widget_title">ĐANG KHUYẾN MÃI</h3>
                
                            <div class="owl_carousel related_products">
                
                                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
                
                                <% @sale_products.each do |product| %>
                                
                                    <div class="product_item">
                    
                                        <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->
                    
                                        <div class="image_wrap">
                    
                                            <img src="<%= product.product_image.image %>" alt="">
                    
                                            <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
                    
                                            <div class="actions_wrap">
                    
                                                <div class="centered_buttons">
                    
                                                    <% if product.has_price %>
        
                                                        <%= button_to 'Thêm vào giỏ hàng', line_items_path(product_id: product), class: "button_blue middle_btn add_to_cart add_cart_fix" %>
                                                    
                                                    <% end %>
                    
                                                </div><!--/ .centered_buttons -->
                    
                                            </div><!--/ .actions_wrap-->
                                            
                                            <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->
                    
                                        </div><!--/. image_wrap-->
                    
                                        <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->
                    
                                        <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->
                                            
                                        <% if !product.product_info.sale_off_price.nil? and product.product_info.sale_off_price > 1 %>
                        
                                            <div class="label_offer percentage">
                                                
                                                <div><%= product.product_info.sale_off_price.to_f.round(0) %>%</div>Off
                    
                                            </div>
                                            
                                        <% end %>
        
                                        <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->
        
                                        <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->
                                        
                                        <div class="description">
    
                                            <%= link_to (truncate(strip_tags(product.display_name), length: 28)), {controller: "product", action: "index", id: product.id} %>
                                            
                                            <p><%= product.product_info.bonus_product %></p>
                                            
                                            <div class="clearfix product_info">
                                                
                                                <% if !product.has_price %>
                                
                                                    <p class="product_price alignleft"><b style="color: #018bc8">Liên hệ báo giá</b></p>
                                                
                                                <% else %>
                                                    
                                                    <% if !product.product_info.nil? %>
                                                       
                                                        <% if product.product_info.old_price.nil? || product.product_info.old_price <= 0 %>
                                                            
                                                            <p class="product_price alignleft"><span style="color: #b2b2b2">Giá KM: </span><b><%= number_with_delimiter product.display_default_price %> VNĐ</b></p>
                                                        
                                                        <% else %>
                                                           
                                                            <p class="product_price alignleft"><s style = "font-size: smaller;"><%= number_with_delimiter number_with_precision(product.product_info.old_price, :precision => 0) %> VNĐ</s>
                                                            
                                                            <b><%= number_with_delimiter product.display_price %> VNĐ</b></p>
                                                        
                                                        <% end %>
                                                    
                                                    <% end %>
                                                
                                                <% end %>
        
                                            </div><!--/ .clearfix.product_info-->
                                            
                                        </div>
                    
                                        <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->
                    
                                    </div><!--/ .product_item-->
                                    
                                <% end %>
                                
                                <!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->
                
                            </div><!--/ .owl_carousel -->
                
                        </section><!--/ .section_offset -->
                        
                    <% end %>
            
                    <!-- - - - - - - - - - - - - - End of sale off products - - - - - - - - - - - - - - - - -->

                </main><!--/ [col] -->

            </div><!--/ .row -->

        </div>        

    </div><!--/ .container-->

</div><!--/ .page_wrapper-->

<!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

<%= render 'blog/footer' %>

<!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

</div><!--/ [layout]-->

<!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

<%= render 'home/social_feeds' %>

<!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->

<!-- Include Libs & Plugins
============================================ -->
<%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
<%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.elevateZoom-3.0.8.min.js' %>
<%= javascript_include_tag '/frontend/js/fancybox/source/jquery.fancybox.pack.js' %>
<%= javascript_include_tag '/frontend/js/fancybox/source/helpers/jquery.fancybox-media.js' %>
<%= javascript_include_tag '/frontend/js/fancybox/source/helpers/jquery.fancybox-thumbs.js' %>
<%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
<%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
<%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
<%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
<%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
<%= javascript_include_tag '/frontend/js/retina.min.js' %>
<%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>

<!-- Theme files
============================================ -->
<%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
<%= javascript_include_tag '/frontend/js/theme.core.js' %>