<!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

<div class="wide_layout">

<!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

<%= render "blog/header" %>

<!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

<div class="secondary_page_wrapper">

    <div class="container">

        <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

        <ul class="breadcrumbs">

            <li><%= link_to "Trang chủ", root_path %></li>
            <li>Chi tiết sản phẩm</li>
            <li class="active"><%= @pro_detail.name %></li>

        </ul>

        <!-- - - - - - - - - - - - - - End of breadcrumbs - - - - - - - - - - - - - - - - -->

        <div class="section_offset">

            <div class="row">

                <main class="col-md-9 col-sm-8">

                    <div class="clearfix">

                        <!-- - - - - - - - - - - - - - Product image column - - - - - - - - - - - - - - - - -->

                        <div class="single_product">

                            <!-- - - - - - - - - - - - - - Image preview container - - - - - - - - - - - - - - - - -->

                            <div class="image_preview_container main_image">

                                <img src="<%= @pro_detail.product_image.image %>" class="product_main" >

                            </div><!--/ .image_preview_container-->

                            <!-- - - - - - - - - - - - - - End of image preview container - - - - - - - - - - - - - - - - -->

                        </div>

                        <!-- - - - - - - - - - - - - - End of product image column - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Product description column - - - - - - - - - - - - - - - - -->

                        <div class="single_product_description">

                            <h3 class="offset_title"><%= @pro_detail.name %></h3>

                            <div class="description_section">

                                <table class="product_info">

                                    <tbody>

                                        <tr>

                                            <td>Nhãn hiệu phân phối: </td>
                                            <td><%= link_to @pro_detail.manufacturer.name, { controller: "manufacturer_page", action: "index", manufacturer_id: @pro_detail.manufacturer_id } %></td>

                                        </tr>

                                    </tbody>

                                </table>

                            </div>

                            <hr>

                            <div class="description_section">

                                <p>Mô tả sản phẩm</p>

                            </div>

                            <div class="description_section">

                                <div class="table_wrap product_price_table">

                                    <table>
                                        
                                        <% if @pro_detail.product_price.price.nil? %>
                                
                                            <tbody>

                                                <tr>
                                                    
                                                    <td class="special_price" colspan="2">
                                                        
                                                        Giá sản phẩm:
    
                                                        <div class="price">Liên hệ:(84-8) 3984 7690</div>
    
                                                    </td>
    
                                                </tr>
    
                                            </tbody>
                                            
                                        <% else %>
                                            
                                            <% if !@pro_detail.product_info.nil? %>
                                                
                                                <% if @pro_detail.product_info.sale_price.nil? || @pro_detail.product_info.sale_price <= 0 %>
                                                    
                                                    <tbody>

                                                        <tr>
                                                            
                                                            <td class="special_price" colspan="2">
                                                                
                                                                Giá sản phẩm:
            
                                                                <div class="price"><%= number_with_delimiter @pro_detail.product_price.price.to_i %> VNĐ</div>
            
                                                            </td>
            
                                                        </tr>
            
                                                    </tbody>
                                                    
                                                <% else %>
                                                    
                                                    <tbody>
                                                        
                                                        <tr>
                                                            
                                                            <td class="special_price" colspan="4">
                                                                
                                                               <h4>Sản phẩm khuyến mãi. <b class="safe_off">Giảm: <%= @pro_detail.product_info.sale_off_price %>%</b></h4>

                                                            </td>
            
                                                        </tr>
                                                        
                                                        <tr>
                                                            
                                                            <td class="special_price" colspan="2">
                                                                
                                                                Giá khuyến mãi:
            
                                                                <div class="price"><%= number_with_delimiter @pro_detail.product_info.sale_price.to_i %> VNĐ</div>
            
                                                            </td>
            
                                                            <td class="old_price" colspan="2">
                                                                
                                                                Giá cũ:
            
                                                                <div class="price"><%= number_with_delimiter @pro_detail.product_price.price.to_i %> VNĐ</div>
            
                                                            </td>
            
                                                        </tr>
            
                                                    </tbody>
                                                    
                                                <% end %>
                                                
                                            <% end %>
                                            
                                        <% end %>
                                        
                                        <% if !@pro_detail.product_info.nil? %>

                                            <% if !@pro_detail.product_info.bonus_product.nil? %>
                                                
                                                <tfoot>
        
                                                    <tr>
                                                        
                                                        <td colspan="4">
                                                            
                                                            <span class="countdown_title">Tặng kèm: <%= @pro_detail.product_info.bonus_product %></span>
        
                                                        </td>
        
                                                    </tr>
        
                                                </tfoot>
                                                
                                            <% end %>
                                            
                                        <% end %>

                                    </table>

                                </div>

                            </div>

                            <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

                            <div class="buttons_row">

                                <% if !@pro_detail.product_price.price.nil? %>

                                    <%= button_to 'Thêm vào giỏ hàng', line_items_path(product_id: @pro_detail), class: "button_blue middle_btn add_to_cart" %>
                                
                                <% end %>

                            </div>

                            <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

                        </div>

                        <!-- - - - - - - - - - - - - - End of product description column - - - - - - - - - - - - - - - - -->

                    </div>

                </main><!--/ [col] -->

                <aside class="col-md-3 col-sm-4">

                    <!-- - - - - - - - - - - - - - Seller Information - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        <h3>Thông tin liên hệ</h3>

                        <div class="theme_box">

                            <div class="seller_info clearfix">
                                
                                <b><%= @company_info.name %></b>

                            </div><!--/ .seller_info-->

                            <ul class="seller_stats">

                                <li class="c_info_location"><%= @company_info.address %></li>

                                <li class="c_info_phone"><%= @company_info.phone %></li>
                                
                                <li class="c_info_mail"><a href="mailto:<%= @company_info.email %>"><%= @company_info.email %></a></li>

                            </ul>

                            <div class="v_centered">
                                
                                <%= link_to "Liên hệ ngay", { controller: "contact", action: "index" }, class: "button_blue mini_btn" %>

                            </div>

                        </div><!--/ .theme_box -->

                        <footer class="bottom_box">
                            
                            <%= link_to "Xem giới thiệu công ty", { controller: "about_us", action: "index" }, class: "button_grey middle_btn" %>

                        </footer>

                    </section>

                    <!-- - - - - - - - - - - - - - End of seller information - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

                    <div class="section_offset">

                        <%= link_to image_tag("/images/logo-company.jpg"), { controller: "about_us", action: "index" }, class: "banner" %>

                    </div>

                    <!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->

                </aside>

            </div><!--/ .row -->

        </div>

        <!-- - - - - - - - - - - - - - Tabs - - - - - - - - - - - - - - - - -->

        <div class="section_offset">

            <div class="tabs products">

                <!-- - - - - - - - - - - - - - Navigation of tabs - - - - - - - - - - - - - - - - -->

                <ul class="tabs_nav clearfix">
                    
                    <li><a href="#tab-1">Sản phẩm đang khuyến mãi</a></li>

                </ul>
                
                <!-- - - - - - - - - - - - - - End navigation of tabs - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - Tabs container - - - - - - - - - - - - - - - - -->

                <div class="tab_containers_wrap">

                    <div id="tab-1" class="tab_container">

                        <!-- - - - - - - - - - - - - - Carousel of hot products - - - - - - - - - - - - - - - - -->

                        <div class="owl_carousel type_2 carousel_in_tabs">
                            
                            <% @sale_products.each do |product| %>

                                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
    
                                <div class="product_item">
    
                                    <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->
    
                                    <div class="image_wrap product_list_height">
    
                                        <img src="<%= product.product_image.image %>" alt="" class="product_image">
    
                                        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
    
                                        <div class="actions_wrap">
    
                                            <div class="centered_buttons">
    
                                                <% if !product.product_price.price.nil? %>
    
                                                    <%= button_to 'Thêm vào giỏ hàng', line_items_path(product_id: product), class: "button_blue middle_btn add_to_cart" %>
                                                
                                                <% end %>
    
                                            </div><!--/ .centered_buttons -->
    
                                        </div><!--/ .actions_wrap-->
                                        
                                        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->
    
                                    </div><!--/. image_wrap-->
    
                                    <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->
                                    
                                    <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->
                                        
                                    <% if !product.product_info.sale_off_price.nil? and product.product_info.sale_off_price > 0 %>
                                        
                                        <div class="label_offer percentage">
                                            
                                            Giảm<div><%= product.product_info.sale_off_price %>%</div>
        
                                        </div>
                                        
                                    <% end %>
    
                                    <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->
    
                                    <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->
    
                                    <div class="description">
    
                                        <%= link_to product.name, {controller: "product", action: "index", id: product.id} %>
    
                                        <div class="clearfix product_info">
    
                                            <% if product.product_price.price.nil? %>
    
                                                <p class="product_price alignleft"><b>Liên hệ:(84-8) 3984 7690</b></p>
                                            
                                            <% else %>
                                                
                                                <p class="product_price alignleft"><b><%= number_with_delimiter product.product_price.price.to_i %> VNĐ</b></p>
                                            
                                            <% end %> 
    
                                        </div>
    
                                    </div>
    
                                    <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->
    
                                    <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

                                    <div class="description">
    
                                        <%= link_to (truncate(strip_tags(product.name), length: 28)), {controller: "product", action: "index", id: product.id} %>
    
                                        <p><%= product.product_info.bonus_product %></p>
            
                                        <div class="clearfix product_info">
                                            
                                            <% if product.product_price.price.nil? %>
                                                
                                                <p class="product_price alignleft"><b style="color: #018bc8">Liên hệ báo giá</b></p>
                                            
                                            <% else %>
                                                
                                                <% if !product.product_info.nil? %>
                                                   
                                                    <% if product.product_info.sale_price.nil? || product.product_info.sale_price <= 0 %>
                                                        
                                                        <p class="product_price alignleft"><span style="color: #b2b2b2">Giá KM: </span><b><%= number_with_delimiter product.product_price.price.to_i %> VNĐ</b></p>
                                                    
                                                    <% else %>
                                                       
                                                        <p class="product_price alignleft"><s style = "font-size: smaller;"><%= number_with_delimiter product.product_price.price.to_i %> VNĐ</s>
                                                        
                                                        <b><%= number_with_delimiter product.get_amount_prices.to_i %> VNĐ</b></p>
                                                    
                                                    <% end %>
                                                
                                                <% end %>
                                            
                                            <% end %>
    
                                        </div><!--/ .clearfix.product_info-->
    
                                    </div>
    
                                    <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->
                                    
                                </div><!--/ .product_item-->
                                
                                <!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->
                                
                            <% end %>

                        </div><!--/ .sh_container-->
                        
                        <!-- - - - - - - - - - - - - - End of carousel of hot products - - - - - - - - - - - - - - - - -->

                    </div><!--/ #tab-1-->

                </div>

                <!-- - - - - - - - - - - - - - End of tabs containers - - - - - - - - - - - - - - - - -->

            </div><!--/ .tabs.section_offset-->

        </div>
            
        <!-- - - - - - - - - - - - - - End of tabs - - - - - - - - - - - - - - - - -->

    </div><!--/ .container-->

</div><!--/ .page_wrapper-->

<!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

<%= render 'blog/footer' %>

<!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

</div><!--/ [layout]-->

<!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

<%= render 'home/social_feeds' %>

<!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->

<!-- Include Libs & Plugins
============================================ -->
<%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
<%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.elevateZoom-3.0.8.min.js' %>
<%= javascript_include_tag '/frontend/js/fancybox/source/jquery.fancybox.pack.js' %>
<%= javascript_include_tag '/frontend/js/fancybox/source/helpers/jquery.fancybox-media.js' %>
<%= javascript_include_tag '/frontend/js/fancybox/source/helpers/jquery.fancybox-thumbs.js' %>
<%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
<%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
<%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
<%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
<%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
<%= javascript_include_tag '/frontend/js/retina.min.js' %>
<%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>

<!-- Theme files
============================================ -->
<%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
<%= javascript_include_tag '/frontend/js/theme.core.js' %>