	<!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

	<div class="wide_layout">

		<!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

		<header id="header">

			<!-- - - - - - - - - - - - - - Top part - - - - - - - - - - - - - - - - -->

			<%= render 'top_header' %>
			
			<!-- - - - - - - - - - - - - - End of top part - - - - - - - - - - - - - - - - -->

			<hr>

			<!-- - - - - - - - - - - - - - Bottom part - - - - - - - - - - - - - - - - -->

			<%= render 'bottom_header' %> <!--Có vấn đề-->

			<!-- - - - - - - - - - - - - - End of bottom part - - - - - - - - - - - - - - - - -->

			<!-- - - - - - - - - - - - - - Main navigation wrapper - - - - - - - - - - - - - - - - -->

			<%= render 'menu' %>

			<!-- - - - - - - - - - - - - - End of main navigation wrapper - - - - - - - - - - - - - - - - -->

		</header>
		
		<!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

		<!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

		<div class="secondary_page_wrapper">

			<div class="container">

				<!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

				<ul class="breadcrumbs">

					<li><a href="index.html">Trang chủ</a></li>
					<li><a href="category_page.html">Thiết bị tin học</a></li>
					<li class="active"><%= link_to truncate(strip_tags(@pro_detail.name), length: 20), {controller: "product", action: "index", id: @pro_detail.id} %></li>
					<%=  %>
				</ul>

				<!-- - - - - - - - - - - - - - End of breadcrumbs - - - - - - - - - - - - - - - - -->

				<div class="row">

					<main class="col-md-9 col-sm-8">

						<!-- - - - - - - - - - - - - - Product images & description - - - - - - - - - - - - - - - - -->

						<section class="section_offset">

							<div class="clearfix">

								<!-- - - - - - - - - - - - - - Product image column - - - - - - - - - - - - - - - - -->

								<div class="single_product">

									<!-- - - - - - - - - - - - - - Image preview container - - - - - - - - - - - - - - - - -->

									<div class="image_preview_container">

										<% if @pro_detail.product_info.nil? %>
											<img src="#" style="width: 82px; height: 56px;" class="img-rounded" alt="Product-Image">
										<% else %>
											<img id="img_zoom" data-zoom-image="<%= @pro_detail.product_info.image_url if @pro_detail.product_info.image_url? %>" src="<%= @pro_detail.product_info.image_url if @pro_detail.product_info.image_url? %>" alt="">
										<% end %>

										<button class="button_grey_2 icon_btn middle_btn open_qv"><i class="icon-resize-full-6"></i></button>

									</div><!--/ .image_preview_container-->

									<!-- - - - - - - - - - - - - - End of image preview container - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Prodcut thumbs carousel - - - - - - - - - - - - - - - - -->
									
									<div class="product_preview">

										<div class="owl_carousel" id="thumbnails">

										</div><!--/ .owl-carousel-->

									</div><!--/ .product_preview-->
									
									<!-- - - - - - - - - - - - - - End of prodcut thumbs carousel - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Share - - - - - - - - - - - - - - - - -->
									
									<div class="v_centered">

										<span class="title">Chia sẻ:</span>

										<div class="addthis_widget_container">
											<!-- AddThis Button BEGIN -->
											<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
											<a class="addthis_button_preferred_1"></a>
											<a class="addthis_button_preferred_2"></a>
											<a class="addthis_button_preferred_3"></a>
											<a class="addthis_button_preferred_4"></a>
											<a class="addthis_button_compact"></a>
											<a class="addthis_counter addthis_bubble_style"></a>
											</div>
											<!-- AddThis Button END -->
										</div>
										
									</div>
									
									<!-- - - - - - - - - - - - - - End of share - - - - - - - - - - - - - - - - -->

								</div>

								<!-- - - - - - - - - - - - - - End of product image column - - - - - - - - - - - - - - - - -->

								<!-- - - - - - - - - - - - - - Product description column - - - - - - - - - - - - - - - - -->

								<div class="single_product_description">

									<h3 class="offset_title"><a href="#"><%= link_to @pro_detail.name, {controller: "product", action: "index", id: @pro_detail.id} %></a></h3>

									<!-- - - - - - - - - - - - - - Page navigation - - - - - - - - - - - - - - - - -->

									<div class="page-nav">

										<a href="#" class="page-prev"></a>
										<a href="#" class="page-next"></a>

									</div>

									<!-- - - - - - - - - - - - - - End of page navigation - - - - - - - - - - - - - - - - -->

									<div class="description_section v_centered">

									</div>

									<div class="description_section">

										<table class="product_info">

											<tbody>

												<tr>

													<td>Nhà cung cấp: Updating...</td>
													<td><a href="#"></a></td>

												</tr>

												<tr>

													<td>Mã sản phẩm: </td>
													<td><%= @pro_detail.product_code %></td>

												</tr>

											</tbody>

										</table>

									</div>

									<hr>

									<div class="description_section">
										Mô tả:
										<p><%= @pro_detail.product_info.note if !@pro_detail.product_info.nil? %></p>

									</div>

									<hr>

									<p class="product_price"><b class="theme_color"><%= number_with_delimiter(@pro_detail.product_price.price.to_i, :delimiter => ".") %> VNĐ</b></p>


									<!-- - - - - - - - - - - - - - Quantity - - - - - - - - - - - - - - - - -->

									<div class="description_section_2 v_centered">
										
										<span class="title">Số lượng:</span>

										<div class="qty min clearfix">

											<button class="theme_button" data-direction="minus">&#45;</button>
											<input type="text" name="" value="1">
											<button class="theme_button" data-direction="plus">&#43;</button>

										</div>

									</div>

									<!-- - - - - - - - - - - - - - End of quantity - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

									<div class="buttons_row">

										<button class="button_blue middle_btn">Thêm vào giỏ hàng</button>
										
									</div>

									<!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

								</div>

								<!-- - - - - - - - - - - - - - End of product description column - - - - - - - - - - - - - - - - -->

							</div>

						</section><!--/ .section_offset -->

						<!-- - - - - - - - - - - - - - End of product images & description - - - - - - - - - - - - - - - - -->

						<!-- - - - - - - - - - - - - - Tabs - - - - - - - - - - - - - - - - -->

						<div class="section_offset">

							<div class="tabs type_2">

								<!-- - - - - - - - - - - - - - Navigation of tabs - - - - - - - - - - - - - - - - -->

								<ul class="tabs_nav clearfix">

									<li><a href="#tab-1">Giới thiệu</a></li>

								</ul>
								
								<!-- - - - - - - - - - - - - - End navigation of tabs - - - - - - - - - - - - - - - - -->

								<!-- - - - - - - - - - - - - - Tabs container - - - - - - - - - - - - - - - - -->

								<div class="tab_containers_wrap">

									<!-- - - - - - - - - - - - - - Tab - - - - - - - - - - - - - - - - -->

									<div id="tab-1" class="tab_container">

										<%= @pro_detail.product_info.description if !@pro_detail.product_info.nil? %>
										
									</div><!--/ #tab-1-->

									<!-- - - - - - - - - - - - - - End tab - - - - - - - - - - - - - - - - -->

								</div><!--/ .tab_containers_wrap -->

								<!-- - - - - - - - - - - - - - End of tabs containers - - - - - - - - - - - - - - - - -->

							</div><!--/ .tabs-->

						</div><!--/ .section_offset -->

						<!-- - - - - - - - - - - - - - End of tabs - - - - - - - - - - - - - - - - -->

						<!-- - - - - - - - - - - - - - Related products - - - - - - - - - - - - - - - - -->

						<section class="section_offset">

							<h3 class="offset_title">Sản phẩm liên quan</h3>

							<div class="owl_carousel related_products">

								<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
								<% @related_products.each do |product| %>
									<div class="product_item">
	
										<!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->
	
										<div class="image_wrap">
											
											<% if product.product_info.nil? %>
												<img src="#" class="img-rounded" alt="Product-Image">
											<% else %>
												<img src="<%= product.product_info.image_url if product.product_info.image_url? %>" class="img-rounded" alt="Product-Image">
											<% end %>
	
											<!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
	
											<div class="actions_wrap">
	
												<div class="centered_buttons">
	
													<a href="#" class="button_blue add_to_cart">Thêm vào giỏ hàng</a>
	
												</div><!--/ .centered_buttons -->
	
											</div><!--/ .actions_wrap-->
											
											<!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->
	
										</div><!--/. image_wrap-->
	
										<!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->
	
										<!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->
	
										<div class="description">
	
											<a href="#"><%= link_to product.name, {controller: "product", action: "index", id: product.id} %></a>
	
											<div class="clearfix product_info">
	
												<p class="product_price alignleft"><b><%= number_with_delimiter(product.product_price.price.to_i, :delimiter => ".") %> VNĐ</b></p>
	
											</div>
	
										</div>
	
										<!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->
	
									</div><!--/ .product_item-->
									
								<% end %>
								
								<!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->

							</div><!--/ .owl_carousel -->

						</section><!--/ .section_offset -->

					</main><!--/ [col]-->

					<aside class="col-md-3 col-sm-4">

						<!-- - - - - - - - - - - - - - Seller Information - - - - - - - - - - - - - - - - -->

						<section class="section_offset">

							<h3>Liên hệ</h3>

							<div class="theme_box">

							  <ul class="c_info_list">
									<li class="c_info_building"><b><%= @company_info.name %></b></li>
									<li class="c_info_location"><%= @company_info.address %></li>
									<li class="c_info_phone"><%= @company_info.phone %></li>
									<li class="c_info_mail"><a href="mailto:<%= @company_info.email %>"><%= @company_info.email %></a></li>
		  
							  </ul>
								
							</div><!--/ .theme_box -->

						</section>

						<!-- - - - - - - - - - - - - - End of seller information - - - - - - - - - - - - - - - - -->

						

						<!-- - - - - - - - - - - - - - You might also like - - - - - - - - - - - - - - - - -->

						<section class="section_offset">

							<h3 class="offset_title">Có thể bạn thích</h3>

							<div class="owl_carousel widgets_carousel">
								
								<% @favorite_products.each do |product| %>
								
									<ul class="products_list_widget">
	
										<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
									
										<li>
											
											<a href="#" class="product_thumb">
												<% if product.product_info.nil? %>
													<img src="#" width="83" height="83" class="img-rounded" alt="Product-Image">
												<% else %>
													<img src="<%= product.product_info.image_url if product.product_info.image_url? %>" width="83" height="83" class="img-rounded" alt="">
												<% end %>
	
											</a>
	
											<div class="wrapper">
	
												<a href="#" class="product_title"><%= link_to product.name, {controller: "product", action: "index", id: product.id} %></a>
	
												<div class="clearfix product_info">
	
													<p class="product_price alignleft"><b><%= number_with_delimiter(product.product_price.price.to_i, :delimiter => ".") %> VNĐ</b></p>
	
												</div>
	
											</div>
	
										</li>
	
										<!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->
										
									</ul><!--/ .list_of_products-->
								<% end %>
								
							</div>

						</section>

						<!-- - - - - - - - - - - - - - End of you might also like - - - - - - - - - - - - - - - - -->


					</aside><!--/ [col]-->

				</div><!--/ .row-->

			</div><!--/ .container-->

		</div><!--/ .page_wrapper-->
		
		<!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

		<!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

		<%= render 'footer' %>
		
		<!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

	</div><!--/ [layout]-->
	
	<!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

	<!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

	<%= render 'home/social_feeds' %>

	<!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
	
	<!-- Include Libs & Plugins
	============================================ -->
	<%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
	<%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
	<%= javascript_include_tag '/frontend/js/jquery.elevateZoom-3.0.8.min.js' %>
	<%= javascript_include_tag '/frontend/js/fancybox/source/jquery.fancybox.pack.js' %>
	<%= javascript_include_tag '/frontend/js/fancybox/source/helpers/jquery.fancybox-media.js' %>
	<%= javascript_include_tag '/frontend/js/fancybox/source/helpers/jquery.fancybox-thumbs.js' %>
	<%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
	<%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
	<%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
	<%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
	<%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
	<%= javascript_include_tag '/frontend/js/retina.min.js' %>
	<%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>

	<!-- Theme files
	============================================ -->
	<%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
	<%= javascript_include_tag '/frontend/js/theme.core.js' %>
