<!--<div id="block-quick-view-popup" class="block-quick-view-popup">
    <div class="quick-view-content">-->
<div class="product-items">
    <div class="product-image">
        <% if !@product.product_image.id.nil? %>
            <%= link_to image_tag(@product.product_image.image(:thumb200), alt: @product.display_name),
                product_path(id: @product.id, title: @product.alias),
                title: @product.display_name %>
        <% else %>
            <%= link_to image_tag('/hksite/images/no-image/thumb-200.png', alt: @product.display_name),
                product_path(id: @product.id, title: @product.alias),
                title: @product.display_name %>
        <% end %>
    </div>
    <div class="product-info">
        <div class="product-name">
            <%= link_to @product.display_name,
                product_path(id: @product.id, title: @product.alias),
                title: @product.display_name %>
        </div>
        <span class="star-rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <div class="product-infomation">
            <% if @product.description.present? %>
                <strong>Mô tả: </strong><%= @product.description %><br>
            <% end %>
            <% if @product.product_info.present? %>
                <% if @product.product_info.bonus_product.present? %>
                    <strong>Tặng kèm: </strong><%= @product.product_info.bonus_product %><br>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="product-info-price">
        <% if @product.has_price %>
            <span class="price">
                <% if @product.check_product_sale %>
                    <ins><%= format_price(@product.display_price) %></ins>
                    <del><%= format_price(@product.product_info.old_price) %></del>
                <% else %>
                    <ins><%= format_price(@product.display_price) %></ins>
                <% end %>
            </span>
            <%= button_to 'Thêm vào giỏ hàng', line_items_path(product_id: @product), class: "btn-add-to-cart custom-add-to-cart" %>
        <% else %>
            <span class="price">
                <ins>Liên hệ:(028) 3984 7690</ins>
            </span>
        <% end %>
        
    </div>
</div>
<!--    </div>
</div>-->