<!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

<div class="wide_layout">

    <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

    <%= render 'blog/header' %>
    
    <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

    <div class="secondary_page_wrapper">

        <div class="container">

            <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

            <ul class="breadcrumbs">

                <li><%= link_to "Trang chủ", root_path %></li>
                <li><%= @manufacturer.name %></li>

            </ul>

            <div class="row">

                <aside class="col-md-3 col-sm-4 has_mega_menu">

                    <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->

                    <%= render 'manufacturer/left_bar_manufacturer', status: "manufacturer_page" %>

                    <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->

                </aside>

                <main class="col-md-9 col-sm-8">

                    <sectio>

                        <h1><%= @manufacturer.name %></h1>

                    </section>

                    <!-- - - - - - - - - - - - - - Products - - - - - - - - - - - - - - - - -->

                    <div class="section_offset">

                        <header class="top_box on_the_sides">

                            <div class="clearfix v_centered">

                                <%= form_tag({controller: "manufacturer_page", action: "index"}, method: "get") do %>

                                    <%= hidden_field_tag "manufacturer_id", @manufacturer.id %>
                                    
                                    <!-- - - - - - - - - - - - - - Sort by - - - - - - - - - - - - - - - - -->
    
                                    <div class="v_centered">
    
                                        <span>Sắp xếp theo:</span>
    
                                        <div class="sort_select">
                                            
                                            <%= select_tag(:sort_by, options_for_select(Product.sort_by, :selected => params[:sort_by])) %>
    
                                        </div>
                                        
                                        <div class="sort_select">
                                            
                                            <%= select_tag(:sort_order, options_for_select(Product.sort_order, :selected => params[:sort_order])) %>
    
                                        </div>
                                        
                                        <button type="submit" class="button_blue middle_btn" style="margin-top: 10px;">Lọc sản phẩm</button>
    
                                    </div>
    
                                    <!-- - - - - - - - - - - - - - End of sort by - - - - - - - - - - - - - - - - -->
                                
                                <% end %>
                            
                            </div>

                        </header>

                        <div class="table_layout" id="products_container">
                            
                            <div class="table_row">
                                
                                <% @products.each_with_index do |product, index| %>

                                    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
    
                                    <div class="table_cell">
    
                                        <div class="product_item">
    
                                            <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->
    
                                            <div class="image_wrap product_list_height">
    
                                                <img src="<%= product.product_image.image %>" alt="" class="product_image" />
    
                                                <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
    
                                                <div class="actions_wrap">
    
                                                    <div class="centered_buttons">
                                                        
                                                        <% if !product.product_price.price.nil? %>
    
                                                            <%= button_to 'Thêm vào giỏ hàng', line_items_path(product_id: product), class: "button_blue middle_btn add_to_cart add_cart_fix" %>
                                                        
                                                        <% end %>
    
                                                    </div><!--/ .centered_buttons -->
    
                                                </div><!--/ .actions_wrap-->
                                                
                                                <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->
    
                                            </div><!--/. image_wrap-->
    
                                            <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->
                                            
                                            <% if product.get_old_price.present? and product.get_discount_percent.present? and product.get_discount_percent >= 1 %>
                                            
                                                <div class="label_offer percentage">
                                                    
                                                    <div><%= number_to_percentage(product.get_discount_percent, strip_insignificant_zeros: true) %></div>Off
                
                                                </div>
                                                
                                            <% end %>
    
                                            <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->
    
                                            <div class="description">
    
                                                <%= link_to product.display_name, {controller: "product", action: "index", id: product.id} %>
    
                                                <div class="clearfix product_info">
                                                    
                                                    <% if product.product_price.price.nil? %>
                                                        <p class="product_price alignleft"><b>Liên hệ báo giá</b></p>
                                                    <% elsif !product.get_old_price.nil? and (product.get_old_price.price.to_i > product.product_price.price.to_i) %>
                                                        <p class="product_price alignleft"><s style = "font-size: smaller;"><%= number_with_delimiter product.get_old_price.price.to_i %> </s>
                                                        <b><%= number_with_delimiter product.display_price %> VNĐ</b></p>
                                                    <% else %>
                                                        <p class="product_price alignleft"><b><%= number_with_delimiter product.display_price %> VNĐ</b></p>
                                                    <% end %>
    
                                                </div>
    
                                            </div>
    
                                            <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->
    
                                        </div><!--/ .product_item-->
    
                                    </div>
    
                                    <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->
                                    
                                    <%= "</div><div class=\"table_row\">".html_safe if index%4 == 3 %>
                                
                                <% end %>
                            
                            </div><!--/ .table_row -->

                        </div><!--/ .table_layout -->

                        <footer class="bottom_box on_the_sides">

                            <div class="left_side">

                                <%= page_entries_info @products %> sản phẩm.

                            </div>

                            <div class="right_side">
                                <%= will_paginate @products, previous_label: '<', next_label: '>', renderer: BootstrapPagination::Rails %>
                            </div>

                        </footer>

                    </div>

                    <!-- - - - - - - - - - - - - - End of products - - - - - - - - - - - - - - - - -->

                </main>

            </div><!--/ .row -->

        </div><!--/ .container-->

    </div><!--/ .page_wrapper-->
    
    <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

    <%= render 'blog/footer' %>
    
    <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

</div><!--/ [layout]-->

<!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

<%= render "home/social_feeds" %>

<!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->

<!-- Include Libs & Plugins
============================================ -->
<%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery-ui.min.js' %>
<%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
<%= javascript_include_tag '/frontend/js/jquery.countdown.plugin.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.countdown.min.js' %>
<%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
<%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
<%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
<%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
<%= javascript_include_tag '/frontend/js/retina.min.js' %>
<%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>

<!-- Theme files
============================================ -->
<%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
<%= javascript_include_tag '/frontend/js/theme.core.js' %>