<!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

<div class="wide_layout">

    <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

    <%= render 'blog/header' %>
    
    <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

    <div class="secondary_page_wrapper">

        <div class="container">

            <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

            <ul class="breadcrumbs">

                <li><%= link_to "Trang chủ", root_path %></li>
                <li><a href="blog_v1.html"><%= @blog_post.tag.title %></a></li>
                <li><%= @blog_post.title %></li>

            </ul>

            <div class="row">

                <aside class="col-md-3 col-sm-4">

                    <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        <h3>Danh mục tin tức</h3>

                        <ul class="theme_menu">
                            
                            <% @tag.each do |tag| %>
                                <% if tag.title == "Giới thiệu công ty" %>
                                    <li><%= link_to tag.title, {controller: "about_us", action: "index"} %></li>
                                <% else %>
                                    <li><%= link_to tag.title, {controller: "blog_detail", action: "index", id: tag.id} %></li>
                                <% end %>
                            <% end %>

                        </ul>

                    </section><!--/ .section_offset -->

                    <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Popular posts - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        <h3>Tin tức mới</h3>

                        <ul class="list_of_entries">
                            
                            <% @new_blog_footer.each do |blog| %>

                                <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
    
                                <li>
                                        
                                    <article class="entry">
                                        
                                        <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->
    
                                        <a href="#" class="entry_thumb">
    
                                            <img src="<%= blog.image_url.article_home if blog.image_url? %>" width="83" height="83" alt="">
    
                                        </a>
    
                                        <!-- - - - - - - - - - - - - - End of thumbnail - - - - - - - - - - - - - - - - -->
    
                                        <div class="wrapper">
    
                                            <h6 class="entry_title"><%= link_to blog.title, { controller: "blog_post", action: "index", id: blog.id } %></h6>
    
                                            <!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->
    
                                            <div class="entry_meta">
    
                                                <span><i class="icon-calendar"></i> <%= blog.created_at.strftime("%d/%m/%Y") %></span>
    
                                            </div><!--/ .byline-->
    
                                            <!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->
    
                                        </div><!--/ .wrapper-->
    
                                    </article><!--/ .clearfix-->
    
                                </li>
    
                                <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->
                            
                            <% end %>
                            
                        </ul>   

                    </section><!--/ .section_offset -->

                    <!-- - - - - - - - - - - - - - End of popular posts - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

                    <div class="section_offset">

                        <a href="#" class="banner">
                            
                            <img src="images/logo-company.jpg" alt="">

                        </a>

                    </div>

                    <!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->

                </aside><!--/ [col]-->

                <main class="col-md-9 col-sm-8">

                    <section class="section_offset">

                        <h1><%= @blog_post.title %></h1>

                        <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
                        
                        <article class="entry single">

                            <!-- - - - - - - - - - - - - - Entry meta - - - - - - - - - - - - - - - - -->

                            <div class="entry_meta">

                                <div class="alignleft">

                                    <span><i class="icon-calendar"></i> <%= @blog_post.created_at.strftime("%d/%m/%Y") %></span>

                                    <span><i class="icon-user-8"></i> đăng bởi <a href="#">Quản trị viên</a></span>

                                    <span><i class="icon-folder-open-empty-1"></i> <%= link_to @blog_post.tag.title, { controller: "blog_detail", action: "index", id: @blog_post.tag_id } %></span>

                                </div>

                                <div class="alignright">

                                    Đánh giá

                                    <!-- - - - - - - - - - - - - - Entry rating - - - - - - - - - - - - - - - - -->

                                    <ul class="rating">

                                        <li class="active"></li>
                                        <li class="active"></li>
                                        <li class="active"></li>
                                        <li class="active"></li>
                                        <li></li>

                                    </ul>
                                    
                                    <!-- - - - - - - - - - - - - - End of entry rating - - - - - - - - - - - - - - - - -->

                                </div>

                            </div><!--/ .entry_meta-->

                            <!-- - - - - - - - - - - - - - End of entry meta - - - - - - - - - - - - - - - - -->


                            <!-- - - - - - - - - - - - - - Entry image - - - - - - - - - - - - - - - - -->

                            <div class="entry_image">
                                
                                <img src="<%= @blog_post.image_url.article_blog_post %>" width="800" height="500" alt="">

                            </div>

                            <!-- - - - - - - - - - - - - - End of entry image - - - - - - - - - - - - - - - - -->

                            <p><%= @blog_post.content.html_safe %></p>

                        </article>

                        <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                    </section>

                    <!-- - - - - - - - - - - - - - Related posts - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">
                        
                        <h3>Tin tức mới cùng chuyên mục</h3>
                        
                        <div class="table_layout related_posts">

                            <div class="table_row">
                                
                                <% count = 0 %>
                                
                                <% @related_post.each do |post| %>
                                    <% if post.tag_id == @blog_post.tag_id && count < 4 %>
                                        <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

                                        <div class="table_cell">
        
                                            <article class="entry">
                                                
                                                <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->
        
                                                <a href="#" class="entry_thumb">
        
                                                    <img src="<%= post.image_url.article_home if post.image_url? %>" width="83" height="83" alt="">
        
                                                </a>
        
                                                <!-- - - - - - - - - - - - - - End of thumbnail - - - - - - - - - - - - - - - - -->
        
                                                <div class="wrapper">
        
                                                    <h6 class="entry_title"><%= link_to post.title, { controller: "blog_post", action: "index", id: post.id } %></h6>
        
                                                    <!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->
        
                                                    <div class="entry_meta">
        
                                                        <span><i class="icon-calendar"></i> <%= post.created_at.strftime("%d/%m/%Y") %></span>
        
                                                    </div><!--/ .byline-->
        
                                                    <!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->
        
                                                </div><!--/ .wrapper-->
        
                                            </article><!--/ .clearfix-->
        
                                        </div>
        
                                        <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->
                                        
                                        <% count += 1 %>
                                    <% end %>
                                <% end %>

                            </div>

                        </div>						

                    </section>

                    <!-- - - - - - - - - - - - - - End related posts - - - - - - - - - - - - - - - - -->

                </main><!--/ [col]-->

            </div><!--/ .row-->

        </div><!--/ .container-->

    </div><!--/ .page_wrapper-->
    
    <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

    <%= render 'blog/footer' %>
    
    <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

</div><!--/ [layout]-->

<!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

<%= render "home/social_feeds" %>

<!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->

<!-- Include Libs & Plugins
============================================ -->
<%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
<%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
<%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
<%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
<%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
<%= javascript_include_tag '/frontend/js/fancybox/source/jquery.fancybox.pack.js' %>
<%= javascript_include_tag '/frontend/js/fancybox/source/helpers/jquery.fancybox-media.js' %>
<%= javascript_include_tag '/frontend/js/fancybox/source/helpers/jquery.fancybox-thumbs.js' %>
<%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
<%= javascript_include_tag '/frontend/js/retina.min.js' %>
<%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>

<!-- Theme files
============================================ -->
<%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
<%= javascript_include_tag '/frontend/js/theme.core.js' %>