<!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

<div class="wide_layout">

    <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

    <%= render 'blog/header' %>
    
    <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

    <div class="secondary_page_wrapper">

        <div class="container">

            <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

            <ul class="breadcrumbs">

                <li><a href="index.html">Trang chủ</a></li>
                <li><a href="blog_v1.html">Tin công nghệ</a></li>
                <li>Nội dung tin công nghệ</li>

            </ul>

            <div class="row">

                <aside class="col-md-3 col-sm-4">

                    <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        <h3>Danh mục tin tức</h3>

                        <ul class="theme_menu">

                            <li><a href="#">Thiết bị tin học</a></li>
                            <li><a href="#">Thiết bị văn phòng</a></li>
                            <li><a href="#">Thiết bị hệ thống mạng</a></li>
                            <li><a href="#">Thiết bị viễn thông</a></li>
                            <li><a href="#">An ninh kiểm soát</a></li>

                        </ul>

                    </section><!--/ .section_offset -->

                    <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Popular posts - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        <h3>Tin tức mới</h3>

                        <ul class="list_of_entries">
                            
                            <% @blog.each do |blog| %>

                                <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
    
                                <li>
                                        
                                    <article class="entry">
                                        
                                        <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->
    
                                        <a href="#" class="entry_thumb">
    
                                            <img src="<%= blog.image_url.article_home if blog.image_url? %>" width="83" height="83" alt="">
    
                                        </a>
    
                                        <!-- - - - - - - - - - - - - - End of thumbnail - - - - - - - - - - - - - - - - -->
    
                                        <div class="wrapper">
    
                                            <h6 class="entry_title"><%= link_to blog.title, { controller: "blog_post", action: "index", id: blog.id } %></h6>
    
                                            <!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->
    
                                            <div class="entry_meta">
    
                                                <span><i class="icon-calendar"></i> <%= blog.created_at.strftime("%d/%m/%Y") %></span>
    
                                                <span><a href="#" class="comments"><i class="icon-comment"></i> 3</a></span>
    
                                            </div><!--/ .byline-->
    
                                            <!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->
    
                                        </div><!--/ .wrapper-->
    
                                    </article><!--/ .clearfix-->
    
                                </li>
    
                                <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->
                            
                            <% end %>
                            
                        </ul>   

                    </section><!--/ .section_offset -->

                    <!-- - - - - - - - - - - - - - End of popular posts - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

                    <div class="section_offset">

                        <a href="#" class="banner">
                            
                            <img src="images/logo-company.jpg" alt="">

                        </a>

                    </div>

                    <!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Recent comments - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        <h3>Recent Comments</h3>

                        <ul class="recentcomments_list">

                            <!-- - - - - - - - - - - - - - Comment - - - - - - - - - - - - - - - - -->

                            <li class="recentcomment">
                                
                                <div class="posted_by">Posted by: <a href="#">admin</a>:</div>

                                <a href="#">Lorem ipsum dolor sit amet, con- sectetuer adipis</a>

                                <p class="comment">Fusce euismod consequat ante. Lorem ipsum dolor sit amet...</p>

                            </li>


                            <!-- - - - - - - - - - - - - - End of comment - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Comment - - - - - - - - - - - - - - - - -->

                            <li class="recentcomment">
                                
                                <div class="posted_by">Posted by: <a href="#">admin</a>:</div>

                                <a href="#">Neque porro quisquam est, qui</a>

                                <p class="comment">Consectetuer adipis. Mauris accumsan nulla vel diam. Sed in...</p>

                            </li>


                            <!-- - - - - - - - - - - - - - End of comment - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Comment - - - - - - - - - - - - - - - - -->

                            <li class="recentcomment">
                                
                                <div class="posted_by">Posted by: <a href="#">admin</a>:</div>

                                <a href="#">Mauris fermentum dictum magna</a>

                                <p class="comment">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices...</p>

                            </li>


                            <!-- - - - - - - - - - - - - - End of comment - - - - - - - - - - - - - - - - -->

                        </ul>

                    </section>

                    <!-- - - - - - - - - - - - - - End recent comments - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Blog Tags - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        <h3>Blog Tags</h3>

                        <div class="tags_container">

                            <ul class="tags_cloud">
                                
                                <li><a href="#" class="button_grey">Thiết bị tin học</a></li>
                                <li><a href="#" class="button_grey">Thiết bị văn phòng</a></li>
                                <li><a href="#" class="button_grey">Thiết bị hệ thống mạng</a></li>
                                <li><a href="#" class="button_grey">Thiết bị viễn thông</a></li>
                                <li><a href="#" class="button_grey">An ninh kiểm soát</a></li>

                            </ul><!--/ .tags_cloud-->
                            
                        </div><!--/ .tags_container-->

                    </section>

                    <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

                    <div class="section_offset">

                        <a href="#" class="banner">
                            
                            <img src="images/banner_img_11.png" alt="">

                        </a>

                    </div>

                    <!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Community poll - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        <h3>Community Poll</h3>

                        <div class="theme_box">

                            <p class="form_caption_2">Fusce euismod consequat ante?</p>

                            <form id="community_poll" class="type_2">

                                <ul>

                                    <li>

                                        <div class="form_el">
                                            <input type="radio" name="radio_1" id="radio_1" checked>
                                            <label for="radio_1">Lorem ipsum</label>
                                        </div>

                                    </li>

                                    <li>

                                        <div class="form_el">
                                            <input type="radio" name="radio_1" id="radio_2">
                                            <label for="radio_2">Consectetuer adipis</label>
                                        </div>

                                    </li>

                                    <li>

                                        <div class="form_el">
                                            <input type="radio" name="radio_1" id="radio_3">
                                            <label for="radio_3">Dolor sit amet</label>
                                        </div>

                                    </li>

                                </ul>

                            </form>

                        </div>

                        <footer class="bottom_box">

                            <button form="community_poll" class="button_blue middle_btn">Vote</button>

                        </footer>

                    </section>

                    <!-- - - - - - - - - - - - - - End of community poll - - - - - - - - - - - - - - - - -->

                </aside><!--/ [col]-->

                <main class="col-md-9 col-sm-8">

                    <section class="section_offset">

                        <h1><%= @blog_post.title %></h1>

                        <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
                        
                        <article class="entry single">

                            <!-- - - - - - - - - - - - - - Entry meta - - - - - - - - - - - - - - - - -->

                            <div class="entry_meta">

                                <div class="alignleft">

                                    <span><i class="icon-calendar"></i> <%= @blog_post.created_at.strftime("%d/%m/%Y") %></span>

                                    <span><a href="#" class="comments"><i class="icon-comment"></i> 3</a></span>

                                    <span><i class="icon-user-8"></i> đăng bởi <a href="#">Quản trị viên</a></span>

                                    <span><i class="icon-folder-open-empty-1"></i> <a href="#"><%= @blog_post.tag.title %></a></span>

                                </div>

                                <div class="alignright">

                                    Đánh giá

                                    <!-- - - - - - - - - - - - - - Entry rating - - - - - - - - - - - - - - - - -->

                                    <ul class="rating">

                                        <li class="active"></li>
                                        <li class="active"></li>
                                        <li class="active"></li>
                                        <li></li>
                                        <li></li>

                                    </ul>
                                    
                                    <!-- - - - - - - - - - - - - - End of entry rating - - - - - - - - - - - - - - - - -->

                                    (17 votes)

                                </div>

                            </div><!--/ .entry_meta-->

                            <!-- - - - - - - - - - - - - - End of entry meta - - - - - - - - - - - - - - - - -->


                            <!-- - - - - - - - - - - - - - Entry image - - - - - - - - - - - - - - - - -->

                            <div class="entry_image">
                                
                                <img src="<%= @blog_post.image_url.article_blog_post %>" width="800" height="500" alt="">

                            </div>

                            <h4 class="entry_title"><a href="#">Ut pharetra augue nec augue integer rutrum ante eu lacus</a></h4>

                            <!-- - - - - - - - - - - - - - End of entry image - - - - - - - - - - - - - - - - -->

                            <p><%= @blog_post.content.html_safe %></p>

                        </article>

                        <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                        <footer class="bottom_box">

                            Nhãn: <a href="#">thiết bị tin học</a>

                        </footer>

                    </section>

                    <!-- - - - - - - - - - - - - - Related posts - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">
                        
                        <h3>Bài viết liên quan</h3>

                        <div class="table_layout related_posts">

                            <div class="table_row">

                                <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

                                <div class="table_cell">

                                    <article class="entry">
                                        
                                        <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

                                        <a href="#" class="entry_thumb">

                                            <img src="images/blog_thumb_4.jpg" alt="">

                                        </a>

                                        <!-- - - - - - - - - - - - - - End of thumbnail - - - - - - - - - - - - - - - - -->

                                        <div class="wrapper">

                                            <h6 class="entry_title"><a href="#">Lorem ipsum dolor sit amet, consectetuer adipis</a></h6>

                                            <!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->

                                            <div class="entry_meta">

                                                <span><i class="icon-calendar"></i> 2014-08-05</span>

                                                <span><a href="#" class="comments"><i class="icon-comment"></i> 3</a></span>

                                            </div><!--/ .byline-->

                                            <!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->

                                        </div><!--/ .wrapper-->

                                    </article><!--/ .clearfix-->

                                </div>

                                <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                                <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

                                <div class="table_cell">

                                    <article class="entry">
                                        
                                        <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

                                        <a href="#" class="entry_thumb">

                                            <img src="images/blog_thumb_5.jpg" alt="">

                                        </a>

                                        <!-- - - - - - - - - - - - - - End of thumbnail - - - - - - - - - - - - - - - - -->

                                        <div class="wrapper">

                                            <h6 class="entry_title"><a href="#">Neque porro quis- quam est, qui</a></h6>

                                            <!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->

                                            <div class="entry_meta">

                                                <span><i class="icon-calendar"></i> 2014-11-06</span>

                                                <span><a href="#" class="comments"><i class="icon-comment"></i> 7</a></span>

                                            </div><!--/ .byline-->

                                            <!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->

                                        </div><!--/ .wrapper-->

                                    </article><!--/ .clearfix-->

                                </div>

                                <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                                <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

                                <div class="table_cell">

                                    <article class="entry">
                                        
                                        <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

                                        <a href="#" class="entry_thumb">

                                            <img src="images/blog_thumb_6.jpg" alt="">

                                        </a>

                                        <!-- - - - - - - - - - - - - - End of thumbnail - - - - - - - - - - - - - - - - -->

                                        <div class="wrapper">

                                            <h6 class="entry_title"><a href="#">Mauris fermentum dictum magna</a></h6>

                                            <!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->

                                            <div class="entry_meta">

                                                <span><i class="icon-calendar"></i> 2014-03-12</span>

                                                <span><a href="#" class="comments"><i class="icon-comment"></i> 4</a></span>

                                            </div><!--/ .byline-->

                                            <!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->

                                        </div><!--/ .wrapper-->

                                    </article><!--/ .clearfix-->

                                </div>

                                <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                            </div>

                        </div>						

                    </section>

                    <!-- - - - - - - - - - - - - - End related posts - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Comments - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">
                        
                        <h3>Comments</h3>

                        <ol class="comments-list">

                            <!-- - - - - - - - - - - - - - Comment (level 1) - - - - - - - - - - - - - - - - -->

                            <li class="comment">

                                <article>

                                    <!-- - - - - - - - - - - - - - Avatar - - - - - - - - - - - - - - - - -->
                                
                                    <div class="avatar">

                                        <img src="images/comment_author_photo.jpg" alt="">

                                    </div>

                                    <!-- - - - - - - - - - - - - - End of avatar - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Comment body - - - - - - - - - - - - - - - - -->

                                    <div class="comment-body">

                                        <header class="comment-meta">

                                            <h6 class="comment-author"><a href="#">John Smith</a></h6>, 2014-08-05

                                        </header>

                                        <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo.</p>

                                    </div>

                                    <!-- - - - - - - - - - - - - - End of comment body - - - - - - - - - - - - - - - - -->

                                    <a href="#" class="button_grey icon_btn comment-reply-link"><i class="icon-reply-4"></i></a>

                                </article>

                                <ol class="children">

                                    <!-- - - - - - - - - - - - - - Comment (level 2) - - - - - - - - - - - - - - - - -->

                                    <li class="comment">

                                        <article>

                                            <!-- - - - - - - - - - - - - - Avatar - - - - - - - - - - - - - - - - -->
                                        
                                            <div class="avatar">

                                                <img src="images/comment_author_photo.jpg" alt="">

                                            </div>

                                            <!-- - - - - - - - - - - - - - End of avatar - - - - - - - - - - - - - - - - -->

                                            <!-- - - - - - - - - - - - - - Comment body - - - - - - - - - - - - - - - - -->

                                            <div class="comment-body">

                                                <header class="comment-meta">

                                                    <h6 class="comment-author"><a href="#">admin</a></h6>, 2014-08-05

                                                </header>

                                                <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>

                                            </div>

                                            <!-- - - - - - - - - - - - - - End of comment body - - - - - - - - - - - - - - - - -->

                                            <a href="#" class="button_grey icon_btn comment-reply-link"><i class="icon-reply-4"></i></a>

                                        </article>

                                    </li>

                                    <!-- - - - - - - - - - - - - - End of comment (level 2) - - - - - - - - - - - - - - - - -->

                                </ol>

                            </li>

                            <!-- - - - - - - - - - - - - - End of comment (level 1) - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Comment (level 1) - - - - - - - - - - - - - - - - -->

                            <li class="comment">

                                <article>

                                    <!-- - - - - - - - - - - - - - Avatar - - - - - - - - - - - - - - - - -->
                                
                                    <div class="avatar">

                                        <img src="images/comment_author_photo.jpg" alt="">

                                    </div>

                                    <!-- - - - - - - - - - - - - - End of avatar - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Comment body - - - - - - - - - - - - - - - - -->

                                    <div class="comment-body">

                                        <header class="comment-meta">

                                            <h6 class="comment-author"><a href="#">John Smith</a></h6>, 2014-08-05

                                        </header>

                                        <p>Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh.</p>

                                    </div>

                                    <!-- - - - - - - - - - - - - - End of comment body - - - - - - - - - - - - - - - - -->

                                    <a href="#" class="button_grey icon_btn comment-reply-link"><i class="icon-reply-4"></i></a>

                                </article>

                            </li>

                            <!-- - - - - - - - - - - - - - End of comment (level 1) - - - - - - - - - - - - - - - - -->

                        </ol>

                    </section>

                    <!-- - - - - - - - - - - - - - End of comments - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Leave a comment - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        <h3>Leave a Comment</h3>

                        <div class="theme_box">

                            <p class="form_caption">Make sure you enter the (<span class="prompt"></span>) required information where indicated. HTML code is not allowed.</p>

                            <form class="type_2" id="leave_comment">

                                <ul>

                                    <li class="row">
                                        
                                        <div class="col-sm-6">

                                            <label for="lc_name" class="required">Name</label>
                                            <input type="text" name="" id="lc_name">

                                        </div>

                                        <div class="col-sm-6">

                                            <label for="lc_email" class="required">Email Address</label>
                                            <input type="email" name="" id="lc_email">

                                        </div>

                                    </li>

                                    <li class="row">

                                        <div class="col-xs-12">

                                            <label for="lc_url">Website URL</label>
                                            <input type="url" name="" id="lc_url">

                                        </div>

                                    </li>

                                    <li class="row">

                                        <div class="col-xs-12">

                                            <label for="lc_message">Message</label>
                                            <textarea name="" id="lc_message" rows="6"></textarea>

                                        </div>

                                    </li>

                                </ul>

                            </form>

                        </div>

                        <footer class="bottom_box">

                            <button class="button_dark_grey middle_btn" form="leave_comment" type="submit">Submit</button>
                            
                        </footer>

                    </section>

                    <!-- - - - - - - - - - - - - - End leave a comment - - - - - - - - - - - - - - - - -->

                </main><!--/ [col]-->

            </div><!--/ .row-->

        </div><!--/ .container-->

    </div><!--/ .page_wrapper-->
    
    <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

    <%= render 'blog/footer' %>
    
    <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

</div><!--/ [layout]-->

<!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->



<!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->

<!-- Include Libs & Plugins
============================================ -->
<%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
<%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
<%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
<%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
<%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
<%= javascript_include_tag '/frontend/js/fancybox/source/jquery.fancybox.pack.js' %>
<%= javascript_include_tag '/frontend/js/fancybox/source/helpers/jquery.fancybox-media.js' %>
<%= javascript_include_tag '/frontend/js/fancybox/source/helpers/jquery.fancybox-thumbs.js' %>
<%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
<%= javascript_include_tag '/frontend/js/retina.min.js' %>
<%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>

<!-- Theme files
============================================ -->
<%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
<%= javascript_include_tag '/frontend/js/theme.core.js' %>