<main class="site-main product-list product-grid">
    <div class="container">
        <ol class="breadcrumb-page">
            <li><%= link_to 'Trang Chủ', root_path %></li>
            <li class="active"><%= link_to @category.title, 'javascript:void(0)' %></li>
        </ol>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 float-none float-right padding-left-5">
                <div class="main-content">
                    <div class="promotion-banner style-3">
                    <% if @category.image_url.present? %>                        
                        <%= link_to image_tag(@category.image_url, alt: @category.title, class: 'category-main-banner'),
                                    category_path(id: @category.id, title: @category.name_url), title: @category.title %>
                    <% else %>                        
                        <%= link_to image_tag('/hksite/images/banner-hkstore.png', alt: @category.title, class: 'category-main-banner'),
                                    category_path(id: @category.id, title: @category.name_url), title: @category.title %>
                    <% end %>
                     </div>
                    <div class="toolbar-products">
                        <h1 class="title-product"><%= @category.title %></h1>
                    </div>
                    <div class="products products-list products-grid equal-container">
                        <%= render '/modules/product/product_listing', products: @products %>
                    </div>
                    <div class="pagination">
                        <%= render '/modules/product/product_pagination', products: @products %>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="col-sidebar">
                    <div class="filter-options">
                        <div class="block-title">CHUYÊN MỤC SẢN PHẨM</div>
                        <div class="block-content">
                            <%= render '/modules/product/product_filter', category: @category, manufacturers: @manufacturers %>                                             
                        </div>
                    </div>
                    <div class="block-latest-roducts">
                        <div class="block-title">SẢN PHẨM NỔI BẬT</div>
                        <div class="block-latest-roducts-content">
                            <div class="owl-carousel nav-style2" data-nav="true" data-autoplay="false" data-dots="false" data-loop="true" data-margin="0" data-responsive='{"0":{"items":1},"600":{"items":1},"1000":{"items":1}}'>
                                <%= render '/modules/product/hot_products' %>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="block-recent-view">
        <div class="container">
            <div class="title-of-section">Sản Phẩm Bán Chạy</div>
            <%= render '/modules/bestselling' %>
        </div>
    </div>
    <div class="block-section-brand">
        <div class="container">
            <%= render '/modules/listing_brand' %>
        </div>
    </div>
</main>