<!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

<div class="wide_layout">

    <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

    <%= render 'blog/header' %>
    
    <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

    <div class="secondary_page_wrapper">

        <div class="container">

            <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

            <ul class="breadcrumbs">

                <li><%= link_to "Trang chủ", root_path %></li>
                <li><%= @category.title %></li>

            </ul>

            <div class="row">

                <aside class="col-md-3 col-sm-4 has_mega_menu">

                    <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->

                    <%= render 'category_left_page' %>

                    <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Filter - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        <h3>Bộ lọc</h3>

                        <form class="type_2">

                            <div class="table_layout list_view">

                                <div class="table_row">

                                    <!-- - - - - - - - - - - - - - Category filter - - - - - - - - - - - - - - - - -->

                                    <div class="table_cell">

                                        <label>Danh mục</label>

                                        <div class="custom_select">

                                            <select name="">
                                                
                                                <option value="Thiết bị tin học">Thiết bị tin học</option>
                                                <option value="Thiết bị văn phòng">Thiết bị văn phòng</option>
                                                <option value="Thiết bị hệ thống mạng">Thiết bị hệ thống mạng</option>
                                                <option value="Thiết bị viễn thông">Thiết bị viễn thông</option>
                                                <option value="An ninh kiểm soát">An ninh kiểm soát</option>

                                            </select>

                                        </div>

                                    </div><!--/ .table_cell -->

                                    <!-- - - - - - - - - - - - - - End of category filter - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Manufacturer - - - - - - - - - - - - - - - - -->

                                    <div class="table_cell">

                                        <fieldset>

                                            <legend>Nhà cung cấp</legend>

                                            <ul class="checkboxes_list">

                                                <li>
                                                    
                                                    <input type="checkbox" checked name="manufacturer" id="manufacturer_1">
                                                    <label for="manufacturer_1">Microsoft</label>

                                                </li>

                                                <li>
                                                    
                                                    <input type="checkbox" name="manufacturer" id="manufacturer_2">
                                                    <label for="manufacturer_2">HP</label>

                                                </li>

                                                <li>
                                                    
                                                    <input type="checkbox" name="manufacturer" id="manufacturer_3">
                                                    <label for="manufacturer_3">Apple</label>

                                                </li>
                                                
                                                <li>
                                                    
                                                    <input type="checkbox" name="manufacturer" id="manufacturer_3">
                                                    <label for="manufacturer_3">Kaspersky</label>

                                                </li>

                                            </ul>

                                        </fieldset>

                                    </div><!--/ .table_cell -->

                                    <!-- - - - - - - - - - - - - - End manufacturer - - - - - - - - - - - - - - - - -->

                                </div><!--/ .table_row -->

                            </div><!--/ .table_layout -->

                            <footer class="bottom_box">

                                <div class="buttons_row">

                                    <button type="submit" class="button_blue middle_btn">Tìm kiếm</button>

                                    <button type="reset" class="button_grey middle_btn filter_reset">Nhập lại</button>

                                </div>

                            </footer>

                        </form>

                    </section>

                    <!-- - - - - - - - - - - - - - End of filter - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

                    <div class="section_offset">

                        <a href="#" class="banner">
                            
                            <img src="images/box-win-10.jpg" alt="" width="243" height="262">

                        </a>

                    </div>

                    <!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Tags - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        <h3>Nhãn</h3>

                        <div class="tags_container">

                            <ul class="tags_cloud">
                                
                                <li><a href="#" class="button_grey">Thiết bị tin học</a></li>
                                <li><a href="#" class="button_grey">Thiết bị văn phòng</a></li>
                                <li><a href="#" class="button_grey">Thiết bị hệ thống mạng</a></li>
                                <li><a href="#" class="button_grey">Thiết bị viễn thông</a></li>
                                <li><a href="#" class="button_grey">An ninh kiểm soát</a></li>

                            </ul><!--/ .tags_cloud-->
                            
                        </div><!--/ .tags_container-->

                    </section>

                    <!-- - - - - - - - - - - - - - End of tags - - - - - - - - - - - - - - - - -->

                </aside>

                <main class="col-md-9 col-sm-8">

                    <section class="section_offset">

                        <h1><%= @category.title %></h1>

                        <p><%= @category.description %></p>

                    </section>

                    <!-- - - - - - - - - - - - - - Products - - - - - - - - - - - - - - - - -->

                    <div class="section_offset">

                        <header class="top_box on_the_sides">

                            <div class="left_side clearfix v_centered">

                                <!-- - - - - - - - - - - - - - Sort by - - - - - - - - - - - - - - - - -->

                                <div class="v_centered">

                                    <span>Sắp xếp theo:</span>

                                    <div class="custom_select sort_select">
                                        
                                        <select name="">
                                                
                                            <option value="Mặc định">Mặc định</option>
                                            <option value="Giá">Giá</option>
                                            <option value="Tên">Tên</option>
                                            <option value="Ngày">Ngày</option>

                                        </select>

                                    </div>

                                </div>

                                <!-- - - - - - - - - - - - - - End of sort by - - - - - - - - - - - - - - - - -->

                                <!-- - - - - - - - - - - - - - Number of products shown - - - - - - - - - - - - - - - - -->

                                <div class="v_centered">

                                    <span>Hiển thị:</span>

                                    <div class="custom_select">

                                        <select name="">

                                            <option value="15">15</option>
                                            <option value="12">12</option>
                                            <option value="9">9</option>
                                            <option value="6">6</option>
                                            <option value="3">3</option>
                                            

                                        </select>

                                    </div>

                                </div>

                                <!-- - - - - - - - - - - - - - End of number of products shown - - - - - - - - - - - - - - - - -->

                            </div>

                            <div class="right_side">

                                <!-- - - - - - - - - - - - - - Product layout type - - - - - - - - - - - - - - - - -->

                                <div class="layout_type buttons_row" data-table-container="#products_container">

                                    <a href="#" data-table-layout="grid_view" class="button_grey middle_btn icon_btn active tooltip_container"><i class="icon-th"></i><span class="tooltip top">Grid View</span></a>

                                </div>

                                <!-- - - - - - - - - - - - - - End of product layout type - - - - - - - - - - - - - - - - -->

                            </div>

                        </header>

                        <div class="table_layout" id="products_container">
                            
                            <div class="table_row">
                                
                                <% @products.each_with_index do |item,index| %>

                                    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
    
                                    <div class="table_cell">
    
                                        <div class="product_item">
    
                                            <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->
    
                                            <div class="image_wrap">
    
                                                <img src="images/product-lumia-950.jpg" alt="">
    
                                                <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
    
                                                <div class="actions_wrap">
    
                                                    <div class="centered_buttons">
    
                                                        <a href="#" class="button_blue middle_btn add_to_cart">Thêm vào giỏ hàng</a>
    
                                                    </div><!--/ .centered_buttons -->
    
                                                </div><!--/ .actions_wrap-->
                                                
                                                <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->
    
                                            </div><!--/. image_wrap-->
    
                                            <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->
    
                                            <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->
    
                                            <div class="description">
    
                                                <%= link_to item.name, {controller: "product", action: "index", id: item.id} %>
    
                                                <div class="clearfix product_info">
    
                                                    <p class="product_price alignleft"><b><%= number_with_delimiter item.product_price.price.to_i %> VNĐ</b></p>
    
                                                    <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->
    
                                                    <ul class="rating alignright">
    
                                                        <li class="active"></li>
                                                        <li class="active"></li>
                                                        <li class="active"></li>
                                                        <li class="active"></li>
                                                        <li></li>
    
                                                    </ul>
                                                    
                                                    <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->
    
                                                </div>
    
                                            </div>
    
                                            <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->
    
                                        </div><!--/ .product_item-->
    
                                    </div>
    
                                    <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->
                                
                                <%= "</div><div class=\"table_row\">".html_safe if index%3 == 2 %>
                                
                                <% end %>
                            
                            </div><!--/ .table_row -->

                        </div><!--/ .table_layout -->

                        <footer class="bottom_box on_the_sides">

                            <div class="left_side">

                                <p>Trang 1/3 (15/45 sản phẩm)</p>

                            </div>

                            <div class="right_side">

                                <ul class="pags">

                                    <li><a href="#"></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#"></a></li>

                                </ul>

                            </div>

                        </footer>

                    </div>

                    <!-- - - - - - - - - - - - - - End of products - - - - - - - - - - - - - - - - -->

                </main>

            </div><!--/ .row -->

        </div><!--/ .container-->

    </div><!--/ .page_wrapper-->
    
    <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

    <%= render 'blog/footer' %>
    
    <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

</div><!--/ [layout]-->

<!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

<%= render "home/social_feeds" %>

<!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->

<!-- Include Libs & Plugins
============================================ -->
<%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery-ui.min.js' %>
<%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
<%= javascript_include_tag '/frontend/js/jquery.countdown.plugin.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.countdown.min.js' %>
<%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
<%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
<%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
<%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
<%= javascript_include_tag '/frontend/js/retina.min.js' %>
<%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>

<!-- Theme files
============================================ -->
<%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
<%= javascript_include_tag '/frontend/js/theme.core.js' %>