<footer id="footer">

    <div class="container">

        <!-- - - - - - - - - - - - - - Infoblocks - - - - - - - - - - - - - - - - -->

        <div class="infoblocks_container">

            <ul class="infoblocks_wrap">
                
                
                <li>
                    <a href="#" class="infoblock type_1">

                        <i class="icon-thumbs-up-1"></i>
                        <span class="caption"><b>Sản phẩm đạt chất lượng</b></span>

                    </a><!--/ .infoblock-->
                </li>

                <li>
                    <a href="#" class="infoblock type_1">

                        <i class="icon-paper-plane"></i>
                        <span class="caption"><b>Giao hàng tận nơi &amp; nhanh chóng</b></span>

                    </a><!--/ .infoblock-->
                </li>

                <li>
                    <a href="#" class="infoblock type_1">

                        <i class="icon-lock"></i>
                        <span class="caption"><b>Đặt hàng an toàn &amp; bảo mật</b></span>

                    </a><!--/ .infoblock-->
                </li>

            </ul><!--/ .infoblocks_wrap.section_offset.clearfix-->

        </div><!--/ .infoblocks_container -->
            
        <!-- - - - - - - - - - - - - - End of infoblocks - - - - - - - - - - - - - - - - -->

    </div><!--/ .container -->

    <!-- - - - - - - - - - - - - - Footer section- - - - - - - - - - - - - - - - -->

    <div class="footer_section">

        <div class="container">

            <div class="row">

                <div class="col-md-3 col-sm-6">

                    <!-- - - - - - - - - - - - - - About us widget- - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4>Giới thiệu</h4>

                        <p class="about_us">Công Ty TNHH Giải Pháp Công Nghệ Thông Tin & Truyền Thông Hoàng Khang (Hoang Khang Incotech) xin gửi đến Quý khách hàng đã – đang và sẽ là niềm tự hào của công ty Hoàng Khang lời chúc sức khỏe và lời chào trân trọng.</p>

                        <!-- - - - - - - - - - - - - - Social icon's list - - - - - - - - - - - - - - - - -->

                        <ul class="social_btns">

                            <li>
                                <a href="#" class="icon_btn middle_btn social_facebook tooltip_container"><i class="icon-facebook-1"></i><span class="tooltip top">Facebook</span></a>
                            </li>

                            <li>
                                <a href="#" class="icon_btn middle_btn  social_twitter tooltip_container"><i class="icon-twitter"></i><span class="tooltip top">Twitter</span></a>
                            </li>

                            <li>
                                <a href="#" class="icon_btn middle_btn social_googleplus tooltip_container"><i class="icon-gplus-2"></i><span class="tooltip top">Google+</span></a>
                            </li>

                            <li>
                                <a href="#" class="icon_btn middle_btn social_youtube tooltip_container"><i class="icon-youtube"></i><span class="tooltip top">Youtube</span></a>
                            </li>

                        </ul>
                        
                        <!-- - - - - - - - - - - - - - End social icon's list - - - - - - - - - - - - - - - - -->

                    </section>
                    
                    <!-- - - - - - - - - - - - - - End of about us widget - - - - - - - - - - - - - - - - -->

                </div><!--/ [col]-->

                <div class="col-md-2 col-sm-6">

                    <!-- - - - - - - - - - - - - - Information widget - - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4>Thông tin</h4>

                        <ul class="list_of_links">

                            <li><%= link_to "Giới thiệu", {controller: "about_us", action: "index"} %></li>
                            <li><%= link_to "Tin tức", {controller: "blog", action: "index"} %></li>
                            <li><%= link_to "Đối tác", {controller: "manufacturer", action: "index"} %></li>
                            <li><%= link_to "Liên hệ", {controller: "contact", action: "index"} %></li>
                            
                        </ul>

                    </section><!--/ .widget-->
                    
                    <!-- - - - - - - - - - - - - - End of information widget - - - - - - - - - - - - - - - - -->
                
                </div><!--/ [col]-->

                <div class="col-md-2 col-sm-6">

                    <!-- - - - - - - - - - - - - - Extras widget - - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4>Danh mục</h4>

                        <ul class="list_of_links">

                            <% @menu.each do |item| %>
                            
                                <% if item.level == 1 %>
                                    
                                    <li><%= link_to item.title, {controller: "category_page", action: "index", category_id: item.id} %></li>

                                <% end %>
                            
                            <% end %>

                        </ul>

                    </section><!--/ .widget-->

                    <!-- - - - - - - - - - - - - - End of extras widget - - - - - - - - - - - - - - - - -->

                </div><!--/ [col]-->

                <div class="col-md-2 col-sm-6">

                    <!-- - - - - - - - - - - - - - My account widget - - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4>Đơn hàng</h4>

                        <ul class="list_of_links">

                            <li><%= link_to "Xem đơn hàng", {controller: "shopping_cart", action: "index"} %></li>
                            <li><%= link_to "Đặt hàng", {controller: "check_out", action: "index"} %></li>
                            <li><%= link_to "Nhận tin tức mới", {controller: "contact", action: "index"} %></li>

                        </ul>

                    </section><!--/ .widget-->

                    <!-- - - - - - - - - - - - - - End my account widget - - - - - - - - - - - - - - - - -->

                </div>

                <div class="col-md-3 col-sm-6">

                    <!-- - - - - - - - - - - - - - Blog widget - - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4>Tin tức mới</h4>

                        <ul class="list_of_entries">
                            
                            <% @new_blog_footer.each do |blog| %>
                            
                                <% if blog.tag.title != "Giới thiệu công ty" %>

                                    <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
        
                                    <li>
                                            
                                        <article class="entry">
                                            
                                            <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->
        
                                            <a href="#" class="entry_thumb">
        
                                                <img src="<%= blog.image_url.article_home if blog.image_url? %>" width="83" height="83" alt="">
        
                                            </a>
        
                                            <!-- - - - - - - - - - - - - - End of thumbnail - - - - - - - - - - - - - - - - -->
        
                                            <div class="wrapper">
        
                                                <h6 class="entry_title"><%= link_to blog.title, { controller: "blog_post", action: "index", id: blog.id } %></h6>
        
                                                <!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->
        
                                                <div class="entry_meta">
        
                                                    <span><i class="icon-calendar"></i> <%= blog.created_at.strftime("%d/%m/%Y") %></span>
        
                                                </div><!--/ .entry_meta-->
        
                                                <!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->
        
                                            </div><!--/ .wrapper-->
        
                                        </article><!--/ .clearfix-->
        
                                    </li>
        
                                    <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->
                            
                                <% end %>
                            
                            <% end %>
                            
                        </ul>

                    </section><!--/ .widget-->

                    <!-- - - - - - - - - - - - - - End of blog widget - - - - - - - - - - - - - - - - -->

                </div><!--/ [col]-->

            </div><!--/ .row-->

        </div><!--/ .container -->

    </div><!--/ .footer_section_2-->

    <!-- - - - - - - - - - - - - - End footer section- - - - - - - - - - - - - - - - -->

    <hr>

    <!-- - - - - - - - - - - - - - Footer section - - - - - - - - - - - - - - - - -->

    <div class="footer_section_3 align_center">

        <div class="container">

            <!-- - - - - - - - - - - - - - Footer navigation - - - - - - - - - - - - - - - - -->

            <nav class="footer_nav">

                <ul class="bottombar">
                    
                    <% @menu.each do |item| %>
                            
                        <% if item.level == 1 %>

                            <li><%= link_to item.title, {controller: "category_page", action: "index", category_id: item.id} %></li>

                        <% end %>
                    
                    <% end %>

                </ul>

            </nav>
            
            <!-- - - - - - - - - - - - - - End of footer navigation - - - - - - - - - - - - - - - - -->

            <p class="copyright">
                &copy; 2016 <%= link_to "Hoàng Khang Incotech", root_path %> - All Right Reserved<br/>
                Thiết kế bởi Hoàng Khang Incotech
            </p>

        </div><!--/ .container -->

    </div><!--/ .footer_section-->

    <!-- - - - - - - - - - - - - - End footer section - - - - - - - - - - - - - - - - -->

</footer>