<header id="header" class="type_6">

    <!-- - - - - - - - - - - - - - Top part - - - - - - - - - - - - - - - - -->

    <div class="top_part">

        <div class="container">

            <div class="row">

                <div class="col-lg-6 col-md-7 col-sm-8">

                    <!-- - - - - - - - - - - - - - Navigation of shop - - - - - - - - - - - - - - - - -->

                    <nav>

                        <ul class="topbar">

                            <li><%= link_to "Trang chủ", root_path %></li>
                            <li><%= link_to "Giới thiệu", { controller: "about_us", action: "index" } %></li>
                            <li><%= link_to "Tin tức", { controller: "blog", action: "index" } %></li>
                            <li><%= link_to "Nhãn hiệu phân phối", { controller: "manufacturer", action: "index" } %></li>
                            <li><%= link_to "Liên hệ", { controller: "contact", action: "index" } %></li>
                            
                        </ul>

                    </nav>

                    <!-- - - - - - - - - - - - - - End navigation of shop - - - - - - - - - - - - - - - - -->

                </div> <!--/ [col]-->

                <div class="col-lg-6 col-md-5 col-sm-4">

                    <div class="clearfix">

                        <!-- - - - - - - - - - - - - - Language change - - - - - - - - - - - - - - - - -->

                        <div class="alignright site_settings">

                            <img src="images/flag_vn.gif" alt="">Vietnam

                        </div><!--/ .alignright.site_settings-->

                        <!-- - - - - - - - - - - - - - End of language change - - - - - - - - - - - - - - - - -->
                        
                        <!-- - - - - - - - - - - - - - Currency change - - - - - - - - - - - - - - - - -->

                        <div class="alignright site_settings currency">

                            VND

                        </div><!--/ .alignright.site_settings.currency-->

                        <!-- - - - - - - - - - - - - - End of currency change - - - - - - - - - - - - - - - - -->

                    </div><!--/ .clearfix-->

                </div><!--/ [col]-->

            </div><!--/ .row-->

        </div><!--/ .container -->

    </div><!--/ .top_part -->
    
    <!-- - - - - - - - - - - - - - End of top part - - - - - - - - - - - - - - - - -->

    <hr>

    <!-- - - - - - - - - - - - - - Bottom part - - - - - - - - - - - - - - - - -->

    <div class="bottom_part">

        <div class="container">

            <div class="row">

                <div class="main_header_row">

                    <div class="col-sm-3">

                        <!-- - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - - -->

                        <a href="<%= root_path %>">

                            <img src="images/logo_HK.png" alt="">

                        </a>

                        <!-- - - - - - - - - - - - - - End of logo - - - - - - - - - - - - - - - - -->

                    </div><!--/ [col]-->

                    <div class="col-sm-3">

                        <!-- - - - - - - - - - - - - - Call to action - - - - - - - - - - - - - - - - -->

                        <div class="call_us">

                            <span>Gọi cho chúng tôi:</span> <b>(84-8) 3984 7690</b>

                        </div><!--/ .call_us-->

                        <!-- - - - - - - - - - - - - - End call to action - - - - - - - - - - - - - - - - -->

                    </div><!--/ [col]-->

                    <div class="col-sm-6">

                        <!-- - - - - - - - - - - - - - Search form - - - - - - - - - - - - - - - - -->

                        <%= form_tag({controller: "product_search", action: "index"}, method: "get", class: "clearfix search") do %>

                            <input type="text" name="search" tabindex="1" placeholder="Tìm kiếm..." class="alignleft">
                            
                            <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->

                            <div class="search_category alignleft">

                                <div class="">

                                    <select class="list_category" name="category_id">
                                        
                                        <option value="">Tất cả</option>
                                        
                                        <% @menu.each do |item| %>
                            
                                            <% if item.level == 1 %>
                                                
                                                <option value="<%= item.id %>"><%= item.title %></option>
                                            
                                            <% end %>
                                        
                                        <% end %>
                                    
                                    </select>

                                </div><!--/ .custom_select -->

                            </div><!--/ .search_category.alignleft-->

                            <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->

                            <button class="button_blue def_icon_btn alignleft"></button>

                        <% end %><!--/ #search-->
                        
                        <!-- - - - - - - - - - - - - - End search form - - - - - - - - - - - - - - - - -->

                    </div><!--/ [col]-->

                </div><!--/ .main_header_row-->

            </div><!--/ .row-->

        </div><!--/ .container-->

    </div><!--/ .bottom_part -->

    <!-- - - - - - - - - - - - - - End of bottom part - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Main navigation wrapper - - - - - - - - - - - - - - - - -->

    <div id="main_navigation_wrap">

        <div class="container">

            <div class="row">

                <div class="col-xs-12">

                    <!-- - - - - - - - - - - - - - Sticky container - - - - - - - - - - - - - - - - -->

                    <div class="sticky_inner type_2">

                        <!-- - - - - - - - - - - - - - Navigation item - - - - - - - - - - - - - - - - -->

                        <div class="nav_item size_4">

                            <button class="open_menu"></button>

                            <!-- - - - - - - - - - - - - - Main navigation - - - - - - - - - - - - - - - - -->

                            <ul class="theme_menu cats dropdown">
                                
                                <% @menu.each do |item| %>
                            
                                    <% if item.level == 1 %>

                                        <li class="has_megamenu animated_item">
        
                                            <%= link_to item.title, {:controller => "category_page", :action => "index", category_id: item.id } %>
        
                                            <!-- - - - - - - - - - - - - - Mega menu - - - - - - - - - - - - - - - - -->
        
                                            <div class="mega_menu clearfix">
                                                
                                                <% item.children.each do |child_1| %>
                                            
                                                    <% if child_1.level == 2 %>
        
                                                        <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->
                
                                                        <div class="mega_menu_item">
                                                        
                                                            <h6><b><%= child_1.title %></b></h6>
                                                    
                                                            <ul class="list_of_links">
                                                                
                                                                <% child_1.children.each do |child_2| %>
                                            
                                                                    <% if child_2.level == 3 %>
                                                                        
                                                                        <li><%= link_to child_2.title, {:controller => "category_page", :action => "index", category_id: child_2.id } %></a></li>
                                                                        
                                                                    <% end %>
                                                                
                                                                <% end %>
                
                                                            </ul>
                
                                                        </div><!--/ .mega_menu_item-->
                                                    
                                                    <% end %>
                                                
                                                <% end %>
                                                
                                            </div>
        
                                            <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->
        
                                        </li>
                                    
                                    <% end %>
                                
                                <% end %>
                                
                                <li class="has_megamenu animated_item"><a href="#" class="all"><b>Xem toàn bộ danh mục</b></a></li>

                            </ul>

                            <!-- - - - - - - - - - - - - - End of main navigation - - - - - - - - - - - - - - - - -->

                        </div><!--/ .nav_item-->

                        <!-- - - - - - - - - - - - - - End of navigation item - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Navigation item - - - - - - - - - - - - - - - - -->

                        <div class="nav_item">

                            <nav class="main_navigation">

                                <ul>

                                    <li><%= link_to "Trang chủ", root_path %></li>
                                    <li><%= link_to "Giỏ hàng", {controller: "shopping_cart", action: "index"} %></li>
                                    <li><%= link_to "Đặt hàng", {controller: "check_out", action: "index"} %></li>
                                    <li><%= link_to "Bài viết", {controller: "blog", action: "index"} %></li>
                                    <li><%= link_to "Đối tác", {controller: "manufacturer", action: "index"} %></li>
                                    <li><%= link_to "Liên hệ", {controller: "contact", action: "index"} %></li>

                                </ul>

                            </nav><!--/ .main_navigation-->

                        </div>

                        <!-- - - - - - - - - - - - - - End of navigation item - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Navigation item - - - - - - - - - - - - - - - - -->

                        <div class="nav_item size_3">

                            <button id="open_shopping_cart" class="open_button" data-amount="<%= @cart.line_items.count %>">
                                <b class="title">Giỏ hàng</b>
                                <b class="total_price"><%= number_with_delimiter @cart.total_order.to_i %></b>
                            </button>

                            <!-- - - - - - - - - - - - - - Products list - - - - - - - - - - - - - - - - -->

                            <div class="shopping_cart dropdown">

                                    <div class="animated_item">

                                        <p class="title">Các sản phẩm đã thêm vào giỏ hàng</p>


                                    </div><!--/ .animated_item-->
                                    
                                    <% @cart.line_items.each do |item| %>

                                        <div class="animated_item">
    
                                            <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
    
                                            <div class="clearfix sc_product">
                                                
                                                <%= link_to(image_tag(item.product.product_image.image, width: 60, height: 60), {controller: "product", action: "index", id: item.product_id}, class: "product_thumb") %>
    
                                                <%= link_to item.product.name, {controller: "product", action: "index", id: item.product_id}, class: "product_name" %>
    
                                                <p><%= item.quantity %> x <%= item.product.display_price %> VNĐ</p>
    
                                                <%= link_to "" , {controller: "shopping_cart", action: "index", do: 'remove_item', line_item_id: item.id }, {class: "close"}  %>
    
                                            </div><!--/ .clearfix.sc_product-->
                                            
                                            <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->
    
                                        </div><!--/ .animated_item-->
                                        
                                    <% end %>

                                    <div class="animated_item">

                                        <!-- - - - - - - - - - - - - - Total info - - - - - - - - - - - - - - - - -->

                                        <ul class="total_info">

                                            <li class="total"><b><span class="price">Tổng tiền:</span> <%= number_with_delimiter @cart.total_order.to_i %> VNĐ</b></li>

                                        </ul>
                                        
                                        <!-- - - - - - - - - - - - - - End of total info - - - - - - - - - - - - - - - - -->

                                    </div><!--/ .animated_item-->

                                    <div class="animated_item">

                                        <%= link_to "Giỏ hàng", {controller: "shopping_cart", action: "index"}, {class: "button_grey"} %>
  
                                        <%= link_to "Đặt hàng", {controller: "check_out", action: "index"}, {class: "button_blue"} %>
                                        
                                    </div><!--/ .animated_item-->

                                </div><!--/ .shopping_cart.dropdown-->
                            
                            <!-- - - - - - - - - - - - - - End of products list - - - - - - - - - - - - - - - - -->
                            
                        </div><!--/ .nav_item-->

                        <!-- - - - - - - - - - - - - - End of navigation item - - - - - - - - - - - - - - - - -->

                    </div><!--/ .sticky_inner -->

                    <!-- - - - - - - - - - - - - - End of sticky container - - - - - - - - - - - - - - - - -->

                </div><!--/ [col]-->

            </div><!--/ .row-->

        </div><!--/ .container-->

    </div><!--/ .main_navigation_wrap-->

    <!-- - - - - - - - - - - - - - End of main navigation wrapper - - - - - - - - - - - - - - - - -->

</header>