<main class="site-main blog-single">
    <div class="container">
        <ol class="breadcrumb-page">
            <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, root_path %></li>
            <li><%= link_to 'Tin Tức', blog_listing_path %></li>
            <li class="active"><%= link_to @blog.title, 'javascript:void(0)' %></li>
        </ol>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 float-none float-right">
                <div class="main-content">
                    <div class="post-detail">
                        <div class="post-item post-detail-item">
                            <div class="post-thumb">
                                <%= image_tag @blog.image_url.article_blog_post, alt: @blog.title %>
                            </div>
                            <div class="post-item-info">
                                <h1 class="post-name"><%= @blog.title %></h1>
                                <div class="post-metas">
                                    <span class="author">Đăng bởi: <span>Hoang Khang Incotech</span></span>
                                    <span class="news">Chuyên mục: <span>Tin Tức</span></span>
                                    <span class="time">Ngày đăng: <span><%= @blog.created_at.strftime("%d/%m/%Y") %></span></span>
                                </div>
                                <div class="post-content text-justify">
                                    <%= @blog.content.html_safe if @blog.content.present? %>
                                </div>
                            </div>
                        </div>
                        <!--<div class="post-footer">
                            <div class="tag">
                                <span>Nhãn:</span>
                                <a href="">Best,</a>
                                <a href="">Gaming,</a>
                                <a href="">Laptop</a>  
                            </div>
                        </div>-->
                    </div>                    
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="sidebar-left">
                    <%= render '/modules/information/left_sidebar' %>
                    <div class="block-latest-roducts">
                        <div class="block-title">SẢN PHẨM NỔI BẬT</div>
                        <div class="block-latest-roducts-content">
                            <div class="owl-carousel nav-style2" data-nav="true" data-autoplay="false" data-dots="false" data-loop="true" data-margin="0" data-responsive='{"0":{"items":1},"600":{"items":1},"1000":{"items":1}}'>
                                <%= render '/modules/product/hot_products' %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>