<!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

<div class="wide_layout">

    <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

    <%= render 'header' %>
    
    <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

    <div class="secondary_page_wrapper">

        <div class="container">

            <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

            <ul class="breadcrumbs">

                <li><a href="index.html">Trang chủ</a></li>
                <li>Tin công nghệ</li>

            </ul>

            <div class="row">

                <aside class="col-md-3 col-sm-4">

                    <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        <h3>Danh mục</h3>

                        <ul class="theme_menu">

                            <li><a href="#">Máy tính</a></li>
                            <li><a href="#">Laptop</a></li>
                            <li><a href="#">Điện thoại</a></li>
                            <li><a href="#">Thiết bị công nghệ</a></li>
                            <li><a href="#">Thiết bị kỹ thuật số</a></li>

                        </ul>

                    </section><!--/ .section_offset -->

                    <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Popular posts - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        <h3>Xem nhiều nhất</h3>

                        <ul class="list_of_entries">

                            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

                            <li>
                                    
                                <article class="entry">
                                    
                                    <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

                                    <a href="#" class="entry_thumb">

                                        <img src="images/product-iphone6s.jpg" alt="" width="83" height="83">

                                    </a>

                                    <!-- - - - - - - - - - - - - - End of thumbnail - - - - - - - - - - - - - - - - -->

                                    <div class="wrapper">

                                        <h6 class="entry_title"><a href="#">Tiêu đề tin tức</a></h6>

                                        <!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->

                                        <div class="entry_meta">

                                            <span><i class="icon-calendar"></i> 15-01-2016</span>

                                            <span><a href="#" class="comments"><i class="icon-comment"></i> 3</a></span>

                                        </div><!--/ .byline-->

                                        <!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->

                                    </div><!--/ .wrapper-->

                                </article><!--/ .clearfix-->

                            </li>

                            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

                            <li>
                                    
                                <article class="entry">
                                    
                                    <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

                                    <a href="#" class="entry_thumb">

                                        <img src="images/product-iphone6s.jpg" alt="" width="83" height="83">

                                    </a>

                                    <!-- - - - - - - - - - - - - - End of thumbnail - - - - - - - - - - - - - - - - -->

                                    <div class="wrapper">

                                        <h6 class="entry_title"><a href="#">Tiêu đề tin tức</a></h6>

                                        <!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->

                                        <div class="entry_meta">

                                            <span><i class="icon-calendar"></i> 15-01-2016</span>

                                            <span><a href="#" class="comments"><i class="icon-comment"></i> 3</a></span>

                                        </div><!--/ .byline-->

                                        <!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->

                                    </div><!--/ .wrapper-->

                                </article><!--/ .clearfix-->

                            </li>

                            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

                            <li>
                                    
                                <article class="entry">
                                    
                                    <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

                                    <a href="#" class="entry_thumb">

                                        <img src="images/product-iphone6s.jpg" alt="" width="83" height="83">

                                    </a>

                                    <!-- - - - - - - - - - - - - - End of thumbnail - - - - - - - - - - - - - - - - -->

                                    <div class="wrapper">

                                        <h6 class="entry_title"><a href="#">Tiêu đề tin tức</a></h6>

                                        <!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->

                                        <div class="entry_meta">

                                            <span><i class="icon-calendar"></i> 15-01-2016</span>

                                            <span><a href="#" class="comments"><i class="icon-comment"></i> 3</a></span>

                                        </div><!--/ .byline-->

                                        <!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->

                                    </div><!--/ .wrapper-->

                                </article><!--/ .clearfix-->

                            </li>

                            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                        </ul>

                    </section><!--/ .section_offset -->

                    <!-- - - - - - - - - - - - - - End of popular posts - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

                    <div class="section_offset">

                        <a href="#" class="banner">
                            
                            <img src="images/logo-company.jpg" alt="">

                        </a>

                    </div>

                    <!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Recent comments - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        <h3>Bình luận gần đây</h3>

                        <ul class="recentcomments_list">

                            <!-- - - - - - - - - - - - - - Comment - - - - - - - - - - - - - - - - -->

                            <li class="recentcomment">
                                
                                <div class="posted_by">Đăng bởi: <a href="#">Quản trị viên</a>:</div>

                                <a href="#">Tiêu đề bình luận...</a>

                                <p class="comment">Nội dung bình luận...</p>

                            </li>


                            <!-- - - - - - - - - - - - - - End of comment - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Comment - - - - - - - - - - - - - - - - -->

                            <li class="recentcomment">
                                
                                <div class="posted_by">Đăng bởi: <a href="#">Quản trị viên</a>:</div>

                                <a href="#">Tiêu đề bình luận...</a>

                                <p class="comment">Nội dung bình luận...</p>

                            </li>


                            <!-- - - - - - - - - - - - - - End of comment - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Comment - - - - - - - - - - - - - - - - -->

                            <li class="recentcomment">
                                
                                <div class="posted_by">Đăng bởi: <a href="#">Quản trị viên</a>:</div>

                                <a href="#">Tiêu đề bình luận...</a>

                                <p class="comment">Nội dung bình luận...</p>

                            </li>


                            <!-- - - - - - - - - - - - - - End of comment - - - - - - - - - - - - - - - - -->

                        </ul>

                    </section>

                    <!-- - - - - - - - - - - - - - End recent comments - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Blog Tags - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        <h3>Nhãn</h3>

                        <div class="tags_container">

                            <ul class="tags_cloud">
                                
                                <li><a href="#" class="button_grey">Thiết bị tin học</a></li>
                                <li><a href="#" class="button_grey">Thiết bị văn phòng</a></li>
                                <li><a href="#" class="button_grey">Thiết bị hệ thống mạng</a></li>
                                <li><a href="#" class="button_grey">Thiết bị viễn thông</a></li>
                                <li><a href="#" class="button_grey">An ninh kiểm soát</a></li>

                            </ul><!--/ .tags_cloud-->
                            
                        </div><!--/ .tags_container-->

                    </section>

                    <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

                    <div class="section_offset">

                        <a href="#" class="banner">
                            
                            <img src="images/banner_img_11.png" alt="">

                        </a>

                    </div>

                    <!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Community poll - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        <h3>Đánh giá</h3>

                        <div class="theme_box">

                            <p class="form_caption_2">Đánh giá nội dung của các bài viết?</p>

                            <form id="community_poll" class="type_2">

                                <ul>

                                    <li>

                                        <div class="form_el">
                                            <input type="radio" name="radio_1" id="radio_1" checked>
                                            <label for="radio_1">Good</label>
                                        </div>

                                    </li>

                                    <li>

                                        <div class="form_el">
                                            <input type="radio" name="radio_1" id="radio_2">
                                            <label for="radio_2">Medium</label>
                                        </div>

                                    </li>

                                    <li>

                                        <div class="form_el">
                                            <input type="radio" name="radio_1" id="radio_3">
                                            <label for="radio_3">Bad</label>
                                        </div>

                                    </li>

                                </ul>

                            </form>

                        </div>

                        <footer class="bottom_box">

                            <button form="community_poll" class="button_blue middle_btn">Đánh giá</button>

                        </footer>

                    </section>

                    <!-- - - - - - - - - - - - - - End of community poll - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

                    <div class="section_offset">

                        <a href="#" class="banner">
                            
                            <img src="images/banner_img_12.png" alt="">

                        </a>

                    </div>

                    <!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->

                </aside><!--/ [col]-->

                <main class="col-md-9 col-sm-8">

                    <h1>Tin công nghệ</h1>

                    <header class="top_box on_the_sides">

                        <div class="left_side v_centered">

                            <a href="#" class="middle_btn icon_btn social_rss tooltip_container"><i class="icon-rss"></i><span class="tooltip top">RSS</span></a>

                            <!-- - - - - - - - - - - - - - Blog layout type - - - - - - - - - - - - - - - - -->

                            <div class="layout_type buttons_row" data-table-container="#main_blog_list">

                                <a href="#" data-table-layout="grid_view" class="button_grey middle_btn icon_btn tooltip_container"><i class="icon-th"></i><span class="tooltip top">Grid View</span></a>

                                <a href="#" data-table-layout="list_view" class="button_grey middle_btn icon_btn active tooltip_container"><i class="icon-th-list"></i><span class="tooltip top">List View</span></a>

                            </div>

                            <!-- - - - - - - - - - - - - - End of blog layout type - - - - - - - - - - - - - - - - -->

                            <p>Trang 1/3(6/15 bài viết)</p>

                        </div>

                        <div class="right_side">

                            <ul class="pags">

                                <li><a href="#"></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"></a></li>

                            </ul>

                        </div>

                    </header>

                    <!-- - - - - - - - - - - - - - List of entries - - - - - - - - - - - - - - - - -->

                    <ul id="main_blog_list" class="list_of_entries list_view">

                        <li>

                            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
                            
                            <article class="entry">

                                <!-- - - - - - - - - - - - - - Entry image - - - - - - - - - - - - - - - - -->

                                <a href="#" class="thumbnail entry_image">
                                    
                                    <img src="images/blog_img_4.jpg" alt="">

                                </a>

                                <!-- - - - - - - - - - - - - - End of entry image - - - - - - - - - - - - - - - - -->

                                <h4 class="entry_title"><a href="#">Tiêu đề tin tức</a></h4>

                                <!-- - - - - - - - - - - - - - Entry meta - - - - - - - - - - - - - - - - -->

                                <div class="entry_meta">

                                    <div class="alignleft">

                                        <span><i class="icon-calendar"></i> 15-01-2016 11:15</span>

                                        <span><a href="#" class="comments"><i class="icon-comment"></i> 3</a></span>

                                        <span><i class="icon-user-8"></i> đăng bởi <a href="#">Quản trị viên</a></span>

                                        <span><i class="icon-folder-open-empty-1"></i> <a href="#">Laptop</a></span>

                                    </div>

                                    <div class="alignright">

                                        Đánh giá

                                        <!-- - - - - - - - - - - - - - Entry rating - - - - - - - - - - - - - - - - -->

                                        <ul class="rating">

                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li></li>
                                            <li></li>

                                        </ul>
                                        
                                        <!-- - - - - - - - - - - - - - End of entry rating - - - - - - - - - - - - - - - - -->

                                        (17 bình chọn)

                                    </div>

                                </div><!--/ .byline-->

                                <!-- - - - - - - - - - - - - - End of entry meta - - - - - - - - - - - - - - - - -->

                                <p>Nội dung bài viết</p>

                                <a href="#" class="button_grey middle_btn">Xem tiếp</a>

                            </article>

                            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                        </li>

                        <li>

                            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
                            
                            <article class="entry">

                                <!-- - - - - - - - - - - - - - Entry image - - - - - - - - - - - - - - - - -->

                                <a href="#" class="thumbnail entry_image">
                                    
                                    <img src="images/blog_img_4.jpg" alt="">

                                </a>

                                <!-- - - - - - - - - - - - - - End of entry image - - - - - - - - - - - - - - - - -->

                                <h4 class="entry_title"><a href="#">Tiêu đề tin tức</a></h4>

                                <!-- - - - - - - - - - - - - - Entry meta - - - - - - - - - - - - - - - - -->

                                <div class="entry_meta">

                                    <div class="alignleft">

                                        <span><i class="icon-calendar"></i> 15-01-2016 11:15</span>

                                        <span><a href="#" class="comments"><i class="icon-comment"></i> 3</a></span>

                                        <span><i class="icon-user-8"></i> đăng bởi <a href="#">Quản trị viên</a></span>

                                        <span><i class="icon-folder-open-empty-1"></i> <a href="#">Laptop</a></span>

                                    </div>

                                    <div class="alignright">

                                        Đánh giá

                                        <!-- - - - - - - - - - - - - - Entry rating - - - - - - - - - - - - - - - - -->

                                        <ul class="rating">

                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li></li>
                                            <li></li>

                                        </ul>
                                        
                                        <!-- - - - - - - - - - - - - - End of entry rating - - - - - - - - - - - - - - - - -->

                                        (17 bình chọn)

                                    </div>

                                </div><!--/ .byline-->

                                <!-- - - - - - - - - - - - - - End of entry meta - - - - - - - - - - - - - - - - -->

                                <p>Nội dung bài viết</p>

                                <a href="#" class="button_grey middle_btn">Xem tiếp</a>

                            </article>

                            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                        </li>

                        <li>

                            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
                            
                            <article class="entry">

                                <!-- - - - - - - - - - - - - - Entry image - - - - - - - - - - - - - - - - -->

                                <a href="#" class="thumbnail entry_image">
                                    
                                    <img src="images/blog_img_4.jpg" alt="">

                                </a>

                                <!-- - - - - - - - - - - - - - End of entry image - - - - - - - - - - - - - - - - -->

                                <h4 class="entry_title"><a href="#">Tiêu đề tin tức</a></h4>

                                <!-- - - - - - - - - - - - - - Entry meta - - - - - - - - - - - - - - - - -->

                                <div class="entry_meta">

                                    <div class="alignleft">

                                        <span><i class="icon-calendar"></i> 15-01-2016 11:15</span>

                                        <span><a href="#" class="comments"><i class="icon-comment"></i> 3</a></span>

                                        <span><i class="icon-user-8"></i> đăng bởi <a href="#">Quản trị viên</a></span>

                                        <span><i class="icon-folder-open-empty-1"></i> <a href="#">Laptop</a></span>

                                    </div>

                                    <div class="alignright">

                                        Đánh giá

                                        <!-- - - - - - - - - - - - - - Entry rating - - - - - - - - - - - - - - - - -->

                                        <ul class="rating">

                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li></li>
                                            <li></li>

                                        </ul>
                                        
                                        <!-- - - - - - - - - - - - - - End of entry rating - - - - - - - - - - - - - - - - -->

                                        (17 bình chọn)

                                    </div>

                                </div><!--/ .byline-->

                                <!-- - - - - - - - - - - - - - End of entry meta - - - - - - - - - - - - - - - - -->

                                <p>Nội dung bài viết</p>

                                <a href="#" class="button_grey middle_btn">Xem tiếp</a>

                            </article>

                            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                        </li>

                        <li>

                            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
                            
                            <article class="entry">

                                <!-- - - - - - - - - - - - - - Entry image - - - - - - - - - - - - - - - - -->

                                <a href="#" class="thumbnail entry_image">
                                    
                                    <img src="images/blog_img_4.jpg" alt="">

                                </a>

                                <!-- - - - - - - - - - - - - - End of entry image - - - - - - - - - - - - - - - - -->

                                <h4 class="entry_title"><a href="#">Tiêu đề tin tức</a></h4>

                                <!-- - - - - - - - - - - - - - Entry meta - - - - - - - - - - - - - - - - -->

                                <div class="entry_meta">

                                    <div class="alignleft">

                                        <span><i class="icon-calendar"></i> 15-01-2016 11:15</span>

                                        <span><a href="#" class="comments"><i class="icon-comment"></i> 3</a></span>

                                        <span><i class="icon-user-8"></i> đăng bởi <a href="#">Quản trị viên</a></span>

                                        <span><i class="icon-folder-open-empty-1"></i> <a href="#">Laptop</a></span>

                                    </div>

                                    <div class="alignright">

                                        Đánh giá

                                        <!-- - - - - - - - - - - - - - Entry rating - - - - - - - - - - - - - - - - -->

                                        <ul class="rating">

                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li></li>
                                            <li></li>

                                        </ul>
                                        
                                        <!-- - - - - - - - - - - - - - End of entry rating - - - - - - - - - - - - - - - - -->

                                        (17 bình chọn)

                                    </div>

                                </div><!--/ .byline-->

                                <!-- - - - - - - - - - - - - - End of entry meta - - - - - - - - - - - - - - - - -->

                                <p>Nội dung bài viết</p>

                                <a href="#" class="button_grey middle_btn">Xem tiếp</a>

                            </article>

                            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                        </li>
                        
                        <li>

                            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
                            
                            <article class="entry">

                                <!-- - - - - - - - - - - - - - Entry image - - - - - - - - - - - - - - - - -->

                                <a href="#" class="thumbnail entry_image">
                                    
                                    <img src="images/blog_img_4.jpg" alt="">

                                </a>

                                <!-- - - - - - - - - - - - - - End of entry image - - - - - - - - - - - - - - - - -->

                                <h4 class="entry_title"><a href="#">Tiêu đề tin tức</a></h4>

                                <!-- - - - - - - - - - - - - - Entry meta - - - - - - - - - - - - - - - - -->

                                <div class="entry_meta">

                                    <div class="alignleft">

                                        <span><i class="icon-calendar"></i> 15-01-2016 11:15</span>

                                        <span><a href="#" class="comments"><i class="icon-comment"></i> 3</a></span>

                                        <span><i class="icon-user-8"></i> đăng bởi <a href="#">Quản trị viên</a></span>

                                        <span><i class="icon-folder-open-empty-1"></i> <a href="#">Laptop</a></span>

                                    </div>

                                    <div class="alignright">

                                        Đánh giá

                                        <!-- - - - - - - - - - - - - - Entry rating - - - - - - - - - - - - - - - - -->

                                        <ul class="rating">

                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li></li>
                                            <li></li>

                                        </ul>
                                        
                                        <!-- - - - - - - - - - - - - - End of entry rating - - - - - - - - - - - - - - - - -->

                                        (17 bình chọn)

                                    </div>

                                </div><!--/ .byline-->

                                <!-- - - - - - - - - - - - - - End of entry meta - - - - - - - - - - - - - - - - -->

                                <p>Nội dung bài viết</p>

                                <a href="#" class="button_grey middle_btn">Xem tiếp</a>

                            </article>

                            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                        </li>
                        
                        <li>

                            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
                            
                            <article class="entry">

                                <!-- - - - - - - - - - - - - - Entry image - - - - - - - - - - - - - - - - -->

                                <a href="#" class="thumbnail entry_image">
                                    
                                    <img src="images/blog_img_4.jpg" alt="">

                                </a>

                                <!-- - - - - - - - - - - - - - End of entry image - - - - - - - - - - - - - - - - -->

                                <h4 class="entry_title"><a href="#">Tiêu đề tin tức</a></h4>

                                <!-- - - - - - - - - - - - - - Entry meta - - - - - - - - - - - - - - - - -->

                                <div class="entry_meta">

                                    <div class="alignleft">

                                        <span><i class="icon-calendar"></i> 15-01-2016 11:15</span>

                                        <span><a href="#" class="comments"><i class="icon-comment"></i> 3</a></span>

                                        <span><i class="icon-user-8"></i> đăng bởi <a href="#">Quản trị viên</a></span>

                                        <span><i class="icon-folder-open-empty-1"></i> <a href="#">Laptop</a></span>

                                    </div>

                                    <div class="alignright">

                                        Đánh giá

                                        <!-- - - - - - - - - - - - - - Entry rating - - - - - - - - - - - - - - - - -->

                                        <ul class="rating">

                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li></li>
                                            <li></li>

                                        </ul>
                                        
                                        <!-- - - - - - - - - - - - - - End of entry rating - - - - - - - - - - - - - - - - -->

                                        (17 bình chọn)

                                    </div>

                                </div><!--/ .byline-->

                                <!-- - - - - - - - - - - - - - End of entry meta - - - - - - - - - - - - - - - - -->

                                <p>Nội dung bài viết</p>

                                <a href="#" class="button_grey middle_btn">Xem tiếp</a>

                            </article>

                            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                        </li>
                        
                        <li>

                            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
                            
                            <article class="entry">

                                <!-- - - - - - - - - - - - - - Entry image - - - - - - - - - - - - - - - - -->

                                <a href="#" class="thumbnail entry_image">
                                    
                                    <img src="images/blog_img_4.jpg" alt="">

                                </a>

                                <!-- - - - - - - - - - - - - - End of entry image - - - - - - - - - - - - - - - - -->

                                <h4 class="entry_title"><a href="#">Tiêu đề tin tức</a></h4>

                                <!-- - - - - - - - - - - - - - Entry meta - - - - - - - - - - - - - - - - -->

                                <div class="entry_meta">

                                    <div class="alignleft">

                                        <span><i class="icon-calendar"></i> 15-01-2016 11:15</span>

                                        <span><a href="#" class="comments"><i class="icon-comment"></i> 3</a></span>

                                        <span><i class="icon-user-8"></i> đăng bởi <a href="#">Quản trị viên</a></span>

                                        <span><i class="icon-folder-open-empty-1"></i> <a href="#">Laptop</a></span>

                                    </div>

                                    <div class="alignright">

                                        Đánh giá

                                        <!-- - - - - - - - - - - - - - Entry rating - - - - - - - - - - - - - - - - -->

                                        <ul class="rating">

                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li></li>
                                            <li></li>

                                        </ul>
                                        
                                        <!-- - - - - - - - - - - - - - End of entry rating - - - - - - - - - - - - - - - - -->

                                        (17 bình chọn)

                                    </div>

                                </div><!--/ .byline-->

                                <!-- - - - - - - - - - - - - - End of entry meta - - - - - - - - - - - - - - - - -->

                                <p>Nội dung bài viết</p>

                                <a href="#" class="button_grey middle_btn">Xem tiếp</a>

                            </article>

                            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                        </li>
                        
                        <li>

                            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
                            
                            <article class="entry">

                                <!-- - - - - - - - - - - - - - Entry image - - - - - - - - - - - - - - - - -->

                                <a href="#" class="thumbnail entry_image">
                                    
                                    <img src="images/blog_img_4.jpg" alt="">

                                </a>

                                <!-- - - - - - - - - - - - - - End of entry image - - - - - - - - - - - - - - - - -->

                                <h4 class="entry_title"><a href="#">Tiêu đề tin tức</a></h4>

                                <!-- - - - - - - - - - - - - - Entry meta - - - - - - - - - - - - - - - - -->

                                <div class="entry_meta">

                                    <div class="alignleft">

                                        <span><i class="icon-calendar"></i> 15-01-2016 11:15</span>

                                        <span><a href="#" class="comments"><i class="icon-comment"></i> 3</a></span>

                                        <span><i class="icon-user-8"></i> đăng bởi <a href="#">Quản trị viên</a></span>

                                        <span><i class="icon-folder-open-empty-1"></i> <a href="#">Laptop</a></span>

                                    </div>

                                    <div class="alignright">

                                        Đánh giá

                                        <!-- - - - - - - - - - - - - - Entry rating - - - - - - - - - - - - - - - - -->

                                        <ul class="rating">

                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li></li>
                                            <li></li>

                                        </ul>
                                        
                                        <!-- - - - - - - - - - - - - - End of entry rating - - - - - - - - - - - - - - - - -->

                                        (17 bình chọn)

                                    </div>

                                </div><!--/ .byline-->

                                <!-- - - - - - - - - - - - - - End of entry meta - - - - - - - - - - - - - - - - -->

                                <p>Nội dung bài viết</p>

                                <a href="#" class="button_grey middle_btn">Xem tiếp</a>

                            </article>

                            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                        </li>
                        
                        <li>

                            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
                            
                            <article class="entry">

                                <!-- - - - - - - - - - - - - - Entry image - - - - - - - - - - - - - - - - -->

                                <a href="#" class="thumbnail entry_image">
                                    
                                    <img src="images/blog_img_4.jpg" alt="">

                                </a>

                                <!-- - - - - - - - - - - - - - End of entry image - - - - - - - - - - - - - - - - -->

                                <h4 class="entry_title"><a href="#">Tiêu đề tin tức</a></h4>

                                <!-- - - - - - - - - - - - - - Entry meta - - - - - - - - - - - - - - - - -->

                                <div class="entry_meta">

                                    <div class="alignleft">

                                        <span><i class="icon-calendar"></i> 15-01-2016 11:15</span>

                                        <span><a href="#" class="comments"><i class="icon-comment"></i> 3</a></span>

                                        <span><i class="icon-user-8"></i> đăng bởi <a href="#">Quản trị viên</a></span>

                                        <span><i class="icon-folder-open-empty-1"></i> <a href="#">Laptop</a></span>

                                    </div>

                                    <div class="alignright">

                                        Đánh giá

                                        <!-- - - - - - - - - - - - - - Entry rating - - - - - - - - - - - - - - - - -->

                                        <ul class="rating">

                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li></li>
                                            <li></li>

                                        </ul>
                                        
                                        <!-- - - - - - - - - - - - - - End of entry rating - - - - - - - - - - - - - - - - -->

                                        (17 bình chọn)

                                    </div>

                                </div><!--/ .byline-->

                                <!-- - - - - - - - - - - - - - End of entry meta - - - - - - - - - - - - - - - - -->

                                <p>Nội dung bài viết</p>

                                <a href="#" class="button_grey middle_btn">Xem tiếp</a>

                            </article>

                            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                        </li>

                    </ul>

                    <!-- - - - - - - - - - - - - - End of list of entries - - - - - - - - - - - - - - - - -->

                    <footer class="bottom_box on_the_sides">

                        <div class="left_side">

                            <p>Trang 1/3 (6/15 bài viết)</p>

                        </div>

                        <div class="right_side">

                            <ul class="pags">

                                <li><a href="#"></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"></a></li>

                            </ul>

                        </div>

                    </footer>


                </main><!--/ [col]-->

            </div><!--/ .row-->

        </div><!--/ .container-->

    </div><!--/ .page_wrapper-->
    
    <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

    <%= render 'footer' %>
    
    <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

</div><!--/ [layout]-->

<!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->


<!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->

<!-- Include Libs & Plugins
============================================ -->
<%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
<%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
<%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
<%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
<%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
<%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
<%= javascript_include_tag '/frontend/js/retina.min.js' %>
<%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>

<!-- Theme files
============================================ -->
<%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
<%= javascript_include_tag '/frontend/js/theme.core.js' %>