<main class="site-main blog-grid">
    <div class="container">
        <ol class="breadcrumb-page">
            <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, root_path %></li>
            <li class="active"><%= link_to 'Tin Tức', 'javascript:void(0)' %></li>
        </ol>
    </div>
    <div class="container">
        <div class="row">
            <div class="float-none float-right">
                <div class="main-content">            
                    <div class="post-grid post-items">
                        <% @blogs.each do |blog| %>
                        <div class="post-grid-item col-md-6">
                            <div class="post-item">
                                <div class="post-thumb">
                                    <% if blog.image_url? %>
                                        <%= link_to image_tag(blog.image_url.article_blog, size: '550x280', alt: blog.title),
                                            blog_detail_path(id: blog.id, title: url_friendly(strip_tags(blog.title))), title: blog.title %>
                                    <% end %>
                                    <span class="date">
                                        <%= blog.created_at.strftime("%d") %>
                                        <span><%= blog.created_at.strftime("%b") %></span>
                                    </span>
                                </div>
                                <div class="post-item-info">
                                    <h3 class="post-name">
                                        <%= link_to truncate(blog.title, length: 45),
                                            blog_detail_path(id: blog.id, title: url_friendly(strip_tags(blog.title))), title: blog.title %></h3>
                                    <div class="post-metas">
                                        <span class="author">Đăng bởi: <span>Hoang Khang Incotech</span></span>
                                        <span class="news">Chuyên mục: <span>Tin Tức</span></span>
                                        <span class="news">Ngày đăng: <span> <%= blog.created_at.strftime("%m-%d-%Y") %></span></span>
                                    </div>
                                    <div class="post-content">
                                        <% if blog.short_description.present? %>
                                            <p class="text-justify">
                                                <%= truncate(strip_tags(blog.short_description.html_safe), length: 130) %>
                                            </p>
                                        <% end %>
                                        <%= link_to 'Xem chi tiết', blog_detail_path(id: blog.id, title: url_friendly(strip_tags(blog.title))),
                                            title: 'Xem chi tiết', class: 'read-more' %>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <% end %>
                    </div>
                    <div class="post-grid pagination">
                        <%= will_paginate @blogs, previous_label: 'Trang trước', next_label: 'Trang sau', renderer: BootstrapPagination::Rails %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>