<main class="site-main contact-us">
    <div class="container">
        <ol class="breadcrumb-page">
            <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, root_path %></li>
            <li class="active"><%= link_to 'Liên Hệ', 'javascript:void(0)' %></li>
        </ol>
    </div>

    <div class="container">
        <div class="row">
            <%= form_for @message, url: admin_messages_path,html: {class: "form-contact"} do |f| %>
            <form class="form-contact" action="#" method="post">
                <div class="col-md-5">
                    <div class="contact-info">
                        <h5 class="title-contact">Gửi lời nhắn cho chúng tôi</h5>
                        <p class="form-row form-row-wide">
                            <label>Họ & Tên <span class="required">*</span></label>
                            <%= f.text_field :name, placeholder: 'Vui lòng nhập họ & tên.....', required: true, class: 'input-text required' %>
                        </p>
                        <p class="form-row form-row-wide">
                            <label>Địa chỉ email <span class="required">*</span></label>
                            <%= f.email_field :email, placeholder: 'Vui lòng nhập địa chỉ email.....', required: true, class: 'input-text required' %>                            
                        </p>
                        <p class="form-row form-row-wide">
                            <label>Số điện thoại </label>
                            <%= f.telephone_field :phone, placeholder: 'Vui lòng nhập số điện thoại.....', required: true, class: 'input-text required' %>                            
                        </p>
                            <p class="form-row form-row-wide form-text">
                            <label>Nội dung lời nhắn <span class="required">*</span></label>
                            <%= f.text_area :messages, placeholder: 'Vui lòng nhập nội dung lời nhắn hoặc nội dung góp ý tại đây.....', rows: '6', cols: '40', required: true, class: 'textarea-control required' %>                            
                        </p>
                        <p class="form-row btn-submit">
                            <input type="submit" value="Gửi lời nhắn" name="Gửi lời nhắn" class="button-submit">
                        </p>
                    </div>
                </div>
            <% end %>
            <div class="col-md-4 contact-detail">
                <h5 class="title-contact">Thông tin công ty</h5>
                <div class="contacts-info ">
                    <div class="contact-icon"><i class="fa fa-home" aria-hidden="true"></i></div>
                    <h4 class="title-info">Tên công ty</h4>
                    <div class="info-detail">Chi Nhánh Công Ty TNHH Giải Pháp CNTT và TT Hoàng Khang</div>
                </div>
                <div class="contacts-info ">
                    <div class="contact-icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
                    <h4 class="title-info">Địa chỉ</h4>
                    <div class="info-detail">188 Đường Số 1, Phường 16, Quận Gò Vấp, TP. Hồ Chí Minh, Việt Nam</div>
                </div>
                <div class="contacts-info ">
                    <div class="contact-icon"><i class="fa fa-barcode" aria-hidden="true"></i></div>
                    <h4 class="title-info">Mã số thuế</h4>
                    <div class="info-detail">0306146736-001</div>
                </div>
                <div class="contacts-info ">
                    <div class="contact-icon"><i class="fa fa-user-md" aria-hidden="true"></i></div>
                    <h4 class="title-info">Đơn vị chủ quản</h4>
                    <div class="info-detail">Công Ty TNHH Giải Pháp CNTT và TT Hoàng Khang (Hoang Khang Incotech)</div>
                </div>
                <div class="contacts-info ">
                    <div class="contact-icon"><i class="fa fa-trademark" aria-hidden="true"></i></div>
                    <h4 class="title-info">GPĐKKD</h4>
                    <div class="info-detail">GPĐKKD số 0306146736 do Sở KH&ĐT TPHCM cấp lần đầu ngày 06/08/2008</div>
                </div>
            </div>
            <div class="col-md-3 contact-detail">
                <h5 class="title-contact">Thông tin liên hệ</h5>
                <div class="contacts-info ">
                    <div class="contact-icon"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></div>
                    <h4 class="title-info">Email</h4>
                    <div class="info-detail"><%= mail_to 'kinhdoanh@hoangkhang.com.vn', 'kinhdoanh@hoangkhang.com.vn', title: '' %></div>
                </div>
                <div class="contacts-info ">
                    <div class="contact-icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <h4 class="title-info">Số điện thoại</h4>
                    <div class="info-detail"><%= link_to '(028) 3984 7690', 'tel:02839847690', title: '(028) 3984 7690' %></div>
                </div>
                <div class="contacts-info ">
                    <div class="contact-icon"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></div>
                    <h4 class="title-info">Hotline</h4>
                    <div class="info-detail"><%= link_to '(028) 2212 9454', 'tel:02822129454', title: '(028) 2212 9454' %> (Giờ hành chính)</div>
                </div>
                <div class="contacts-info ">
                    <div class="contact-icon"><i class="fa fa-fax" aria-hidden="true"></i></div>
                    <h4 class="title-info">Fax</h4>
                    <div class="info-detail">(028) 3984 7691</div>
                </div>
                <div class="contacts-info ">
                    <div class="contact-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                    <h4 class="title-info">Giờ làm việc</h4>
                    <div class="info-detail">Thứ 2 ~ Thứ 6: 7h30 - 17h00<br>Thứ 7: 7h30 - 12h00<br>Chủ nhật, Ngày lễ: Không làm việc</div>
                </div>
            </div>            
        </div>
        <div class="contact-map full-width">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1647.536813070871!2d106.65680766869292!3d10.847616221686392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529bc96bc2e27%3A0xff03fd6f844429f1!2sHoang+Khang+Incotech!5e0!3m2!1svi!2s!4v1510543693295" width="1366" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</main>