<!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

<div class="wide_layout">

    <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

    <%= render 'blog/header' %>
    
    <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

    <div class="secondary_page_wrapper">

        <div class="container">

            <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

            <ul class="breadcrumbs">

                <li><%= link_to "Trang chủ", root_path %></li>
                <li>Liên hệ</li>

            </ul>

            <div class="row">

                <aside class="col-md-3 col-sm-4">

                    <!-- - - - - - - - - - - - - - Information - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        <h3>Thông tin</h3>

                        <ul class="theme_menu">

                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Thông tin giao hàng</a></li>
                            <li><a href="#">Chính sách riêng tư</a></li>
                            <li><a href="#">Điều khoản &amp; Các điều kiện</a></li>
                            <li><a href="#">Liên hệ</a></li>
                            <li><a href="#">Hỏi đáp</a></li>
                            <li><a href="#">Sơ đồ website</a></li>

                        </ul>

                    </section><!--/ .section_offset -->

                    <!-- - - - - - - - - - - - - - End of information - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

                    <div class="section_offset">

                        <a href="#" class="banner">
                            
                            <img src="images/logo-company.jpg" alt="">

                        </a>

                    </div>

                    <!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Sign Up to Our Newsletter - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        <h3>Đăng ký nhận tin mới</h3>

                        <div class="theme_box">

                            <p class="form_caption">Đăng ký email để nhận được những tin tức về những sản phẩm mới..</p>
                            
                            <%= form_for @newsletter, url: admin_newsletters_path,html: {class: 'newsletter subscribe clearfix'} do |f| %>
    
                                <%= f.email_field :email, placeholder: 'Nhập email của bạn...', required: true %>
                                
                                <button class="button_blue def_icon_btn" type="submit"></button>
    
                            <% end %>

                        </div><!--/ .theme_box-->

                    </section>

                    <!-- - - - - - - - - - - - - - End of Sign Up to Our Newsletter - - - - - - - - - - - - - - - - -->

                </aside><!--/ [col]-->

                <main class="col-md-9 col-sm-8">

                    <h1 class="page_title">Liên hệ</h1>

                    <section class="section_offset">
                        
                        <h3>Giao diện nhập liên hệ</h3>

                        <div class="theme_box">

                            <!-- - - - - - - - - - - - - - Contact form - - - - - - - - - - - - - - - - -->
                            
                            <%= form_for @message, url: admin_messages_path,html: {class: "contactform type_2"} do |f| %>

                                <ul>
                                
                                    <li class="row">

                                        <div class="col-sm-6">
                                        
                                            <label for="cf_name" class="required">Họ & Tên</label>
                                            <%= f.text_field :name, placeholder: 'Họ & Tên (Bắt buộc)', required: true %>

                                        </div><!--/ [col]-->

                                        <div class="col-sm-6">

                                            <label for="cf_email" class="required">Số điện thoại</label>
                                            <%= f.telephone_field :phone, placeholder: 'Số điện thoại (Bắt buộc)', required: true %>

                                        </div><!--/ [col]-->

                                    </li><!--/ .row -->

                                    <li class="row">

                                        <div class="col-xs-12">

                                            <label for="cf_order_number">Địa chỉ email</label>
                                            <%= f.email_field :email, placeholder: 'Địa chỉ email' %>

                                        </div><!--/ [col]-->

                                    </li><!--/ .row -->

                                    <li class="row">

                                        <div class="col-xs-12">

                                            <label for="cf_message" class="required">Lời nhắn</label>
                                            <%= f.text_area :messages, placeholder: 'Lời nhắn (Bắt buộc)', rows: '6', required: true %>

                                        </div><!--/ [col]-->

                                    </li><!--/ .row -->

                                </ul>
                                
                                <footer class="bottom_box on_the_sides">

                                    <div class="left_side">
                                        
                                        <%= f.submit 'Gửi liên hệ', class: 'button_dark_grey middle_btn' %>
        
                                    </div>
        
                                    <div class="right_side">
        
                                        <p class="prompt">Bắt buộc nhập</p>
        
                                    </div>
        
                                </footer>

                            <% end %>

                            <!-- - - - - - - - - - - - - - End of contact form - - - - - - - - - - - - - - - - -->

                        </div><!--/ .theme_box -->

                    </section>

                    <section class="section_offset">

                        <h3>Thông tin công ty</h3>

                        <div class="theme_box">

                            <div class="row">

                                <div class="col-sm-5">

                                    <div class="proportional_frame">

                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979.6314333279466!2d106.65737582916685!3d10.847560316658372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTDCsDUwJzUxLjIiTiAxMDbCsDM5JzI4LjUiRQ!5e0!3m2!1svi!2s!4v1452314397801" style="border:0" allowfullscreen></iframe>

                                    </div>

                                </div><!--/ [col]-->

                                <div class="col-sm-7">

                                    <p class="form_caption c_info_building"></li><%= @company_info.name %></p>

                                    <ul class="c_info_list">

                                        <li class="c_info_location"><%= @company_info.address %></li>
                                        <li class="c_info_phone"><%= @company_info.phone %></li>
                                        <li class="c_info_mail"><a href="mailto:#"><%= @company_info.email %></a></li>
                                        <li class="c_info_schedule">

                                            <ul>

                                                <li>Thứ 2-Thứ 6: 7.30-17.00</li>
                                                <li>Thứ 7: 7.30-12.00</li>
                                                <li>Chủ nhật: Không làm việc</li>

                                            </ul>

                                        </li>

                                    </ul>

                                </div><!--/ [col]-->

                            </div><!--/ .row -->

                        </div><!--/ .theme_box -->

                    </section>

                </main><!--/ [col]-->

            </div><!--/ .row-->

        </div><!--/ .container-->

    </div><!--/ .page_wrapper-->
    
    <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

    <%= render 'blog/footer' %>
    
    <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

</div><!--/ [layout]-->

<!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

<%= render "home/social_feeds" %>

<!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->

<!-- Include Libs & Plugins
============================================ -->
<%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
<%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
<%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
<%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
<%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
<%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
<%= javascript_include_tag '/frontend/js/retina.min.js' %>
<%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>

<!-- Theme files
============================================ -->
<%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
<%= javascript_include_tag '/frontend/js/theme.core.js' %>