<div class="links">
    <h3 class="title-of-section">CHĂM SÓC KHÁCH HÀNG</h3>
    <ul>
        <li>
            <%= link_to 'Hướng dẫn mua hàng', policy_1_path, title: 'Hướng dẫn mua hàng' %>
        </li>
        <li>
            <%= link_to 'Hướng dẫn thanh toán', policy_2_path, title: 'Hướng dẫn thanh toán' %>
        </li>
        <li>
            <%= link_to 'Chính sách vận chuyển, giao nhận', policy_3_path, title: 'Chính sách vận chuyển, giao nhận' %>
        </li>
        <li>
            <%= link_to 'Chính sách bảo hành', policy_4_path, title: 'Chính sách bảo hành' %>
        </li>
        <li>
            <%= link_to 'Chính sách đổi trả hàng, hoàn tiền', policy_5_path, title: 'Chính sách đổi trả hàng, hoàn tiền' %>
        </li>
        <li>
            <%= link_to 'Quy định bảo mật thông tin', policy_6_path, title: 'Quy định bảo mật thông tin' %>
        </li>
    </ul>
</div>