<div class="links">
    <h3 class="title-of-section">THÔNG TIN WEBSITE</h3>
    <ul>
        <li><%= link_to 'Về chúng tôi', about_us_path, title: 'Về chúng tôi' %></li>
        <li><%= link_to 'Góp ý & Liên hệ', contact_path, title: 'Góp ý & Liên hệ' %></li>
        <li><%= link_to 'Tin tức công nghệ', blog_listing_path, title: 'Tin tức công nghệ' %></li>
        <li>
            <%= link_to 'Quy chế hoạt động trang TMĐT', policy_7_path, title: 'Quy chế hoạt động trang TMĐT' %>
        </li>
        <li>
            <%= link_to 'Các điều khoản & điều kiện', policy_8_path, title: 'Các điều khoản & điều kiện' %>
        </li>
        <li>
            <%= link_to 'Câu hỏi thường gặp', policy_9_path, title: 'Câu hỏi thường gặp' %>
        </li>
    </ul>
</div>