<%= form_for(@customer_order) do |f| %>
  <% if @customer_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_order.errors.count, "error") %> prohibited this customer_order from being saved:</h2>

      <ul>
      <% @customer_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :orderer_first_name %><br>
    <%= f.text_field :orderer_first_name %>
  </div>
  <div class="field">
    <%= f.label :orderer_last_name %><br>
    <%= f.text_field :orderer_last_name %>
  </div>
  <div class="field">
    <%= f.label :orderer_company_name %><br>
    <%= f.text_field :orderer_company_name %>
  </div>
  <div class="field">
    <%= f.label :orderer_email %><br>
    <%= f.text_field :orderer_email %>
  </div>
  <div class="field">
    <%= f.label :orderer_address_1 %><br>
    <%= f.text_field :orderer_address_1 %>
  </div>
  <div class="field">
    <%= f.label :orderer_address_2 %><br>
    <%= f.text_field :orderer_address_2 %>
  </div>
  <div class="field">
    <%= f.label :orderer_phone %><br>
    <%= f.text_field :orderer_phone %>
  </div>
  <div class="field">
    <%= f.label :orderer_fax %><br>
    <%= f.text_field :orderer_fax %>
  </div>
  <div class="field">
    <%= f.label :orderer_message %><br>
    <%= f.text_area :orderer_message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
