<p id="notice"><%= notice %></p>

<p>
  <strong>Orderer first name:</strong>
  <%= @customer_order.orderer_first_name %>
</p>

<p>
  <strong>Orderer last name:</strong>
  <%= @customer_order.orderer_last_name %>
</p>

<p>
  <strong>Orderer company name:</strong>
  <%= @customer_order.orderer_company_name %>
</p>

<p>
  <strong>Orderer email:</strong>
  <%= @customer_order.orderer_email %>
</p>

<p>
  <strong>Orderer address 1:</strong>
  <%= @customer_order.orderer_address_1 %>
</p>

<p>
  <strong>Orderer address 2:</strong>
  <%= @customer_order.orderer_address_2 %>
</p>

<p>
  <strong>Orderer phone:</strong>
  <%= @customer_order.orderer_phone %>
</p>

<p>
  <strong>Orderer fax:</strong>
  <%= @customer_order.orderer_fax %>
</p>

<p>
  <strong>Orderer message:</strong>
  <%= @customer_order.orderer_message %>
</p>

<%= link_to 'Edit', edit_customer_order_path(@customer_order) %> |
<%= link_to 'Back', customer_orders_path %>
