<!-- Main content -->
<div class="content-wrapper">

	<!-- Page header -->
	<div class="page-header">
		<div class="page-header-content">
			<div class="page-title">
				<h4><span class="text-semibold">Chỉnh sửa chuyên mục</span></h4>
			</div>
		</div>
	
		<div class="breadcrumb-line">
			<ul class="breadcrumb">
				<li><a href="#"><i class="icon-home2 position-left"></i> Trang chủ</a></li>
				<li><a href="<%= admin_menus_path %>">Quản lý chuyên mục</a></li>
				<li><a href="<%= admin_menus_path %>">Danh sách chuyên mục</a></li>
				<li class="active">Chỉnh sửa chuyên mục</li>
			</ul>
		</div>
	</div>
	<!-- /page header -->
	
	<!-- Content area -->
	<div class="content">
	
		<!-- Horizontal form options -->
		<div class="row">
			<div class="col-md-12">
	
				<!-- Basic layout-->
				<div class="panel panel-flat">
					<div class="panel-heading">
						<h5 class="panel-title">Chỉnh sửa chuyên mục</h5>
						<div class="heading-elements">
							<ul class="icons-list">
								<li><a data-action="collapse"></a></li>
								<li><a data-action="reload"></a></li>
								<li><a data-action="close"></a></li>
							</ul>
						</div>
					</div>
					
					<div class="panel-body">
						<%= render 'form' %>
					</div>
	
				</div>
				<!-- /basic layout -->
			</div>
		</div>
	
		<!-- Footer -->
		<%= render '/admin/manages/footer' %>
		<!-- /footer -->
	
	</div>
	<!-- /content area -->

</div>
<!-- /main content -->

<!-- Theme JS files -->
<%= javascript_include_tag '/backend/assets/js/core/libraries/jquery_ui/core.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/forms/styling/uniform.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/forms/styling/switchery.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/forms/selects/select2.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/forms/selects/bootstrap_multiselect.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/forms/selects/selectboxit.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/forms/selects/bootstrap_select.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/notifications/pnotify.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/notifications/noty.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/notifications/jgrowl.min.js' %>

<%= javascript_include_tag '/backend/assets/js/pages/form_layouts.js' %>
<%= javascript_include_tag '/backend/assets/js/core/app.js' %>
<%= javascript_include_tag '/backend/assets/js/pages/colors_teal.js' %>
<!-- /theme JS files -->