<!-- Main content -->
<div class="content-wrapper">

    <!-- Page header -->
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4><span class="text-semibold">Danh sách chuyên mục</span></h4>
            </div>
        </div>
    
        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><%= link_to '<i class="icon-home2 position-left"></i> Trang chủ'.html_safe, admin_manages_path %></li>
                <li><%= link_to 'Quản lý chuyên mục', admin_menus_path %></li>
                <li class="active">Quản lý menu chuyên mục</li>
            </ul>
        </div>
    </div>
    <!-- /page header -->
    
    <!-- Content area -->
    <div class="content">
    
        <!-- Basic datatable -->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <%= link_to 'Tạo chuyên mục mới', new_admin_menu_path, class: 'btn btn-primary' %>
                <hr/>
                <h5 class="panel-title">Danh sách <span class="text-semibold">chuyên mục</span></h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <li><a data-action="reload"></a></li>
                        <li><a data-action="close"></a></li>
                    </ul>
                </div>
            </div>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Cấp Menu</th>
                        <th>Tiêu đề</th>
                        <th>Chuyên mục liên quan</th>
                        <th>Ngày tạo</th>
                        <th>Trạng thái</th>
                        <th class="text-center">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                  <% @menus.each do |item| %>
                    <% if item.parent.count == 0 %>
                        <% item.update_level(1) %>
                            <tr>
                                <td>Menu cấp <%= item.level %></td>
                                <td><%= link_to item.title, [:admin, item] %></td>
                                <td>
                                    <% item.categories.each do |category| %>
                                        -- <%= category.name %><br/> 
                                    <% end %>
                                </td>
                                <td><%= item.created_at.strftime("%d/%m/%Y") %></td>
                                <td>
                                    <% if item.meta_keywords.present? && item.meta_description.present? %>
                                        <span class="label label-danger">ĐÃ SEO</span>
                                    <% end %>
                                    <span class="label label-info">ĐANG SỬ DỤNG</span>
                                </td>
                                <td class="text-center">
                                    <ul class="icons-list">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="icon-menu9"></i>
                                            </a>
            
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                  <%= link_to '<i class="glyphicon glyphicon-edit"></i> Sửa'.html_safe, edit_admin_menu_path(item) %>
                                                </li>
                                                <li>
                                                  <%= link_to '<i class="icon-cross2"></i> Xóa'.html_safe, [:admin, item], method: :delete, data: {confirm: 'Bạn có chắc xóa dòng này?'} %>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        <% item.children.each do |child_1| %>
                            <% child_1.update_level(2) %>
                            <tr>
                                <td>--- Menu cấp <%= child_1.level %></td>
                                <td><%= link_to child_1.title, [:admin, child_1] %></td>
                                <td>
                                    <% child_1.categories.each do |category| %>
                                        -- <%= category.name %><br/> 
                                    <% end %>
                                </td>
                                <td><%= child_1.created_at.strftime("%d/%m/%Y") %></td>
                                <td>
                                    <% if child_1.meta_keywords.present? && child_1.meta_description.present? %>
                                        <span class="label label-danger">ĐÃ SEO</span>
                                    <% end %>
                                    <span class="label label-info">ĐANG SỬ DỤNG</span>
                                </td>
                                <td class="text-center">
                                    <ul class="icons-list">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="icon-menu9"></i>
                                            </a>
            
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                  <%= link_to '<i class="glyphicon glyphicon-edit"></i> Sửa'.html_safe, edit_admin_menu_path(child_1) %>
                                                </li>
                                                <li>
                                                  <%= link_to '<i class="icon-cross2"></i> Xóa'.html_safe, [:admin, child_1], method: :delete, data: {confirm: 'Bạn có chắc xóa dòng này?'} %>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <% child_1.children.each do |child_2| %>
                                <% child_2.update_level(3) %>
                                <tr>
                                    <td>-------- Menu cấp <%= child_2.level %></td>
                                    <td><%= link_to child_2.title, [:admin, child_2] %></td>
                                    <td>
                                        <% child_2.categories.each do |category| %>
                                            -- <%= category.name %><br/>
                                        <% end %>
                                    </td>
                                    <td><%= child_2.created_at.strftime("%d/%m/%Y") %></td>
                                    <td>
                                        <% if child_2.meta_keywords.present? && child_2.meta_description.present? %>
                                            <span class="label label-danger">ĐÃ SEO</span>
                                        <% end %>
                                        <span class="label label-info">ĐANG SỬ DỤNG</span>
                                    </td>
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>
                
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                      <%= link_to '<i class="glyphicon glyphicon-edit"></i> Sửa'.html_safe, edit_admin_menu_path(child_2) %>
                                                    </li>
                                                    <li>
                                                      <%= link_to '<i class="icon-cross2"></i> Xóa'.html_safe, [:admin, child_2], method: :delete, data: {confirm: 'Bạn có chắc xóa dòng này?'} %>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            <% end %>
                        <% end %>
                    <% end %>
                  <% end %>
                </tbody>
            </table>
        </div>
        <!-- /basic datatable -->
    
        <!-- Footer -->
        <%= render '/admin/manages/footer' %>
        <!-- /footer -->
    
    </div>
    <!-- /content area -->

</div>
<!-- /main content -->

<!-- Theme JS files -->
<%= javascript_include_tag '/backend/assets/js/plugins/forms/styling/uniform.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/tables/datatables/datatables.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/forms/selects/select2.min.js' %>

<%= javascript_include_tag '/backend/assets/js/core/app.js' %>
<%= javascript_include_tag '/backend/javascripts/datatables_menu.js' %>
<!-- /theme JS files -->