<% products.each do |product| %>
    <div class="product-item style1 width-33 padding-0 col-md-3 col-sm-6 col-xs-6 equal-elem">
        <div class="product-inner">
            <div class="product-thumb">
                <div class="thumb-inner">
                    <% if !product.product_image.id.nil? %>
                        <%= link_to image_tag(product.product_image.image(:thumb214), alt: product.display_name),
                                    product_path(id: product.id, title: url_friendly(strip_tags(product.display_name))), title: product.display_name %>
                    <% else %>
                        <%= link_to image_tag('/hksite/images/no-image/thumb-214.jpg', alt: product.display_name),
                                    product_path(id: product.id, title: url_friendly(strip_tags(product.display_name))), title: product.display_name %>
                    <% end %>
                </div>
                <% if product.check_product_sale %>
                    <% if product.get_percent_sale.present? %>
                        <span class="onsale">-<%= product.get_percent_sale.to_f.round(0) %>%</span>
                    <% end %>
                <% end %>                
            </div>
            <div class="product-innfo">
                <div class="product-name">
                    <%= link_to truncate(product.display_name, length: 45),
                    product_path(id: product.id, title: url_friendly(strip_tags(product.display_name))), title: product.display_name %>
                </div>
                <% if product.has_price %>
                    <span class="price">
                        <% if product.check_product_sale %>
                            <ins><%= format_price(product.display_price) %></ins>
                            <del><%= format_price(product.product_info.old_price) %></del>
                        <% else %>
                            <ins><%= format_price(product.display_price) %></ins>
                        <% end %>
                    </span>                    
                <% else %>
                    <span class="price">
                        <p class="call-price">Liên hệ: (028) 3984 7690</p>
                    </span>
                <% end %>
                <div class="info-product">
                    <p>Thương hiệu: <%= product.get_manufacturer_name %></p>
                    <p>Bảo hành: <%= product.get_warranty %> tháng</p>
                </div>
                <% if product.has_price %>
                    <div class="single-add-to-cart">
                        <%= button_to 'Thêm vào giỏ hàng', line_items_path(product_id: product), class: "category-add-to-cart btn-add-to-cart" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>