<!doctype html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="vi" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Công Ty TNHH Giải Pháp CNTT Và TT Hoàng Khang | Hoang Khang Incotech</title>
        <meta name="description" content="Công Ty TNHH Giải Pháp CNTT Và TT Hoàng Khang chuyên cung cấp đa dạng các sản phẩm, thiết bị công nghệ từ các hãng lớn thế giới với giá cả, chất lượng, dịch vụ tốt.">
        <meta name="keywords" content="máy tính xách tay, máy tính để bàn, màn hình máy tính, máy chủ, máy in, máy chiếu, ram pc, ram laptop, mainboard, camera quan sát">
        <meta name="author" content="Công Ty TNHH Giải Pháp CNTT Và TT Hoàng Khang, Hoang Khang Incotech">

        <!-- Favicon -->
        <link rel="shortcut icon" type="/error/image/x-icon" href="/hksite/images/fav/favicon-32x32.png">
        
        <meta http-equiv="content-language" content="vi">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Google Fonts: Poppins -->
        <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" />

        <!-- Css File -->
        <link rel="stylesheet" href="/error/css/font-awesome.min.css">
        <link rel="stylesheet" href="/error/css/bootstrap.min.css">
        <link rel="stylesheet" href="/error/css/slicknav.min.css">
        <link rel="stylesheet" href="/error/css/normalize.css">
        <link rel="stylesheet" href="/error/css/style.css">
        <link rel="stylesheet" href="/error/css/responsive.css">
        <!-- Color Css -->
        <link id="colors" rel="stylesheet" href="/error/css/colors/defaults-color.css">

        <!-- Ie Css-->
        <link rel="stylesheet" href="/error/css/ie.css">

        <!-- Modernizer -->
        <script src="/error/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Preloader -->
        <div class="theme-preloader">
            <div class="sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
        
        <!-- Typed content -->
        <div id="typed-strings">
            <p>Thông Báo <span>Trang Không Được Tìm Thấy</span></p>
        </div>
        
        <!-- Main Wrappar Start -->
        <div class="gradientifybg-wrrapar">
            <!-- Main Header Start -->
            <header class="main-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="main-logo">
                                <%= link_to image_tag('/error/img/logo.png', alt: 'Hoang Khang Incotech', title: 'Hoang Khang Incotech'), root_path, title: 'Hoang Khang Incotech' %>
                            </div>
                        </div>
                        <div class="col-md-9">
                           <!-- Main Menu Here -->
                            <div class="main-menu visible-lg visible-md visible-sm">
                                <ul>
                                    <li><%= link_to 'Trang Chủ', root_path, title: 'Trang Chủ' %></li>
                                    <li><%= link_to 'Giới Thiệu', about_us_path, title: 'Giới Thiệu' %></li>
                                    <li><%= link_to 'Liên Hệ', contact_path, title: 'Liên Hệ' %></li>
                                </ul>
                            </div><!-- // End Main Menu -->
                        </div>
                    </div>
                </div>
            </header><!-- //End Main Header -->
            <!-- Main Content Start -->
            <section class="main-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="content-table">
                                <div class="content-table-cell">
                                    <h1><span class="animation-text">404</span><span class="error">Error</span></h1>
                                    <h3 class="themetyped"></h3>
                                    <ul class="return-menu">
                                        <li>
                                            <a href="<%= root_path %>" title="Trang Chủ">
                                                <i class="fa fa-home" aria-hidden="true"></i> Trang Chủ
                                            </a>
                                        </li>
                                        <li>
                                            <a href="<%= contact_path %>" title="Liên Hệ">
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>Liên Hệ
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- Social Links -->
                                    <ul class="social-menu">
                                        <li><a href="https://www.facebook.com/TimHangCongNghe/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="https://plus.google.com/u/4/104468622899810766789"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="https://www.youtube.com/channel/UC1_KyGKwBDeUpmWsbtrsdcg"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- //End Main Content -->
            <!-- Main Footer Start -->
            <footer class="main-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Footer Menu -->
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="<%= root_path %>">Hoàng Khang Store</a></li>
                                    <li><a href="http://timhangcongnghe.com/">Tìm Hàng Công Nghệ</a></li>
                                </ul>
                            </div><!-- // End Footer Menu -->
                        </div>
                    </div>
                </div>
            </footer><!-- //End Main Footer -->
        </div><!-- //End Main Wrappar-->
        
        <!-- Js file -->
        <script src="/error/js/vendor/jquery-2.2.4.min.js"></script>
        <script src="/error/js/bootstrap.min.js"></script>
        <script src="/error/js/jquery.gradientify.min.js"></script>
        <script src="/error/js/jquery.slicknav.min.js"></script>
        <script src="/error/js/typed.min.js"></script>
        <script src="/error/js/main.js"></script>
        <script>
        /*  ======================================
            Gradient Background
            ====================================== */
            $('.gradientifybg-wrrapar').gradientify({
                angle: '45deg', 
                fps: 60, 
                transition_time: 8,
                gradients: [
                    { start: [0, 92, 151], stop: [54, 55, 149] },
                    { start: [73, 157, 80], stop: [67, 10, 72] },
                    { start: [61, 126, 170], stop: [255, 228, 122] }
                ]
            });
        </script>
    </body>
</html>