<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Basic page needs
		============================================ -->
		<title>
			<% if content_for? :title %>
				<%= yield(:title) %> -
			<% end %>
			Hoàng Khang Incotech</title>
		<meta charset="utf-8">
		<meta name="author" content="">
		<% if content_for? :meta_description %>
			<meta name="description" content="<%= yield(:meta_description) %>">
		<% else %>
			<meta name="description" content="Trang chủ,Máy vi tính giá rẻ, sửa chữa máy tính, bảo hành máy tính, bảo trì máy tính, xử lý sự cố máy tính, máy scaner, máy chiếu, máy fax, tổng đài, máy văn phòng, máy đa chức năng, máy in laser, máy in màu">
		<% end %>
		<meta name="keywords" content="">

		<!-- Mobile specific metas
		============================================ -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Favicon
		============================================ -->
		<%= favicon_link_tag '/images/fav_icon.ico', rel: 'shortcut icon', type: 'image/x-icon' %>

		<!-- Google web fonts
		============================================ -->
		<%= stylesheet_link_tag '/frontend/css/css.css' %>

		<!-- Libs CSS
		============================================ -->
		<%= stylesheet_link_tag '/frontend/css/animate.css' %>
		<%= stylesheet_link_tag '/frontend/css/fontello.css' %>
		<%= stylesheet_link_tag '/frontend/css/bootstrap.min.css' %>
		
		<!-- Theme CSS
		============================================ -->
		<%= stylesheet_link_tag '/frontend/js/layerslider/css/layerslider.css' %>
		<%= stylesheet_link_tag '/frontend/js/owlcarousel/owl.carousel.css' %>
		<%= stylesheet_link_tag '/frontend/js/arcticmodal/jquery.arcticmodal.css' %>
		<%= stylesheet_link_tag '/frontend/css/style.css?v=8' %>
		<%= stylesheet_link_tag '/frontend/stylesheets/custom.css' %>
		
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109179189-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'UA-109179189-1');
		</script>

		<!-- JS Libs
		============================================ -->
		<%= javascript_include_tag '/frontend/js/modernizr.js' %>

		<!-- Old IE stylesheet
		============================================ -->
		<!--[if lte IE 9]>
			<%= stylesheet_link_tag '/frontend/css/oldie.css' %>
		<![endif]-->
		
		<!--Start of Zopim Live Chat Script-->
		<script type="text/javascript">
			window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
			d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
			_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
			$.src="//v2.zopim.com/?42jUdwfHE9zcqGg9Gmint2QSiXAzJldT";z.t=+new Date;$.
			type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
		</script>
		<!--End of Zopim Live Chat Script-->
		
		
	</head>
	<body>
		
		<%= yield %>
		
		
	</body>
</html>