<!DOCTYPE html>
<html lang="vi">
<head>
    <title>
		<% if @title.present? %>
			<%= @title %> | Hoang Khang Incotech
		<% else %>
			Công Ty TNHH Giải Pháp CNTT Và TT Hoàng Khang | Hoang Khang Incotech
		<% end %>
	</title>
    <meta charset="UTF-8">
    <% if @meta_keywords.present? %>
        <meta name="keywords" content="<%= @meta_keywords %>">
	<% else %>
        <meta name="keywords" content="máy tính xách tay, máy tính để bàn, màn hình máy tính, máy chủ, máy in, máy chiếu, ram pc, ram laptop, mainboard, camera quan sát">
	<% end %>
	<% if @meta_description.present? %>
        <meta name="description" content="<%= @meta_description %>">
	<% else %>
        <meta name="description" content="Công Ty TNHH Giải Pháp CNTT Và TT Hoàng Khang chuyên cung cấp đa dạng các sản phẩm, thiết bị công nghệ từ các hãng lớn thế giới với giá cả, chất lượng, dịch vụ tốt.">
	<% end %>
	<meta name="author" content="Công Ty TNHH Giải Pháp CNTT Và TT Hoàng Khang, Hoang Khang Incotech">
    <meta http-equiv="content-language" content="vi">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Favicon ============================================ -->
	<link rel="apple-touch-icon" sizes="57x57" href="<%= url_for('/hksite/images/fav/apple-icon-57x57.png') %>">
	<link rel="apple-touch-icon" sizes="60x60" href="<%= url_for('/hksite/images/fav/apple-icon-60x60.png') %>">
	<link rel="apple-touch-icon" sizes="72x72" href="<%= url_for('/hksite/images/fav/apple-icon-72x72.png') %>">
	<link rel="apple-touch-icon" sizes="76x76" href="<%= url_for('/hksite/images/fav/apple-icon-76x76.png') %>">
	<link rel="apple-touch-icon" sizes="114x114" href="<%= url_for('/hksite/images/fav/apple-icon-114x114.png') %>">
	<link rel="apple-touch-icon" sizes="120x120" href="<%= url_for('/hksite/images/fav/apple-icon-120x120.png') %>">
	<link rel="apple-touch-icon" sizes="144x144" href="<%= url_for('/hksite/images/fav/apple-icon-144x144.png') %>">
	<link rel="apple-touch-icon" sizes="152x152" href="<%= url_for('/hksite/images/fav/apple-icon-152x152.png') %>">
	<link rel="apple-touch-icon" sizes="180x180" href="<%= url_for('/hksite/images/fav/apple-icon-180x180.png') %>">
	<link rel="icon" type="image/png" sizes="192x192"  href="<%= url_for('/hksite/images/fav/android-icon-192x192.png') %>">
	<link rel="icon" type="image/png" sizes="32x32" href="<%= url_for('/hksite/images/fav/favicon-32x32.png') %>">
	<link rel="icon" type="image/png" sizes="96x96" href="<%= url_for('/hksite/images/fav/favicon-96x96.png') %>">
	<link rel="icon" type="image/png" sizes="16x16" href="<%= url_for('/hksite/images/fav/favicon-16x16.png') %>">
	<link rel="manifest" href="<%= url_for('/hksite/images/fav/manifest.json') %>">
	<%= favicon_link_tag '/hksite/images/fav/favicon-32x32.png', rel: 'shortcut icon', type: 'image/png' %>

    <%= stylesheet_link_tag '/hksite/css/animate.css' %>
    <%= stylesheet_link_tag '/hksite/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag '/hksite/css/font-awesome.css' %>
    <%= stylesheet_link_tag '/hksite/css/pe-icon-7-stroke.css' %>
    <%= stylesheet_link_tag '/hksite/css/owl.carousel.css' %>
    <%= stylesheet_link_tag '/hksite/css/chosen.css' %>
    <%= stylesheet_link_tag '/hksite/css/jquery.bxslider.css' %>
    <%= stylesheet_link_tag '/hksite/css/loaders.css' %>
    <%= stylesheet_link_tag '/hksite/css/style.css' %>
    <!--<%= stylesheet_link_tag '/hksite/css/custom.css?v=4.0' %>-->
    <%= stylesheet_link_tag '/hksite/css/custom.css?v=5.0' %>    
    <%= stylesheet_link_tag '/hksite/css/res-tablet.css' %>
    <%= stylesheet_link_tag '/hksite/css/res-phone.css' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109179189-1"></script>
    <%= yield(:metas) %>
	<meta property="og:image:width" content="1000" />
	<meta property="og:image:height" content="660" />
    
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109179189-1');
    </script>
</head>
<body class="index-opt-1">
    <div class="wrapper">
        <%= render 'modules/mobile_search' %>

        <%= render 'modules/quick_view' %>

        <!-- HEADER -->
        <%= render 'modules/header' %>
        <!-- END HEADER -->

        <!-- MAIN -->
        <%= yield %>
        <!-- end MAIN -->

        <!-- FOOTER -->
        <%= render '/modules/footer' %>
        <!-- end FOOTER -->
    </div>
    <a href="#" id="scrollup" title="Lên đầu trang">Lên đầu trang</a>

    <!-- jQuery -->
    <%= render '/modules/javascripts' %>
</body>
</html>
